[2016-05-03 07:41] abhsag24 opened #1 "Add documentation for cool flags"
we have some really cool flags and they can be mixed to do some really awesome stuff like  `coala -I -b <SOMEBEARNAME> -B` gives the info given Bear, we should document this!

[2016-05-03 07:44] abhsag24 opened #2 "document all entry-points"
IMO we should have a small description somewhere in the tutorial,  like we do with `exit_codes`

[2016-05-08 08:04] sils1297 opened #4 "Move docs over here"

[2016-07-19 16:58] underyx opened #5 "Contribute a docset to Dash"
Dash is a documentation searcher/browser app for macOS (it also has independent reimplementations for other platforms).

https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset

[2016-07-19 17:06] sils1297 commented on #5
Can you open an issue at dash?

On 19 Jul 2016 18:58, "Bence Nagy" <notifications@github.com> wrote:

[2016-07-19 17:17] underyx commented on #5
I'd rather not, the bears don't even have HTML doc generation set up yet I believe, and I really doubt that anyone would just pick up requests from the Dash repo.

I wanted to open this issue in some meta issue tracker for coala but this is the best repo I've found. Getting coala on devdocs.io would be an example of an issue that would be related and nice to track in the same place as this one. If

[2016-07-20 15:07] sils opened #6 "Blogory"
http://blogory.org/add-content
Think we should add coala or something more generic even.

[2016-07-20 15:08] sils1297 commented on #6
@sims1253 could you do this? I imagine this to be rather uick.

[2016-07-21 13:02] sims1253 commented on #6
where do you want to put coala? are we a framework?

[2016-07-21 13:17] sils1297 commented on #6
yeah

[2016-08-18 11:55] #4 closed

[2016-08-18 11:56] Adrianzatreanu opened #10 "Fix API"
I don't know how the API was getting generated in coala, but we should do it here too.

Actually maybe even not, as we want to do a nice API documentation anyway, so if anyone feels like doing it, we'd love it!

[2016-08-19 11:27] Adrianzatreanu opened #20 "Better API documentation"
_From @Adrianzatreanu on August 17, 2016 12:52_

We need a way better API documentation, such as Python API docs are.

_Copied from original issue: coala-analyzer/coala#2635_

[2016-08-19 11:29] Adrianzatreanu opened #21 "Linter_Bears.rst: Link to API docs"
_From @SanketDG on August 15, 2016 20:56_

_Copied from original issue: coala-analyzer/coala#2614_

[2016-08-19 11:29] Adrianzatreanu commented on #21
_From @swrj on August 17, 2016 17:26_

Could you clarify what is needed to be done?

[2016-08-19 11:29] Adrianzatreanu commented on #21
_From @SanketDG on August 17, 2016 18:3_

@swrj sure!

So in Linter_Bears.rst, there is this piece of text:

documentation. It's more versatile than described in this little tutorial.

The task is to link the text "API documentation" to our api docs http://coala.readthedocs.io/en/latest/API/modules.html

Let us know if you'd like to work on this.

[2016-08-19 11:29] Adrianzatreanu commented on #21
_From @Makman2 on August 17, 2016 18:24_

@SanketDG do we have the possibility to use some "relative" link, so we don't need to link hardcodedly to our website?

[2016-08-19 11:29] Adrianzatreanu commented on #21
_From @SanketDG on August 17, 2016 18:48_

Yes we can by using the `:doc:` thing I think

[code]

[2016-08-19 11:38] Adrianzatreanu opened #22 "Documentation: Add docs for all the metadata attributes"
_From @sils1297 on July 24, 2016 12:23_

CC @Udayan12167 @Adrianzatreanu

_Copied from original issue: coala-analyzer/coala#2553_

[2016-08-19 11:38] Adrianzatreanu commented on #22
_From @gitmate-bot on July 24, 2016 12:23_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-19 11:38] Adrianzatreanu commented on #22
_From @arush0311 on August 12, 2016 19:2_

Can you tell me what you mean by metadata attributes and where they can be found?

[2016-08-19 11:38] Adrianzatreanu commented on #22
I think he's referring to the attributes found in https://github.com/coala-analyzer/coala/blob/master/coalib/bears/Bear.py , such as REQUIREMENTS, CAN_DETECT, LICENSE, etc :D

[2016-08-19 11:38] Adrianzatreanu commented on #22
_From @arush0311 on August 13, 2016 16:44_

Can I take this? I might need some help though.

[2016-08-19 11:38] Adrianzatreanu commented on #22
feel free to, i can help you if needed

[2016-08-19 11:38] Adrianzatreanu commented on #22
This is being moved to https://github.com/coala-analyzer/documentation, please pick it up from there, thank you!

[2016-08-19 11:39] Adrianzatreanu opened #23 "Docs: Rename section "List of module (generated)" -> "API Reference""
_From @Makman2 on July 30, 2016 16:52_

If someone needs the API, he/she looks for the word "API". Also "(generated)" does not really help ^^

_Copied from original issue: coala-analyzer/coala#2575_

[2016-08-19 11:39] Adrianzatreanu commented on #23
_From @gitmate-bot on July 30, 2016 16:52_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-19 11:40] Adrianzatreanu opened #24 "In the README.rst file, the statement above the command prompt should be an example specific to Python"
_From @RohanVB on July 24, 2016 11:1_

The current command prompt is displayed as :

Since we are giving an example, the statement above the command prompt should be specific to Python.

_Copied from original issue: coala-analyzer/coala#2551_

[2016-08-19 11:40] Adrianzatreanu commented on #24
_From @gitmate-bot on July 24, 2016 11:1_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-19 11:40] Adrianzatreanu commented on #24
_From @sils1297 on July 24, 2016 12:6_

Isn't that obvious? I feel like an example with a real language is more useful than "insert language". Not that I'm sure...

[2016-08-19 11:40] Adrianzatreanu commented on #24
_From @RohanVB on July 24, 2016 12:10_

It's obvious, but I don't feel its correct. If python has to be in the prompt, the sentence above should be an example specific to using it with terminal, making it 'For example, to see what coala can do with Python, run:' Because right now one is generalised, the other is specific.

[2016-08-19 11:40] Adrianzatreanu commented on #24
_From @sils1297 on July 24, 2016 12:10_

cool so let's change the explanation above?

[2016-08-19 11:40] Adrianzatreanu opened #25 "Linter: Documentation for default severity map not complete"
_From @Makman2 on July 23, 2016 14:49_

Here: https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L686

though this is the map currently supported:
[code]

_Copied from original issue: coala-analyzer/coala#2537_

[2016-08-19 11:40] Adrianzatreanu commented on #25
_From @gitmate-bot on July 23, 2016 14:49_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-19 11:40] Adrianzatreanu opened #26 "No generated API docs for Linter"
_From @Makman2 on July 23, 2016 14:47_

https://coala.readthedocs.io/en/latest/API/coalib.bearlib.abstractions.html#module-coalib.bearlib.abstractions.Linter

_Copied from original issue: coala-analyzer/coala#2536_

[2016-08-19 11:40] Adrianzatreanu commented on #26
_From @gitmate-bot on July 23, 2016 14:47_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-19 11:40] Adrianzatreanu commented on #26
_From @sils1297 on July 30, 2016 8:47_

@Makman2 can you try reproducing this locally? This is a documentation issue and not a real user facing bug so I'm unlabelling this.

[2016-08-19 11:40] Adrianzatreanu commented on #26
_From @Makman2 on July 30, 2016 16:56_

yes I have the same locally. No errors on API generation^^

[code]

[2016-08-19 11:41] Adrianzatreanu opened #27 "Codestyle: Add continuation line policy"
_From @fneu on July 15, 2016 21:2_

Basically we are already enforcing a style, where multiple-line lists, dicts, tuples, function definitions, function calls, and any such structures either:

- stay in one line
- span multiple lines that list one parameter/ item each

Since this is not covered by PEP8 we should add a section to our [codestyle](https://github.com/coala-analyzer/coala/blob/master/d

[2016-08-19 11:41] Adrianzatreanu commented on #27
_From @gitmate-bot on July 15, 2016 21:2_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:41] Adrianzatreanu opened #28 "Make the project specific bear feature more discoverable"
_From @underyx on July 14, 2016 13:18_

After https://github.com/coala-analyzer/coala/issues/2450 is closed there should be a default directory inside project directories where custom bears can be added. This feature is really useful, but hard to come across right now.

area/documentation

_Copied from original issue: coala-analyzer/coala#2451_

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @gitmate-bot on July 14, 2016 13:18_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @sils1297 on July 14, 2016 13:37_

We should also write about the `.bears` directory after it exists, see https://github.com/coala-analyzer/coala/issues/2450

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @underyx on July 15, 2016 10:48_

How about adding a new flag/subcommand to `coala` that generates a boilerplate bear in `.coabears/`, like cookiecutter? We could also extend that feature to make it really easy to submit the bear for inclusion in the `coala-bears` project.

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @sils1297 on July 15, 2016 10:49_

CC @mr-karan that would be part of his tool

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @mr-karan on July 15, 2016 10:55_

I did something of this sorts for coala-bears @underyx https://gitlab.com/coala/coala-bear-management

[2016-08-19 11:41] Adrianzatreanu commented on #28
_From @sils1297 on July 15, 2016 11:4_

@mr-karan we'll need this for normal bears as well

[2016-08-19 11:42] Adrianzatreanu opened #29 "Videos for newcomers doc"
_From @AbdealiJK on July 6, 2016 9:20_

In the newcomers docs we should have an ascii cinema or Video tutorial on how to use git for our workflow.
Just makes it so much easier because people get confused about `rebase -i` and so on frequently.

I'm thinking 3 videos:
- How to make a contribution: (Clone, create branch, edit file, commit, push, possibly also add how to make a PR if it's not ascii c

[2016-08-19 11:42] Adrianzatreanu commented on #29
_From @gitmate-bot on July 6, 2016 9:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:42] Adrianzatreanu commented on #29
_From @hypothesist on July 11, 2016 11:15_

I made this a week ago: https://asciinema.org/a/78683

[2016-08-19 11:42] Adrianzatreanu commented on #29
_From @hypothesist on July 11, 2016 11:16_

It kinda covers most points. It could be more comprehensive though. Anyway, this is the source file I used to generate that: https://github.com/hypothesist/termtype/blob/master/rebase_tutorial.example

[2016-08-19 11:42] Adrianzatreanu commented on #29
that's cool, looking forward to someone adding them

[2016-08-19 11:43] Adrianzatreanu opened #30 "docs: Clarify the coala in a container docs"
_From @Redridge on July 3, 2016 10:32_

The docs are a bit vague about what and how should be done.
http://coala.readthedocs.io/en/latest/Users/Container.html#coala-on-gitlab-ci

_Copied from original issue: coala-analyzer/coala#2421_

[2016-08-19 11:43] Adrianzatreanu commented on #30
_From @gitmate-bot on July 3, 2016 10:32_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:43] Adrianzatreanu opened #31 "Add default PR description"
_From @AbdealiJK on June 23, 2016 4:6_

I was submitting a patch at `scikit-image` and I was really impressed with their default PR message:

[code]

The checklist is really nice and serves as a better reminder of "things to do" as compared to writing it in a documentation.

_Copied from original issue: coala-analyzer/coala#2389_

[2016-08-19 11:44] Adrianzatreanu commented on #31
_From @gitmate-bot on June 23, 2016 4:6_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:44] Adrianzatreanu commented on #31
_From @AbdealiJK on June 23, 2016 4:7_

You can find their other templates and this one at https://github.com/scikit-image/scikit-image/tree/master/.github

[2016-08-19 11:44] Adrianzatreanu commented on #31
_From @hypothesist on July 2, 2016 15:58_

We could also add something about doctests. Also modify the first check point to something like "Run `coala` on the project before submitting" as that should pretty much cover any code standards issue. (We could also convince `scikit-image` devs to use coala.)

[2016-08-19 11:48] Adrianzatreanu opened #32 "Git Hub Help -- Squashing your Commits"
_From @jschwarzwalder on June 14, 2016 3:45_

https://coala.readthedocs.io/en/latest/Users/Tutorials/Git_Help.html#squashing-your-commits

I"ve learned a few things in the past two days about where people can get stuck when trying to do a pull request.

1) DON"T HIT UPDATE
If you get a message that your branch is out of date you need to follow these steps:
Hi,

it looks like your PR is out of date

[2016-08-19 11:48] Adrianzatreanu commented on #32
_From @gitmate-bot on June 14, 2016 3:45_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:48] Adrianzatreanu commented on #32
_From @jschwarzwalder on June 14, 2016 3:54_

![branch needs merged](https://cloud.githubusercontent.com/assets/8946787/16030718/d0fef744-31a8-11e6-8e3b-313121cec629.png)
https://files.gitter.im/coala-analyzer/coala/9tGJ/blob

[2016-08-19 11:48] Adrianzatreanu commented on #32
_From @sils1297 on June 17, 2016 8:21_

@jschwarzwalder thanks for reporting this and sorry for not coming back to this earlier: I think we'll need to converse about what to do best here, maybe we'll find some time where we can do a VoiP call with you, me, @sims1253 , @Makman2 and possibly others to speak about the contribution process and what options we have to make it simpler.

[2016-08-19 11:48] Adrianzatreanu opened #33 "Tutorial Getting Started"
_From @jschwarzwalder on June 12, 2016 20:20_

The [first action](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#let-s-start) you direct the new user to try is to list all the bears that are supported by C.

This can be confusing and overwhelming for very first users.

Maybe you should walk them through running a bear that works for all languages on one specific file and then

[2016-08-19 11:48] Adrianzatreanu commented on #33
_From @gitmate-bot on June 12, 2016 20:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:48] Adrianzatreanu commented on #33
_From @Makman2 on June 12, 2016 21:21_

Yeah this is kind of too much and unrelated for the following tutorial, we should just remove that :+1:

[2016-08-19 11:48] Adrianzatreanu opened #34 "Mention somewhere that `--show-bear-languages` can accept multiple languages"
_From @hypothesist on June 11, 2016 11:29_

After @sils1297 's PR is merged, it's `--filter-by-language`.

We can give space separated langauge names. We should also possibly introduce comma-separated.

_Copied from original issue: coala-analyzer/coala#2311_

[2016-08-19 11:48] Adrianzatreanu commented on #34
_From @gitmate-bot on June 11, 2016 11:29_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:49] Adrianzatreanu opened #35 "Show for `--apply-patches` what command is actually shortcutted"
_From @Makman2 on June 6, 2016 2:16_

--> `-S default_actions="*: ApplyPatchAction"`

_Copied from original issue: coala-analyzer/coala#2303_

[2016-08-19 11:49] Adrianzatreanu commented on #35
_From @gitmate-bot on June 6, 2016 2:16_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:49] Adrianzatreanu commented on #35
_From @Makman2 on June 6, 2016 2:17_

Do we want this to appear inside the argparse help for `--apply-patches`?

[2016-08-19 11:49] Adrianzatreanu opened #36 "Document bear API"
_From @sils1297 on June 4, 2016 16:20_

_Copied from original issue: coala-analyzer/coala#2276_

[2016-08-19 11:49] Adrianzatreanu commented on #36
_From @gitmate-bot on June 4, 2016 16:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:49] Adrianzatreanu commented on #36
_From @abhsag24 on June 5, 2016 7:37_

@sils1297 you mean the bear class?

[2016-08-19 11:49] Adrianzatreanu commented on #36
it's unclear to me either, what exactly do you want to be documented?

[2016-08-19 11:49] Adrianzatreanu commented on #36
_From @sils1297 on June 17, 2016 8:42_

The API a bear writer can use to create a bear

[2016-08-19 11:49] Adrianzatreanu commented on #36
So you basically want a website on readthedocs where one could specify all the methods for the class which he has available and how he should write that bear?

[2016-08-19 11:49] Adrianzatreanu commented on #36
_From @abhsag24 on June 17, 2016 14:0_

so we should have tutorials for `Diff` and `SourceRange` too right?

[2016-08-19 11:49] Adrianzatreanu commented on #36
_From @sils1297 on June 17, 2016 14:2_

Currently if you want to write a bear, you have to go through the tutorial
which is not always what you want, sometimes you want a quick API reference
and work out your own stuff

[2016-08-19 11:52] Adrianzatreanu opened #37 "docs: Document usage of `python -m pip` if pip is not working"
_From @Makman2 on June 3, 2016 23:53_

On windows sometimes pip is screwed, we maybe should document the usage of `python -m pip` then.

Though I'm not sure, it's in fact a platform problem^^

_Copied from original issue: coala-analyzer/coala#2261_

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @gitmate-bot on June 3, 2016 23:53_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @jschwarzwalder on June 4, 2016 0:1_

On a Windows 8 a machine, trying to get coala up and running user found these instructions:
http://coala-analyzer.org/#details

`sudo pip3 install coala-bears` does not work, `pip3 install coala-bears` does not work, `pip install coala-bears` does not work.

We tried to add C:\Python34\Scripts to the path, and reinstalling Python 3.5 and continued to get

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @AbdealiJK on June 4, 2016 1:9_

Could you provide more details about how python was installed?
It seems to me as though python2, python3, pip2 and pip3 are getting confused by the system.

So:
Which versions of python are installed? Are these installed from the python exe at python.org ?
What's in the path (related to python) ?

I think:
"C:\Python34\python.exe" -m pip install coala-bears
S

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @jschwarzwalder on June 4, 2016 1:19_

I have Python27 and Python34 installed on my computer
I had someone who did this for me on Monday using[ this tutorial ](http://tutorial.djangogirls.org/en/installation/)from DjangoGirls
It is possible they downloaded from an alternative source

I had to add those folders to my path
Before today I only have Python27/Scripts in my path

As part of my tro

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @jschwarzwalder on June 4, 2016 1:21_

I downloaded Python 3.5.1 and reinstalled it from https://www.python.org/downloads/ to try and solve the problem but continued to get the issue.

[2016-08-19 11:52] Adrianzatreanu commented on #37
_From @jschwarzwalder on June 4, 2016 1:25_

We were able to use `python3 -m pip install coala-bears` and found success

[2016-08-19 11:52] Adrianzatreanu opened #38 "Suggest usage of `git push --force-with-lease` instead of `git push -f` in rebasing tutorials"
_From @underyx on June 3, 2016 19:35_

area/documentation

_Copied from original issue: coala-analyzer/coala#2250_

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @gitmate-bot on June 3, 2016 19:35_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @sils1297 on June 3, 2016 22:22_

I'm not fully sure about that because you have to explain more to new people.

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @Makman2 on June 4, 2016 0:51_

I'm against this as I agree with @sils1297 , the command looks like it needs more explanation because of the "remote-tip-need-to-be-equal" protection, with our review system there is in principle no possibility to merge such malicious branches (master is protected by GitHub, notification in PR that branch is out-of-date, rultor refuses merge). Our workflow is

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @underyx on June 4, 2016 1:1_

Can't really refute all that, but just to reply to this one point:

I've deleted my own commit before with a force push when I forgot I had already changed something with the github.com editor :D

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @Makman2 on June 4, 2016 1:10_

don't do so :3

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @sils1297 on June 17, 2016 8:46_

so what do we do? I'm currently leaning towards the simpler solution. Might also be because I'm lazy and I'm in issue closing mood though :P

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @Makman2 on June 17, 2016 16:26_

maybe we can mention inside a note "if you want more protective behaviour, you can also use `--force-with-lease`" or so^^

[2016-08-19 11:52] Adrianzatreanu commented on #38
_From @sils1297 on June 17, 2016 17:53_

I like adding a note!
On 17 Jun 2016 6:26 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-08-19 11:54] Adrianzatreanu opened #39 "Linter: Document parameter-passing to the executable better"
_From @Makman2 on June 2, 2016 23:21_

Many people seem to struggle with the fact that there's no shell expansion any more, quotes and stuff are removed as they are special characters for grouping stuff.

We need to document that more properly I think^^

_Copied from original issue: coala-analyzer/coala#2226_

[2016-08-19 11:54] Adrianzatreanu commented on #39
_From @gitmate-bot on June 2, 2016 23:21_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:54] Adrianzatreanu opened #40 "Add documentation for all settings exposed by coala --help"
_From @sils1297 on June 2, 2016 18:6_

@tltuan this might be something we could do together

_Copied from original issue: coala-analyzer/coala#2215_

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @gitmate-bot on June 2, 2016 18:6_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @sils1297 on June 2, 2016 18:12_

this should go into the coafile specification as a chapter "Common settings"

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @sils1297 on June 3, 2016 1:59_

and maybe make an example

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @hypothesist on July 23, 2016 14:30_

@sils1297 Any status on this?

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @sils1297 on July 23, 2016 15:6_

Nope, nobody is assigned

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @hypothesist on July 23, 2016 16:33_

1.0 then

[2016-08-19 11:54] Adrianzatreanu commented on #40
_From @sils1297 on July 23, 2016 16:41_

Can't we somehow have this?

[2016-08-19 11:55] Adrianzatreanu opened #41 "Self_Correcting_Bears.rst needs an update"
_From @Makman2 on May 17, 2016 19:22_

Linter v2 API is there, should be used instead :+1:

_Copied from original issue: coala-analyzer/coala#2160_

[2016-08-19 11:55] Adrianzatreanu commented on #41
_From @gitmate-bot on May 17, 2016 19:22_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:56] Adrianzatreanu opened #42 "Document Config Generation"
_From @sils1297 on May 14, 2016 18:51_

_Copied from original issue: coala-analyzer/coala#2145_

[2016-08-19 11:56] Adrianzatreanu commented on #42
_From @gitmate-bot on May 14, 2016 18:51_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:56] Adrianzatreanu commented on #42
_From @sils1297 on May 14, 2016 18:51_

for linter

[2016-08-19 11:56] Adrianzatreanu commented on #42
_From @AbdealiJK on May 30, 2016 16:44_

I think the best way is to make a website which has a table of the configs being used right now, the documentation related to that param, and the bears it's being used in. This website/webpage should have a search box for easy searching and should be auto generated from the bears itself.
This webpage would help third party bear writers too ! And would be a

[2016-08-19 11:56] Adrianzatreanu commented on #42
_From @sils1297 on May 30, 2016 16:54_

@AbdealiJK are you sure this comment was on the right issue? Did you mean to comment on https://github.com/coala-analyzer/coala-bears/issues/460 ?

[2016-08-19 11:56] Adrianzatreanu commented on #42
_From @AbdealiJK on May 30, 2016 18:3_

Yes indeed. I confused the issues.
It was meant for https://github.com/coala-analyzer/coala-bears/issues/460

[2016-08-19 11:57] Adrianzatreanu opened #43 "Add crosstesting in the docs"
_From @AbdealiJK on April 26, 2016 1:52_

It would be nice to give a method of things to add if we want to crosstest things between coala and coala-bears as @Makman2 had to do for the Linter stuff.
Would be good to add to docs (so that if the branch which did this last time was deleted, it doesnt matter)

The last PR with crosstest is here: https://github.com/coala-analyzer/coala-bears/pull/314

A

[2016-08-19 11:57] Adrianzatreanu commented on #43
_From @gitmate-bot on April 26, 2016 1:52_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:57] Adrianzatreanu commented on #43
_From @Makman2 on April 26, 2016 11:0_

I think that doesn't belong to the docs :O Let's just keep my branch and everything is fine, we adjust it as needed^^ As we hack quite into the CI we shouldn't make this "official"^^

[2016-08-19 11:57] Adrianzatreanu commented on #43
_From @AbdealiJK on April 26, 2016 11:59_

Then I think we should clean it up and make an easy method of doing this

On Tue, Apr 26, 2016 at 4:30 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-08-19 11:57] Adrianzatreanu commented on #43
_From @Makman2 on April 26, 2016 13:45_

Is there an easy way? :O

[2016-08-19 11:57] Adrianzatreanu opened #44 "Add google analytics to docs"
_From @AbdealiJK on April 23, 2016 14:16_

readthedocs should have the google analytics id (can be found below). Need to check the docs of readthedocs and figure out how to do this, or just embed this html code into their code using RST.

[code]

_Copied from original issue: coala-analyzer/coala#2040_

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @gitmate-bot on April 23, 2016 14:16_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @tfar on April 25, 2016 6:33_

Don't forget to let the viewers of the documentation know that they are being watched and tracked if you happen to decide that adding visitor tracking to a online documentation of a software project provides enough useful information to be worthwhile.

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @sils1297 on April 25, 2016 6:43_

@tfar hey are you against us doing this? We'd be happy to discuss this, privacy is important. Where would be the right place to mention something like this?

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @sils1297 on April 25, 2016 6:59_

So my personal take on this is I'm not fully sure. The whole internet watches you already, you're being watched by GitHub as well, possibly readthedocs does that already. It's simply not possible to not watch users in a way just by observing server load. Now, taking a tool like Google Analytics gets us some more information that may help improving documenta

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @AbdealiJK on April 25, 2016 7:20_

Google analytics would help track how many people find the documentation and how they find the documentation. It also has demographic information helping us plan conferences (maybe). This would help us in making things better.

All in all: I prefer having more data even if I don't use it. But that's subjective and the community should decide (hence the iss

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @Uran198 on May 4, 2016 18:23_

Adding this should be simple according to http://www.drmaciver.com/2015/04/getting-google-analytics-on-readthedocs/
I agree with @AbdealiJK that this can help us improve documentation and the project itself.

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @tushar-rishav on May 22, 2016 20:47_

I think adding analytics script would also help us keep track of the bouncing rate. Things like how far user has read the docs by scrolling can be also be known. Overall I think it would be useful to have it if we provide a message somewhere saying that we are tracking your behaviour on this doc page.

[2016-08-19 11:57] Adrianzatreanu commented on #44
_From @Makman2 on May 22, 2016 22:33_

like a cookie notification on other websites :)

[2016-08-19 11:57] Adrianzatreanu opened #45 "docs: Add information about long issue discussions handling"
_From @Uran198 on April 13, 2016 16:19_

From the discussion in #1875.
It should be documented that after the long discussion, should be created new issue with clearly defined task.

_Copied from original issue: coala-analyzer/coala#2010_

[2016-08-19 11:57] Adrianzatreanu commented on #45
_From @gitmate-bot on April 13, 2016 16:19_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:57] Adrianzatreanu commented on #45
_From @AbdealiJK on April 25, 2016 9:3_

Where should this be added ? which file ?

[2016-08-19 11:57] Adrianzatreanu commented on #45
_From @Uran198 on April 25, 2016 16:2_

I think either in the wiki, at Maintainer's corner, or in the docs at getting involved.

[2016-08-19 11:57] Adrianzatreanu commented on #45
_From @sils1297 on April 25, 2016 16:3_

Good idea.

[2016-08-19 11:58] Adrianzatreanu opened #46 "docs: Add information about the use of labels"
_From @Uran198 on April 13, 2016 16:16_

From the discussion in https://github.com/coala-analyzer/coala/issues/1875.
There should be an information in the contribution guide on what some labels imply, i. e.:
- if there is difficulty to the issue, then it is ready to be worked on.
- if there are no labels - it's pending review
- if there is a label `status/needs design` or `status/needs info` - the

[2016-08-19 11:58] Adrianzatreanu commented on #46
_From @gitmate-bot on April 13, 2016 16:16_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:58] Adrianzatreanu opened #47 "Should all the documentation be in docstrings?"
_From @Uran198 on March 26, 2016 20:49_

Branched from https://github.com/coala-analyzer/coala/issues/1967

Is it a good idea to have such a large docstrings? Mostly, names are self descriptive and this huge kind of stuff can be added to documentations or references. Then, for some bears we can use `**kwargs` and just pass parameters as they are. Possibly, documenting each of them.

@sils1297 comm

[2016-08-19 11:58] Adrianzatreanu commented on #47
_From @gitmate-bot on March 26, 2016 20:50_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:58] Adrianzatreanu commented on #47
_From @Makman2 on March 26, 2016 22:19_

I'm in for this, see my comment in #1967.

[2016-08-19 11:58] Adrianzatreanu commented on #47
_From @Makman2 on March 26, 2016 22:19_

[2016-08-19 11:58] Adrianzatreanu commented on #47
_From @Uran198 on March 27, 2016 6:57_

My concern is that it is not very convenient to have functions with more than 20 parameters and if you're even familiar with the program that bear uses to do it calculations you will still have to go either the code or huge signature to figure out if everything is the same and what not. They may even have these tools configured, but they will not be able to

[2016-08-19 11:58] Adrianzatreanu commented on #47
_From @Makman2 on March 27, 2016 15:21_

But if you are not familiar with the code, it's way easier to read a docstring instead of code (especially if you are new to python).
Function with more than 10 parameters are quite rare in our codebase, they would only likely appear in bear signatures, and that's way easier to have in docstrings than in external files.

[2016-08-19 11:59] Adrianzatreanu opened #48 "New docstring format"
_From @Makman2 on March 26, 2016 20:6_

Our current one sucks if you have more than brief single-line documentation (especiall see inside coala-bears JSHintBear).
I would go for this layout:

[code]
Opinions?

_Copied from original issue: coala-analyzer/coala#1967_

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @gitmate-bot on March 26, 2016 20:6_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @sils1297 on March 26, 2016 20:8_

@Makman2 cool, document it, ship it!

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @Uran198 on March 26, 2016 20:17_

Why would you need both brief and detailed descriptions?

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @Makman2 on March 26, 2016 20:30_

@Uran198 I just used both so you see both are aligned like before^^

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @Uran198 on March 26, 2016 20:39_

@Makman2 Then it's fine. :)
I think we should also note if we should use `'''` or `"""` for docstrings.
Also, is it a good idea to have such a large docstrings? Mostly, names are self descriptive and this huge kind of stuff can be added to documentations or references. Then, for some bears we can use `**kwargs` and just pass parameters as they are. Possibly

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @sils1297 on March 26, 2016 20:41_

(FWIW I think we should have a brief *and* detailed description btw. for bears so we can show the brief description in some contexts and the detailed one in others when the user requests more info about the bear.)

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @sils1297 on March 26, 2016 20:43_

I personally really like that you can write all the documentation for the
bear in the code and you don't have to think about where to write docs. And
coala (i.e. we) takes care of organizing it properly for the user. This is
going offtopic and we should make an own issue btw.

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @Makman2 on March 26, 2016 22:15_

Definitely `"""`, as this is PEP conform, `'''` is no docstring specifier according to the PEP^^

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @Makman2 on March 26, 2016 22:18_

I think API-documentation belongs to the code, then you have directly the code beneath. Even if some names are self-descriptive, often types/parameter inputs must be specified, and Error behavior needs also specification. I want them too like we have now^^

[2016-08-19 11:59] Adrianzatreanu commented on #48
_From @sils1297 on April 25, 2016 8:3_

This needs to be documented and then we can use it consistently.

[2016-08-19 11:59] Adrianzatreanu commented on #48
This should be documented in Codestyle.rst and maybe then we can use it :)

[2016-08-19 12:01] Adrianzatreanu opened #49 "Annotations are used inconsistently"
_From @Uran198 on March 8, 2016 18:25_

Only in some files there is use of [function annotations](https://www.python.org/dev/peps/pep-3107/).
It would be good to either use annotations everywhere or don't use them at all.

_Copied from original issue: coala-analyzer/coala#1848_

[2016-08-19 12:01] Adrianzatreanu commented on #49
_From @sils1297 on March 8, 2016 18:28_

I think we should define some guidelines about when and when not to use
them.

We need them for enforce signature and the bears, otherwise they're mostly
useless except if the type isn't obvious from the name, not sure what's the
best way to guide this
On 8 Mar 2016 7:25 p.m., "Attila" <notifications@github.com> wrote:

[2016-08-19 12:01] Adrianzatreanu commented on #49
_From @Makman2 on March 8, 2016 22:1_

That's the problem, if you don't do anything with them they are quite useless. Only `@enforce_signature` accesses them and `Bear.get_metadata()` to pass coafile settings down to the custom defined `run()` with your own signature.
like @sils1297 says, we need to discuss what's best^^

[2016-08-19 12:01] Adrianzatreanu commented on #49
_From @sils1297 on March 21, 2016 20:44_

Alright, we probably want some docs about annotations and the enforce_signature stuff, @Uran198 would that help you?

[2016-08-19 12:01] Adrianzatreanu commented on #49
_From @Uran198 on March 22, 2016 4:44_

Yes, I think guidelines in docs and consistency of code with those guidelines would be enough.

[2016-08-19 12:04] Adrianzatreanu opened #50 "Add descriptions to coalang keys"
_From @hypothesist on March 6, 2016 12:44_

https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/languages/definitions/__init__.py is currently undocumented.

_Copied from original issue: coala-analyzer/coala#1824_

[2016-08-19 12:04] Adrianzatreanu commented on #50
_From @Makman2 on March 6, 2016 16:11_

What keys are missing?

[2016-08-19 12:04] Adrianzatreanu commented on #50
_From @hypothesist on March 6, 2016 16:11_

The _descriptions_ of the keys is missing, not the key itself.

[2016-08-19 12:04] Adrianzatreanu commented on #50
_From @hypothesist on March 6, 2016 16:12_

Something like what `names` is, `extensions` is, ... (it's a new-comer issue I think)

[2016-08-19 12:04] Adrianzatreanu commented on #50
_From @Makman2 on March 6, 2016 16:13_

Ah sorry, yeah that's good :+1:

[2016-08-19 12:04] Adrianzatreanu opened #51 "Add docs for coalang"
_From @AbdealiJK on March 6, 2016 5:56_

coalang seems to be becoming more and more popular right now.
We have 2 issues blocked by it and it will probably become popular as we've depleted the list of linter based bears we want.

We should document it properly (once it actually stabilizes to some extent). I find lots of questions coming up about it in gitter.

@abhsag24 @hypothesist would love to k

[2016-08-19 12:04] Adrianzatreanu commented on #51
_From @hypothesist on March 6, 2016 6:0_

@AbdealiJK Currently there are zero bears using coalang. So it's in a very volatile stage, I'd say (there is an open issue to change the whole structure, I just made a PR to change from spaces to underscores everywhere, ...). I think we should wait just a bit more before putting it in the official docs since it may change frequently.

[2016-08-19 12:04] Adrianzatreanu commented on #51
_From @abhsag24 on March 6, 2016 6:35_

@AbdealiJK we do package it now, bear writers may go ahead and use it without the documentation anyway , i say we document it, but advise the bear writer that this is subject to change

[2016-08-19 12:04] Adrianzatreanu commented on #51
_From @sils1297 on March 6, 2016 9:15_

Agreed
On 6 Mar 2016 7:35 a.m., "Abhay Raizada" <notifications@github.com> wrote:

[2016-08-19 12:04] Adrianzatreanu commented on #51
_From @AbdealiJK on March 6, 2016 9:38_

Unblocking it then

[2016-08-19 12:04] Adrianzatreanu commented on #51
_From @Makman2 on March 6, 2016 16:6_

At least my doc-extraction stuff works very good, there won't change much inside the current stuff.

[2016-08-19 12:05] Adrianzatreanu opened #52 "Mention `bear_dirs` in `icollect_bears` is a glob in documentation"
_From @hypothesist on March 5, 2016 7:29_

_Copied from original issue: coala-analyzer/coala#1807_

[2016-08-19 12:05] Adrianzatreanu commented on #52
_From @hypothesist on March 5, 2016 7:58_

Also change the variable name from `bear_dirs` to `bear_dir_glob` as it is more appropriate. (Also make the corresponding changes in the docs :) )

[2016-08-19 12:05] Adrianzatreanu opened #53 "Writing_Good_Commits.rst : Mention that first person shall not be used inside commit body"
_From @Makman2 on February 24, 2016 0:2_

I'm in favor of objective commit message writing :)

_Copied from original issue: coala-analyzer/coala#1684_

[2016-08-19 12:05] Adrianzatreanu commented on #53
_From @AbdealiJK on February 24, 2016 3:22_

I think this seems unnecessary ...
We have enough commit guidelines and not using first person in essays/reports is a very very old English rule which most people do not follow anymore in modern literature.

Also, we have enough commit rules. Let's not add more :(

[2016-08-19 12:05] Adrianzatreanu commented on #53
_From @sils1297 on February 24, 2016 9:31_

Yeah, I think we're pretty clear on imperative tense

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-24 4:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-08-19 12:05] Adrianzatreanu commented on #53
_From @Makman2 on February 24, 2016 12:52_

We write it explicitly for the shortlog and not the body, either I would put the present-tense stuff before everything or add it to the **Long Description**.

[2016-08-19 12:06] Adrianzatreanu opened #54 "help(coalib) isnt very helpful"
_From @AbdealiJK on February 23, 2016 6:6_

Currently `import coalib` followed by `help(coalib)` is not very useful. It just gives a list of packages inside. We should ideally have a description of coala/coalib there too.

I think we need to add a doc-comment  in coalib.__init__.py which gives better information.

We could also use this in the `setup.py` maybe ?

_Copied from original issue: coala

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @AdeshAtole on February 23, 2016 19:58_

Can I do this?

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @sils1297 on February 23, 2016 22:0_

@AdeshAtole hey, you've got an invitation to our team. Accept at github.com/coala-analyzer and we can assign you.

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @sils1297 on February 23, 2016 22:0_

thanks for your interest :)

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @AdeshAtole on February 24, 2016 5:6_

@sils1297 I have accepted the invite

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @AbdealiJK on February 24, 2016 6:43_

@AdeshAtole I've assigned this to you

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @AdeshAtole on February 29, 2016 6:41_

@AbdealiJK Please unassign me from this issue. I already have a PR merged for a newcomer issue.

[2016-08-19 12:06] Adrianzatreanu commented on #54
_From @AbdealiJK on February 29, 2016 7:6_

done

[2016-08-19 12:10] #54 closed

[2016-08-19 12:12] Adrianzatreanu opened #55 "Docs: Reference Lint api module in docs"
_From @AbdealiJK on February 24, 2016 2:39_

I notice that there are a few small things not there in `Linter_Bears.rst` like `use_stderr` ( @SanketDG didnt know about it :( )

Can we link the module documentation directly in RST files ? So they'd see the docstrings ?

Or do we again rewrite these types of documentations in Linter_bears.rst ? (I prefer just linking the API - it's really well docume

[2016-08-19 12:12] Adrianzatreanu commented on #55
_From @sils1297 on February 24, 2016 9:30_

sure, why not

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-24 3:39 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-08-19 12:12] Adrianzatreanu commented on #55
_From @AbdealiJK on February 25, 2016 4:15_

So, what needs to be done is add a link to the Lint.py file in Linter_Bear.rst and Self_Correcting_Bear.rst

[2016-08-19 12:15] Adrianzatreanu opened #56 "Linter Bear Tutorial needs an update"
_From @sils1297 on February 17, 2016 17:34_

Update should cover:

- use of `{filename}` in the arguments string
- use of config file generation
- use of `gives_correction`

_Copied from original issue: coala-analyzer/coala#1557_

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on February 20, 2016 16:56_

@sils1297 In the the tutorial, `{filename}` would correspond to `html_lint.py`, correct? If yes, then, what exactly should I cover about it?

And, could you please show/point me to an example of the use of the three. I didn't exactly understand what is it that you want me to cover.

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @AbdealiJK on February 21, 2016 8:42_

@aayn
 - `{filename}` - used in every bear. Examples: `AlexBear` and `ProseLintBear`. The documentation doesn't mention `{filename}` it was written before that existed
 - config file generation - we're not using this yet. It's meant to be like if a linter needs a config file, we generate it for them using out `.coafile`'s settings and pass it to the lin

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on February 21, 2016 9:41_

@AbdealiJK  So, I went through a few bears, and here are my next set of questions:

1. I saw that `arguments = "{filename}"` is used in 4 bears(not all). What exactly is this class variable achieving? Does the `{}` around `filename` have some significance or just for formatting?

2. From what I read through in `Lint.py`, if a bear, not just finds issues, but

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @AbdealiJK on February 21, 2016 9:46_

@aayn
 1. You may want to do a broader search for `{filename}` as its frequently used as `+= " {filename}" and so on. The `{filename}` is used by python's `str.format()` function and replaced by the appropriate filename - `{}` is requires as `.format()` only touches these parts of the string and replaces (Sort of like `%s` in C/C++ ?)
 2. Some linters p

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on February 21, 2016 10:28_

@AbdealiJK
For the first bullet(i.e. `{filename}`), here's the summary of what I've understood:

`{filename}` and some other things are passed into the `arguments` class variable(which is a string). Then, this along with the `executable` class variable, is formatted into a command(in `Lint`) which is then run using `Shell.run_shell_command`.

This^ brings m

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @AbdealiJK on February 21, 2016 10:31_

@aayn we used to do it in `Lint` - We used to just append it to the command. but the problem is thats not always correct.

`lintr` (the RLintBear) needs the filename in a specific place. - `RScript "library(lintr); lintr(\"{filename}\");"` or something. In such cases we do not know where to put the filename. hence it's better to let the LinterBear usin

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on February 21, 2016 10:33_

@AbdealiJK Oh OK. Understood. Thanks :). Is it okay if I do the first bullet in one PR and the rest in another? I've never done documentation before.

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @AbdealiJK on February 21, 2016 10:53_

Why not just make the first one in a commit and add more commits to the PR after that ?

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on February 21, 2016 10:56_

@AbdealiJK Oh. I didn't think of that. Okay

[2016-08-19 12:15] Adrianzatreanu commented on #56
@aayn  still working on this? :)

[2016-08-19 12:15] Adrianzatreanu commented on #56
_From @aayn on March 30, 2016 5:56_

@Adrianzatreanu I really want to, I do. But right now, I have truckloads of work :(.
I've completed the first and the third bullet. For the second one, are we using config files for linters yet?

[2016-08-19 12:16] Adrianzatreanu commented on #56
_From @AbdealiJK on March 30, 2016 5:57_

@aayn we do use it in JSHintBear now :)

[2016-08-19 12:16] Adrianzatreanu commented on #56
_From @aayn on March 30, 2016 6:5_

If we are in a hurry for the config file tutorial, then it would be better if someone else was assigned. If not, I can do it as soon as my assignments/projects are completed.

[2016-08-19 12:16] Adrianzatreanu commented on #56
i was just checking if you're still around, it's been a while :) good luck on it!

[2016-08-19 12:16] Adrianzatreanu commented on #56
_From @Makman2 on April 13, 2016 2:37_

@aayn ping

[2016-08-19 12:16] Adrianzatreanu commented on #56
"testing out the new cool reply template"
Hi,

do you need help figuring this out? We're all happy to help you on [our gitter channel](https://gitter.im/coala-analyzer/coala), just drop by and ask us anything :)

[2016-08-19 12:16] Adrianzatreanu commented on #56
lack of reponse => unassigning for now, message us if you would like to work on this when you're coming back :)

[2016-08-19 12:16] Adrianzatreanu opened #57 "docs: use doctests"
_From @Redridge on February 15, 2016 11:40_

In order for the docs to be correct, the code that the docs contain must be correct.
For that matter the docs should be all doctest stable. [doctest](https://pytest.org/latest/doctest.html)
Rewrite/Imporve the docs such that they use doctest

difficulty/low

_Copied from original issue: coala-analyzer/coala#1498_

[2016-08-19 12:16] Adrianzatreanu commented on #57
_From @AbdealiJK on February 24, 2016 4:25_

I just went through the documentation. I'm unable to find any specific place where we can use doctests where it's not being used.
Could you give examples ? We mainly have shell commands in the doctests which `py.test` cannot run.

Our docs majorly talk about creating bears or Linters and stuff - and we cannot exactly run these without running a shell co

[2016-08-19 12:16] Adrianzatreanu commented on #57
_From @Redridge on February 24, 2016 18:9_

If there is no place to run doctest then I think we can close this. I originally filed it guided by @sils1297

[2016-08-19 12:16] Adrianzatreanu commented on #57
_From @sils1297 on February 24, 2016 18:11_

I'm not sure what I was thinking but *I think* that I was thinking that we could migrate some existing tests into neat documentation examples which would do our docs good.

[2016-08-19 12:17] Adrianzatreanu opened #58 "Step-by-step bear guide"
_From @Makman2 on May 20, 2015 18:35_

The *writing-bears* guide should be improved. Some notes here and there, but the major aspect I have in mind:
A step-by-step guide that implements an actual bear of our coalib (in a simplified manner), so the user sees how to operate on files and do something meaningful. In my mind is the indentation bear, that should be fairly simple for one language (So we

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on May 20, 2015 18:38_

I think we should take that LanguageDefinition into account, however it will be realized, because this is one of the key thoughts on writing bears.

Also we should make an example about dependent bears.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on May 20, 2015 18:52_

Maybe we should extend the simple bear with the LanguageDefinition feature. First use hardcoded values, and then introduce the bear-writer into our cool language mechanics :)

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on May 20, 2015 18:54_

sure something like that.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on May 20, 2015 18:54_

lets just first figure out how to make language mechanics cool ;)

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on July 2, 2015 12:53_

I have a good example: PyLintBear - truly simple, truly useful.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on July 3, 2015 0:21_

Oh yeah right, this would be a perfect example :)

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on July 16, 2015 14:51_

blocked by the new bear design

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on July 16, 2015 16:24_

You think we should wait for the new design? We could already make the guide and port it later^^

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on July 16, 2015 16:30_

we could do that but we need to make sure that the new tutorial is well
ported then, not half heartedly adapted.

2015-07-16 18:24 GMT+02:00 Makman2 <notifications@github.com>:

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on July 16, 2015 16:34_

That's an argument, keep it for 0.3 alpha ^^

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on November 8, 2015 22:21_

Moving this to 0.4, we don't get the new bear-ecosystem done for 0.3.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on November 28, 2015 18:11_

Not milestone relevant and we don't know when the new bear design is goig to happen.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @Makman2 on February 12, 2016 22:11_

We have somehow a guide, now I don't know how to improve it...
@sils1297 closing this issue?

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on February 12, 2016 22:14_

@Makman2 no we need to revamp the bear writing tutorial. That's really important.

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @AbdealiJK on February 24, 2016 5:47_

Do we need this still ? We have a pretty decent Writing_Bears.rst and now Linter_Bear.rst and Self_Correcting_bears.rst have been added.

PyLintBear is now a LinterBear, so that's not a good example to use
Maybe we could use LineCountingBear ?

Better description of what needs to done is required. Possibly split this into smaller newcomer tasks would be

[2016-08-19 12:17] Adrianzatreanu commented on #58
_From @sils1297 on February 24, 2016 9:34_

I do think we should improve our original writing bears tutorial.

[2016-08-19 12:17] Adrianzatreanu commented on #58
Working on this on the new docs, using the new linter API

[2016-08-19 12:17] Adrianzatreanu opened #59 "docs: Explain bear kinds"
_From @hypothesist on February 21, 2016 12:13_

There is very little information currently on what they are.

_Copied from original issue: coala-analyzer/coala#1630_

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @AbdealiJK on February 22, 2016 12:32_

We currently have 2 types of bears, this can be seen in `coalib.bears.BEAR_KIND` - Global and local

We have 2 major python files which talk about them and define them - `coalib.bears.LocalBear` and `coalib.bears.GlobalBear`.

What we need to do is add more information about global and local bears in the documentation.
This can be done in the following

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @souravsingh on February 23, 2016 9:55_

I would like to work on the issue.

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @AbdealiJK on February 23, 2016 9:56_

Awesome, @sils1297 can you add @souravsingh to the org so we can assign this issue appropriately ?

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @sils1297 on February 23, 2016 10:46_

Invitation is out, accept at github.com/coala-analyzer

2016-02-23 10:56 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @souravsingh on February 23, 2016 13:28_

I have accepted the invite

[2016-08-19 12:17] Adrianzatreanu commented on #59
_From @sils1297 on February 23, 2016 13:29_

@souravsingh awesome! If you need help you can approach us on https://gitter.im/coala-analyzer/coala or ask concrete questions here :)

[2016-08-19 12:17] Adrianzatreanu commented on #59
Hey @souravsingh . It seems its been a few days since you have last answered our reviews. Do you need some help? Please feel free to ping us on https://gitter.im/coala-analyzer/coala, as @sils1297 said, or ask here! Id love to help.

[2016-08-19 12:17] Adrianzatreanu commented on #59
unassigned due to inactivity.

[2016-08-19 19:15] Makman2 commented on #56
`Lint` is deprecated and `Linter_Bears.rst` already covers the new `@linter` decorator.

[2016-08-19 19:15] #56 closed

[2016-08-19 19:19] Makman2 commented on #51
Currently coalangs are usecase specific, not sure this issue is necessary now^^

[2016-08-19 19:29] Makman2 commented on #48
The DocumentationStyleBear is coming soon, then we can force the new style :+1:

[2016-08-19 19:43] Makman2 commented on #41
commits there in https://github.com/coala-analyzer/coala/pull/2588

[2016-08-19 20:30] Makman2 commented on #55
Update:
The links need to be made to the new `@linter` decorator, though API for it is not working and not rendering currently, so it's blocked by https://github.com/coala-analyzer/documentation/issues/26 .

[2016-08-20 10:11] #53 closed

[2016-08-20 10:13] Adrianzatreanu commented on #48
http://coala-docs.readthedocs.io/en/latest/Developers/Codestyle.html
i have modified the examples, does this look as wanted :) ?

[2016-08-20 11:28] Adrianzatreanu opened #63 "Update Get_dependencies on Writing_Bears.rst"
@Udayan12167 we need you to rewrite the section of the new deps on ``Writing_Bears`` page

[2016-08-20 12:18] Adrianzatreanu commented on #41
ah i have already done this. we have moved the docs in another repo.. could you move your commits here accordingly? we will remove docs from coala soon..

[2016-08-20 12:31] #59 closed

[2016-08-20 12:52] Makman2 opened #65 "Writing_Good_Commits: Be consistent with title underlinings"
sometimes
[code]
[code]
are both used. We should be consistent.

(Ignore the backslash above, GitHub has a rendering fault otherwise^^)

[2016-08-20 12:53] Makman2 commented on #65
Would vote for plain dashes: `-----`

[2016-08-20 12:55] Makman2 opened #66 "Writing Good Commits: Add period in L85"
After the sentence
`First person should not be used here`

[2016-08-20 12:57] Makman2 opened #67 "Writing_Good_Commits: Remove "the" in enumeration"
Inside lines 26-28:

- ~~the~~ commit body
- ~~the~~ issue reference

as without "the" readability is improved.

[2016-08-20 13:00] Makman2 commented on #48
Awesome :+1: :D

[2016-08-20 13:00] #48 closed

[2016-08-20 13:00] Makman2 commented on #41
sure :+1:

[2016-08-20 14:29] Makman2 commented on #41
`Self_Correcting_Bears.rst` gets delete in https://github.com/coala-analyzer/documentation/pull/68 .

[2016-08-20 16:34] #51 closed

[2016-08-20 16:36] Adrianzatreanu commented on #65
@Makman2 those are levels of titles.
biggest title uses ======
a subtitle of that page uses ------
and an even deeper subtitle that belongs to a ---- is a ~~~~~~

[2016-08-20 16:51] Makman2 commented on #65
ahhhhhh I thought `----` means the same `~~~~~`

[2016-08-20 16:51] #65 closed

[2016-08-20 18:08] sils1297 opened #69 "coafile spec should have real examples"
http://coala-docs.readthedocs.io/en/latest/Users/coafile.html

Usability testing has shown that people visit that site and expect to see example on how to configure actual bears, making the examples more realistic and less abstract could help them.

[2016-08-20 18:10] sils opened #70 "glob examples are way too verbose"
http://docs.coala.io/en/latest/Users/Glob_Patterns.html I know those are used for doctesting but I think this is a good example of how this can be misused.

[2016-08-20 18:11] sils1297 commented on #26
This issue should be reopened at coala as the docs should be generated over there.

[2016-08-20 18:11] #26 closed

[2016-08-20 18:14] sils opened #71 "External APIs Should be Generated"
http://coala-docs.readthedocs.io/en/latest/Users/External_APIs.html

instead of writing the whole thing completely I think we should rather make really good sphinx doc comments to the actual API, generate it and make sure it's really really useful

[2016-08-20 18:15] sils opened #72 "Writing good commits needs a really good abstract"
http://coala-docs.readthedocs.io/en/latest/Developers/Writing_Good_Commits.html

some people won't read it all so I feel like a rather well written summary on top would help us

[2016-08-20 18:37] sims1253 opened #73 "Glob_Patterns.rst: link to .coafile options"
Note says:

"Note

If you're looking for a negation pattern to exclude paths, check out the --ignore argument or ignore .coafile option!"

Make it link to that option

[2016-08-20 18:41] sims1253 opened #74 "Get help with git: Use our own git guide?"
http://coala-docs.readthedocs.io/en/latest/Developers/Newcomers_Guide.html#optional-get-help-with-git

Why not use the git guides lasse wrote? They teach you about rebase afaik.

[2016-08-20 19:01] Adrianzatreanu commented on #74
cuz theres already http://coala-docs.readthedocs.io/en/latest/Developers/Git_Basics.html which i wrote and other people contributed to, and lasse decided to drop the hitchhiker one

[2016-08-20 20:55] sims1253 commented on #74
well ok then :)

[2016-08-20 20:55] #74 closed

[2016-08-20 21:24] Adrianzatreanu opened #75 "Fix typo: docs/Git_hooks: standars -> standards"
_From @hypothesist on July 21, 2016 12:22_

_Copied from original issue: coala-analyzer/coala#2473_

[2016-08-20 21:24] Adrianzatreanu commented on #75
_From @sils1297 on August 20, 2016 20:38_

ahm @hypothesist why is this not in the documentation repository?

[2016-08-20 21:24] Adrianzatreanu commented on #75
_From @sils1297 on August 20, 2016 21:16_

CC @Adrianzatreanu

[2016-08-23 04:18] arush0311 commented on #22
@Adrianzatreanu Is there anything specific that you want me too add? I think the docs are already present in  https://github.com/coala-analyzer/coala/blob/master/coalib/bears/Bear.py from line 46 to 137.

[2016-08-23 09:17] Adrianzatreanu commented on #22
@arush0311 as docs we dont mean docstrings, this repository refers to the docs we have on http://coala.readthedocs.io/en/latest/ , and we probably want a separate page for the metadata attributes? im not really sure. @sils1297 ? @Makman2 ?

[2016-08-23 13:17] Makman2 commented on #22
yeah I think we should have something additional. maybe we could add a paragraph here: https://github.com/coala-analyzer/documentation/blob/master/Developers/Writing_Bears.rst

[2016-08-23 14:08] tamj0rd2 commented on #67
I'd like to get assigned :)

[2016-08-23 14:12] Makman2 commented on #67
@tamj0rd2 invited you to our org :) after you accepted I'll assign you officially, but you can already start working :+1:

if you need help, be sure to drop by at out gitter channel: https://gitter.im/coala-analyzer/coala
:D

[2016-08-23 14:18] Adrianzatreanu commented on #22
good idea, @Makman2

[2016-08-23 14:18] Adrianzatreanu commented on #67
assigned!

[2016-08-23 14:18] tamj0rd2 commented on #66
I'd like to do this

[2016-08-23 15:07] Adrianzatreanu opened #76 "Modify writing_documentation"
As the new documentation is in the root directory and not in the coala repo anymore, the Writing_Documentation.rst page is outdated a little, where it says:

``If you want to add new pages, you need to alter the index.rst file in the coala docs directory. ``

it should be changed to the fact that its now in the root directory of the repo

[2016-08-23 15:16] #76 closed

[2016-08-23 21:14] #67 closed

[2016-08-24 10:35] tamj0rd2 commented on #24
I'd like to do this

[2016-08-24 11:40] Adrianzatreanu opened #83 "Writing_bears uses outdated get_dependencies()"
This function has been revamped and is now called BEAR_DEPS.

[2016-08-24 12:56] arush0311 opened #84 "Add *.orig to .gitignore"

[2016-08-26 09:10] oreqizer commented on #84
i'd like to do this

[2016-08-26 09:10] netman92 commented on #84
I'd like to do this

[2016-08-26 09:11] petrjoachim commented on #27
I'd like to work on this one :trollface:

[2016-08-26 09:14] ladaradon commented on #45
I`d like to this one

[2016-08-26 09:14] OndraSky commented on #75
On it

[2016-08-26 09:23] msgre commented on #52
Should I try this?

[2016-08-26 09:25] oreqizer commented on #84
Fixed :godmode:

[2016-08-26 09:26] #84 closed

[2016-08-26 09:28] OndraSky commented on #75
There is no _ standars_ word in the repo.

[2016-08-26 09:31] oreqizer commented on #83
so `get_dependencies` shall be renamed `bear_deps`, amirite?

[2016-08-26 09:34] sils1297 commented on #75
THanks, closing. Sorry for the inconvenience :/

[2016-08-26 09:34] #75 closed

[2016-08-26 09:35] sils1297 commented on #83
in upper case letters, the renaming has happened and the docs aren't updated yet

[2016-08-26 09:35] oreqizer commented on #83
k on it

[2016-08-26 09:55] Adrianzatreanu opened #90 "Fix typo: docs/Writing_Tests: inital -> initial"
_From @hypothesist on July 21, 2016 12:20_

_Copied from original issue: coala-analyzer/coala#2471_

[2016-08-26 09:55] Adrianzatreanu commented on #90
_From @gitmate-bot on July 21, 2016 12:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-08-26 09:55] Adrianzatreanu commented on #90
_From @FyXtreMe on August 26, 2016 9:19_

@sils1297 close this plz

[2016-08-26 09:55] Adrianzatreanu commented on #90
_From @sils1297 on August 26, 2016 9:33_

@Adrianzatreanu can you close this if appropriate or move to docs

[2016-08-26 09:55] sils1297 commented on #90
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-08-26 10:37] #27 closed

[2016-08-26 11:34] #52 closed

[2016-08-26 13:09] #45 closed

[2016-08-26 13:25] #83 closed

[2016-09-01 12:34] sils opened #94 "Improve documentation about how to set the default editor"
_From @liberforce on September 1, 2016 12:22_

I've tried using coala, and had to struggle to set  my editor in a permanent way.

The documentation only talks about an editor in https://coala.readthedocs.io/en/stable/Users/Tutorials/Tutorial.html . However it doesn't say how to set it permanently.

Another thing is that typing "editor" in the search field in the top-left corner of this page doesn'

[2016-09-01 12:34] sils1297 commented on #94
_From @gitmate-bot on September 1, 2016 12:22_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-09-01 12:34] sils1297 commented on #94
Hi @liberforce I'll move this issue over to https://github.com/coala-analyzer/documentation/issues .

Thanks for reporting it, that can probably easily be added inside the note. If you're interested in contributing to coala that might be a nice thing :)

[2016-09-01 12:34] sils1297 commented on #94
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-08 15:08] ma3lstrom opened #95 "Typo in Codestyle docs"
"A documentation comment consists of 2 parts, **splitted** by a newline"
should be
"A documentation comment consists of 2 parts, **split** by a newline:

[2016-09-08 15:08] sils1297 commented on #95
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-08 16:30] ma3lstrom commented on #95
Could I be assigned this issue? Seems like I can't assign it myself yet.

[2016-09-08 16:35] sils1297 commented on #95
Sure @ma3lstrom GitHub's permission system sucks, we can't give you permissions to self assign without giving you full write access to everything :/

[2016-09-08 16:35] sils1297 commented on #95
@meetmangukiya @SanketDG what's your problem with the silsbot? :P

[2016-09-09 02:37] ma3lstrom opened #97 "Typo fixing multiple sections of the documentation"
I noticed a couple of minor typos on different areas of the documentation (Git Basics, Review, ...). I'll be aggregating fixes within this one issue if that's ok. Could I be assigned this issue?

Going to try to summon the bot for labels..? :sweat_smile:
difficulty/newcomer
label: difficulty/newcomer

[2016-09-09 02:37] sils1297 commented on #97
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-09 07:05] sils1297 commented on #97
just mentioning the label anywhere works. Typos are ok as well, low seems to be near enough to new e.g. :P

[2016-09-09 10:16] underyx opened #98 "Newcomers Guide has a broken link to Writing Bears guide"
This one:
https://github.com/coala-analyzer/documentation/commit/eb753cee85463140be8aa0e2851873db79489bb5#diff-8ab4d86b851be63aee50b31ab6e27a71R53

[2016-09-09 10:16] sils1297 commented on #98
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-09 12:59] sils opened #99 "Use alabaster theme"
simply change it in conf.py, problem is the navigation so far for me, that needs to be properly configured

[2016-09-09 12:59] sils1297 commented on #99
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-09 15:51] #95 closed

[2016-09-10 12:38] JUN1U5 commented on #98
Looks like it should be: http://coala.readthedocs.io/en/latest/Developers/Writing_Bears.html

[2016-09-11 11:01] sils opened #101 ""Guide to writing a bear" needs a link to the linter bear guides on the top"
A lot of people will bump in there and may not want to write a native bear, the first link should be "if you're looking for this, rather go here!"

[2016-09-11 11:01] sils1297 commented on #101
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-11 16:46] Makman2 opened #103 "Executing_Tests.rst: Remove redundant whitespace in shell command"
https://github.com/coala-analyzer/documentation/blob/master/Developers/Executing_Tests.rst

change to
[code]

[2016-09-11 16:46] sils1297 commented on #103
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-12 11:44] sils1297 opened #104 "Broken links everywhere"
[code]

[2016-09-12 11:44] sils1297 commented on #104
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-12 17:29] sils1297 commented on #104
CC @Adrianzatreanu

[2016-09-12 17:32] Adrianzatreanu commented on #104
yeah im already getting CCd by github on this repo on everything :D

[2016-09-12 17:35] sils1297 commented on #104
Sorry :P I think this is important though, invalid links suck.

[2016-09-12 17:36] Adrianzatreanu commented on #104
im working on it right now.

[2016-09-12 18:26] #104 closed

[2016-09-13 16:11] Makman2 opened #106 "Add "How to get coala source code" guide"
This would be useful for

this could be replaced with a reference to that guide.

[2016-09-13 16:11] sils1297 commented on #106
Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-09-17 19:13] chauffer opened #110 "Newcomer issues link in newcomers guide should be `https://docs.coala.io/new`"
https://github.com/coala/documentation/blob/e2a113921a27fc77ddb47c668e4db5fa20a8a0fc/Getting_Involved/Newcomers.rst

difficulty/newcomer

[2016-09-20 06:05] Dawny33 commented on #110
The existing link re-directs to the issue page with the following filters: `is:open is:issue user:coala-analyzer label:difficulty/newcomer no:assignee`, which is legit enough.

[2016-09-20 06:12] Dawny33 commented on #70
This is the updated link for the `Glob_Patterns` doc: http://docs.coala.io/en/latest/Users/Glob_Patterns.html

[2016-09-20 08:47] sils1297 commented on #110
That filter is wrong because we changed the organization from coala-analyzer to coala. Our own coala.io link shortener has the advantage of us being able to change where they redirect to if something happens so we want to use those exclusively.

[2016-09-20 15:30] ma3lstrom opened #113 "Review and rewrite 'Getting Started with coala'"
Sentences and sections are hard to follow. See the portion after

[2016-09-20 16:11] tamj0rd2 commented on #24
@Adrianzatreanu Where abouts is the line that needs to be edited? I can't find it in README.rst

[2016-09-20 18:59] Adrianzatreanu commented on #24
This issue was migrated from coala, it wasnt me who opened it. checking if its still valid

[2016-09-20 19:00] Adrianzatreanu commented on #24
it isnt, as its from the coala readme and its not valid anymore.

[2016-09-20 19:00] #24 closed

[2016-09-20 19:00] Adrianzatreanu commented on #24
sorry for the inconvenience

[2016-09-20 19:01] Adrianzatreanu commented on #24
actually its still valid, but i feel like its so obvious its not needed. if anyone feels like this is needed, reopen.

[2016-09-20 20:51] Adrianzatreanu opened #114 "Mention in tutorial to add a pic to github"
It should be mentioned somewhere in the Newcomers' Tutorial that it'd be nice if people could set up a profile picture on Github. Maybe it's just me, but I hate the default ones, and i can't even differentiate people that dont have ones, they all look the same. I think everyone should have a profile pic thats unique to them, it makes them distinguish out from the crowd :)

[2016-09-21 06:31] sils1297 commented on #97
@ma3lstrom if you find more typos and not so important mini fixes it would help us a lot if you could file newcomer issues! Still, this is awesome, thanks so much :)

[2016-09-21 16:15] #97 closed

[2016-09-23 14:20] ma3lstrom opened #115 "Change sentence in 'User-Wide and System-Wide coafile'"
The sentence:

Should be chaged to:

It can be found under Users/coafile.html  (Writing a coala Configuration File (coafile and coarc) )

difficulty/newcomer

[2016-09-23 14:31] ma3lstrom opened #116 "Change looses->loses in 'Using Glob Patterns'"
The sentence:

Should be changed to:

Found in Users/Glob_Patterns.html or Using Glob Patterns/Syntax

difficulty/newcomer

[2016-09-23 14:32] ma3lstrom commented on #116
Also:

Under Using Glob Patterns/Examples

[2016-09-23 14:45] ma3lstrom opened #117 "Change sentence in 'Adding coala as a Git Hook'"
The following sentence structure is incorrect:

It can be found in Users/coala_as_Git_Hook.html

difficulty/newcomer

[2016-09-23 14:52] ma3lstrom commented on #116
Will rewrite the issue w/ the difficulty tag included, gitmate bot doesn't pick up tags on edit.

[2016-09-23 14:52] #116 closed

[2016-09-23 14:53] ma3lstrom opened #118 "Change looses->loses in 'Using Glob Patterns'"
The sentence:

Should be changed to:

Found in Users/Glob_Patterns.html or Using Glob Patterns/Syntax

More instances of loose instead of lose are present. Switch all instances of the word loose in that file.

difficulty/newcomer

[2016-09-23 14:54] #115 closed

[2016-09-23 14:55] ma3lstrom opened #119 "Change sentence in 'User-Wide and System-Wide coafile'"
The sentence:

Should be changed to:

It can be found under Users/coafile.html (Writing a coala Configuration File (coafile and coarc) )

difficulty/newcomer

[2016-09-25 04:47] #110 closed

[2016-09-25 11:38] #119 closed

[2016-09-25 12:52] #90 closed

[2016-09-25 20:00] Flap-Py opened #124 ""Keeping your fork in sync" link is broken"
In Git_Basics.rst the link to http://coala.readthedocs.org/en/latest/Users/Tutorials/Git_Help.html#keeping-your-fork-in-sync is broken.

[2016-09-25 23:00] Nosferatul commented on #114
I wanna work on this!

[2016-09-26 09:32] Adrianzatreanu commented on #114
this issue is quite easy, but i really want it to happen so lets do it :D

[2016-09-26 17:26] #114 closed

[2016-09-27 09:48] athend opened #126 "Developers' Newcomers Guide has a broken link to Writing Bears guide"
In http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html

Step 3 > See also >

The link needs to be changed to http://coala.readthedocs.io/en/latest/Developers/Writing_Bears.html

File: https://github.com/coala/documentation/blob/e45e9478aac5f776656b81c9a950aa816f3f4180/Developers/Newcomers_Guide.rst

[2016-09-27 09:55] athend opened #127 "Developers' Newcomers Guide has a broken link to Executing tests"
In http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html

Step 4 > See also >

The link needs to be changed. Existing link http://coala.readthedocs.io/en/latest/Getting_Involved/Testing.html is broken

File: https://github.com/coala/documentation/blob/e45e9478aac5f776656b81c9a950aa816f3f4180/Developers/Newcomers_Guide.rst

[2016-09-27 09:57] athend opened #128 "Developers' Newcomers Guide has a broken link to Review Process"
In http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html

Step 7 > See also >

The link needs to be changed to http://coala.readthedocs.io/en/latest/Developers/Review.html

File: https://github.com/coala/documentation/blob/e45e9478aac5f776656b81c9a950aa816f3f4180/Developers/Newcomers_Guide.rst

[2016-09-27 10:01] athend opened #129 "Developers' Newcomers Guide has a broken link to low issue"
In http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html

Step 7 >

Congratulations! Your PR just got accepted! You’re awesome. Now you should go for a **[low issue](http://coala.readthedocs.io/en/latest/Developers/tinyurl.com/coala-low)**, they are really rewarding!

URL to coala low issue is broken.

File: https://github.com/coala/documentation/blob/e45e9478aac5f776656b81c9a950aa

[2016-09-28 13:19] souradeeptab commented on #117
Hi,
I would like to work on this issue. I have went ahead and already made the changes and made a pull request regarding the same. This would be my first pull request and hopping to see this one get accepted :)

[2016-09-28 14:08] Adrianzatreanu commented on #117
Hey, unfortunately i cannot assign you yet because you are not in our organization. I have sent you an invitation and it can be accepted upon email or on github.com/coala :) please join us on [gitter](https://gitter.im/coala/coala) for more information and an active communtiy :D

[2016-09-28 14:14] meetmangukiya opened #132 "Write the getting started with coala tutorial in a jupyter notebook."
Rewriting it in jupyter, will allow us to add comments and actually let the users execute the code locally. It would be a more interactive and immersive experience for user.

Maybe we can include it already with `coala` and invoke it with `coala tutorial` maybe.

Thoughts @Adrianzatreanu ?

[2016-09-28 14:45] Adrianzatreanu commented on #132
i have no experience with jupyter and therefore cannot give a really goood opinion, so maybe you could ask someone else? :D

[2016-09-28 15:52] SanketDG commented on #132
I am not sure this can be done. coala is a cli tool, everything is printed to a console. Then again, I am not sure of the possibilities of Jupyter Notebooks. :smile:

[2016-09-28 15:56] meetmangukiya commented on #132
AFAIK jupyter prints whatever is printed to STDOUT. @sanketdg

[2016-09-29 16:51] raghvendrar commented on #126
I want to work on this.

[2016-09-29 17:21] sils1297 commented on #126
please change the link to http://coala.io/writingbears instead, assigning you

[2016-09-30 01:30] meetmangukiya commented on #113
Sounds like a relation ? #132

[2016-09-30 08:58] raghvendrar commented on #124
I want to work on this but what is the correct link?

[2016-09-30 09:01] raghvendrar commented on #103
I want to work on this.

[2016-09-30 09:32] Adrianzatreanu commented on #124
it should point to "#Rebasing" on the same page.

[2016-09-30 09:32] Adrianzatreanu commented on #124
it can be done using relative paths in rst.

[2016-09-30 10:54] ventris commented on #127
I'll fix this

[2016-09-30 10:54] ventris commented on #128
I'll fix this

[2016-09-30 10:54] ventris commented on #129
I'll fix this

[2016-09-30 10:57] sils1297 commented on #129
Hey, we recommend going for a low issue after fixing a newcomer issue. We only have limited newcomer issues available and they're usually more work for us than fixing them. I'd recommend concentrating on your other issue and then picking up low difficulty tasks.

[2016-09-30 10:59] sils1297 commented on #128
Hey, we recommend going for a low issue after fixing a newcomer issue. We only have limited newcomer issues available and they're usually more work for us than fixing them. I'd recommend concentrating on your other issue and then picking up low difficulty tasks.

[2016-09-30 10:59] sils1297 commented on #127
Hey, we recommend going for a low issue after fixing a newcomer issue. We only have limited newcomer issues available and they're usually more work for us than fixing them. I'd recommend concentrating on your other issue and then picking up low difficulty tasks.

[2016-09-30 12:22] dip-kush commented on #129
Should I give a PR for this ?

[2016-09-30 12:40] srisankethu commented on #129
Hi! Looks like you are new to coala. Join our community at https://gitter.im/coala/coala and also take a look at our newcomers guide to speed things up http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html

[2016-10-01 03:00] Gouravchawla commented on #31
Do you have some content in mind for this?

[2016-10-01 05:35] rowmatrix commented on #46
I would like to work on this, you can assign me. Where should this doc be placed?

[2016-10-01 10:43] sils1297 commented on #46
@Uran198 can you hlep ^

[2016-10-01 10:54] sils1297 commented on #31
We should probably have a link to coala.io/commit at least, explain people that they should do rebases and stuff like this. Also mention that people should get assigned to an issue when wanting to work on it.

Btw. @Gouravchawla I sent you a community invitation so I can assign you - would you be interested in fixing this? Actually I think this can save us a hell lot of time.

[2016-10-01 12:31] Adrianzatreanu commented on #117
@souradeeptab you have been assigned as requested :)

[2016-10-01 13:01] #117 closed

[2016-10-01 14:00] #124 closed

[2016-10-01 17:07] morganpdx commented on #25
I'd like to work on this issue.  What is the end result?

[2016-10-01 18:39] sils1297 commented on #25
@Makman2 can you elaborate on what should be happening here? Not clear to me.

[2016-10-02 05:01] Uran198 commented on #46
Hey, @rowmatrix , I am not quite sure what the best place would be. Somewhere in [newcomers guide](http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html) would probably be OK, or maybe creating new in the `For Developers` section of the docs, maybe in FAQ. Use your best judgment for that.

The guidelines are basically the same as in issue description. It doesn't matter a lot how would you

[2016-10-02 13:02] lqaz commented on #34
I'm on this.

[2016-10-02 17:52] Adrianzatreanu commented on #34
Hey, ive sent you an invitation to our org, accept it by mail or on github.com/coala. join us on gitter! :D https://gitter.im/coala/coala

[2016-10-02 19:28] sils1297 commented on #34
@lqaz it's yours! Thanks for the help.

[2016-10-03 00:39] Makman2 opened #140 "Linter_Bears_Advanced: Fix typo"
https://github.com/coala/documentation/blob/master/Developers/Linter_Bears_Advanced.rst

Inside paragraph:
**Supplying Configuration Files with generate_config**

The code example contains a typo:
[code]
It shall be `value2 = 2` instead of `value=2 = 2`

[2016-10-03 00:51] Makman2 commented on #25
Actually this one is an invalid copy from the old issue, which does really belong to the coala-core as it affected API docs :)

@morganpdx but indeed the old `RESULT_SEVERITY.MINOR` wasn't updated correctly when introducing the new `RESULT_SEVERITY.INFO` :)
See https://github.com/coala/coala/issues/2816

[2016-10-03 00:51] #25 closed

[2016-10-03 00:54] Makman2 opened #141 "Writing_Linter_Bears: Mention default severity map"
Nothing is written about the default map which already recognizes quite some words without the need to define a severity-map yourself.

[2016-10-03 02:06] yash-nisar commented on #140
Can I resolve this or should it be left for the newcomers ?

[2016-10-03 05:33] Gouravchawla commented on #31
Yes, I would love to work on it. @sils1297

[2016-10-03 08:45] yash-nisar commented on #98
I would like to work on this !

[2016-10-03 08:48] yash-nisar commented on #72
@sils1297 The link seems to be broken.

[2016-10-03 08:55] yash-nisar commented on #29
Can I try this ?

[2016-10-03 08:57] yash-nisar commented on #69
This is the updated link http://coala.readthedocs.io/en/latest/Users/coafile.html

[2016-10-03 09:17] ventris commented on #140
I did it in the wrong order, but you can assign me to this if not yash-nisar is taking it.

[2016-10-03 10:21] adtac commented on #31
@Gouravchawla assigned you :+1:

[2016-10-03 10:22] adtac commented on #29
@yash-nisar sure, assigned you :+1: However I think it would be a good idea to discuss what goes into each video _before_ making it so that you wouldn't have to redo it later on.

[2016-10-03 12:34] yash-nisar commented on #140
What do you mean by wrong order ? @ventris

[2016-10-03 13:55] ventris commented on #140
I created the pull request before I asked for assignment.

[2016-10-03 14:30] Makman2 commented on #140
@yash-nisar As this is newcomer I would give this one to @ventris , @yash-nisar you already know how our PRs do work ;)

[2016-10-03 14:38] yash-nisar commented on #140
Sure, not a problem @Makman2 .

[2016-10-03 15:19] Makman2 commented on #41
File is deleted, docs for Linter v2 API do exist.

[2016-10-03 15:19] #41 closed

[2016-10-04 10:51] #127 closed

[2016-10-04 22:03] #129 closed

[2016-10-05 11:02] #128 closed

[2016-10-06 09:18] #66 closed

[2016-10-06 13:46] Udayan12167 opened #148 "Developers/Writing_Good_Commits.rst: It is obvious that we need good code -> We need good code."

[2016-10-06 13:48] Udayan12167 opened #149 "Developers/Writing_Good_Commits.rst: In order to do that we are ... (Reword)"

[2016-10-06 13:49] Udayan12167 opened #150 "Developers/Writing_Good_Commits.rst: It should describe only one change and not more. (Reword)"
Drop Only.

[2016-10-06 13:50] Udayan12167 opened #151 "Developers/Writing_Good_Commits.rst: Should have a tag and and a short description separated by a colon"
"and" is repeated.

[2016-10-06 17:36] #98 closed

[2016-10-06 18:20] akashfoss commented on #151
Can anyone assign me for this issue ?

[2016-10-06 18:24] YSahil184 commented on #150
assign me this

[2016-10-06 18:24] achetan40 commented on #148
Please assign this issue to me

[2016-10-06 18:24] AshwatKumar commented on #150
i will try this out, lets see

[2016-10-06 18:25] pranav16255 commented on #149
Kindly assign this issue to me

[2016-10-06 18:25] AshwatKumar commented on #150
assign me this

[2016-10-06 18:26] sarthak268 commented on #55
please assign me this

[2016-10-06 18:27] mohbharti commented on #50
assign me this issue

[2016-10-06 18:28] anant3110 commented on #151
Assign me this issue

[2016-10-06 18:36] ishaanbassi commented on #150
assign me this

[2016-10-06 18:38] YSahil184 commented on #150
unassign me this

[2016-10-06 19:14] Makman2 commented on #55
`Lint.py` and `Self_Correcting_Bear.rst` do not exist any more, this issue is not appropriate.
Sorry @sarthak268 , ya need to choose a different issue :/

[2016-10-06 19:14] #55 closed

[2016-10-07 06:56] yash-nisar commented on #29
@adtac I have a few queries regarding this:

- Should I make a test repository and then explain the git workflow with respect to that repository or do I explain it while resolving an issue on the coala repository ?
- I think updating a forked repository should also be added in the tutorial as many newcomers are facing this issue. What are your views about this ?

[2016-10-07 07:07] yash-nisar commented on #73
@sims1253 Could you please explain

[2016-10-07 08:06] sils commented on #21
Assigning to @rishus23 as per request on gitter

[2016-10-07 10:15] sims1253 commented on #73
the doc has a chapter or section on the --ignore thing. The note should include a link to that section of the docs so a user does not have to search for it (like I had to)

[2016-10-07 10:47] Adrianzatreanu commented on #21
blocking as we dont have any api documentation right now.

[2016-10-07 11:16] yash-nisar commented on #73
Alright, I can do this @sims1253 . :smile:

[2016-10-07 11:32] yash-nisar commented on #73
Can I try this @Adrianzatreanu ?

[2016-10-07 11:32] rishus23 opened #157 "Developers/Git_Basics.rst : Link to the section "writing good commits" not working."
"writing good commits" tag is referenced to "http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits.html" which is not working.

Should be referenced to "http://docs.coala.io/en/latest/Developers/Writing_Good_Commits.html".

[2016-10-07 11:36] Adrianzatreanu commented on #157
use coala.io/commit

[2016-10-07 11:38] rishus23 commented on #157
Yes, Ok.

[2016-10-07 14:29] #73 closed

[2016-10-07 14:47] #103 closed

[2016-10-07 15:12] adtac commented on #29
* From @AbdealiJK 's first comment:

  so I assume he meant creating an example with coala in mind.

* Doesn't [the asciinema link](https://asciinema.org/a/78683) I posted a couple of comments ago cover that? It's already in the docs: [end of the follow-up section](http://coala.readthedocs.io/en/latest/Developers/Git_Basics.html#follow-up)

[2016-10-07 18:56] #140 closed

[2016-10-07 19:52] Makman2 commented on #43
Honestly I don't want to add that, this is CI hacking. I have a branch which works with such things, if someone needs crosstesting, someone should ping me or ask around the gitter channel until the messages reach me :)

[2016-10-07 19:52] Makman2 commented on #43
@AbdealiJK ping me if you still think we should add that to the docs. But then you'll get assigned :P :P

[2016-10-07 19:52] #43 closed

[2016-10-07 22:34] achetan40 commented on #118
Please assign this issue to me

[2016-10-08 10:39] #157 closed

[2016-10-08 13:15] aptrishu commented on #70
I would like to work on this issue.

[2016-10-08 13:27] aptrishu commented on #30
The user container link is not working. http://coala.readthedocs.io/en/latest/Users/Container.html#coala-on-gitlab-ci

[2016-10-08 13:28] sils commented on #30
@aptrishu I'm sure you can find the right one by browsing our docs ;)

[2016-10-08 13:29] aptrishu commented on #30
Yes, doing that. :)

[2016-10-08 15:32] coala-bot opened #164 "Add info about what we expect from newcomers"
We had a long discussion with the members recently (because some people were totally overworked *just with newcomer PRs* without getting anything done) and found that at the current level we're unable to keep up the level of service to all our newcomers. One major pain point is that it's quite useless for us since almost all newcomers are doing one commit and then vanishing forever.

To ease the l

[2016-10-09 02:36] aptrishu commented on #30
I browsed  through the docs. I couldn't find any file named containers, and  since I don't know what the container file actually contains , It's hard for me to find it any other way.

[2016-10-09 08:46] sils commented on #30
http://docs.coala.io/en/latest/Users/Docker_Image.html#coala-on-gitlab-ci

[2016-10-09 09:01] sils commented on #164
@paurisa @Dayfiri it seems as if both of you are working on this, could you please get an assignment first so you don't waste your time? :( I'm sending you an org invitation now.

[2016-10-09 09:02] sils commented on #164
also joining coala.io/chat is recommended

[2016-10-09 10:50] Dayfiri commented on #164
I just got some idea so I gave it here. @paurisa you can feel free to work on this if you want and use my template if you find anything useful in there

[2016-10-09 11:05] sils commented on #164
FWIW IMO it's important that this goes directly into the necomer guide and
not into an extra file because people will just not read about it otherwise
as they all only get the link to the newcomer guide.

[2016-10-09 12:03] Dayfiri commented on #164
Oh yeah, I saw it now. It is not problem to put it in existing file just can you please give me feedback on my pull request so I know which part should I implement and which one should I leave out. There is enough info in newcomer guide but you wanted just to add extra "time consuming" part for contributing, right ?

[2016-10-10 09:36] aptrishu opened #168 "Developers/Newcomers_Guide.rst: Fix the broken link"
In **Step 7 - Review process**

Link mentioned in this line is broken.

[2016-10-10 09:42] sudoankit opened #169 "Developers/Git_Basics.rst: Add MacOS Git installation example"
Adding an example for installing `git` using `brew`.

[2016-10-10 09:51] aptrishu commented on #168
which page should I refer that link to ?

[2016-10-10 09:52] aptrishu commented on #168
I couldnt find any coala doc on CI.

[2016-10-10 10:23] aptrishu opened #172 "Developers/Newcomers_Guide.rst: Fix the broken link"
In **Step 3. Picking Up an Issue**

Link mentioned in this line is broken.
It should be referenced to `http://coala.io/commit`

[2016-10-10 10:31] Adrianzatreanu opened #173 "Fix all broken links in the documentation"
Some links went broken due to renaming of fodlers and structure, this issue is meant to fix them

[2016-10-10 10:31] Adrianzatreanu commented on #126
long inactivity,  im closing this in favor of opening an issue that holds all broken links since this is quite urgent. https://github.com/coala/documentation/issues/173

[2016-10-10 10:31] #126 closed

[2016-10-10 10:31] Adrianzatreanu commented on #168
since this doesnt have a PR yet, im closing this in favor of opening an issue that holds all broken links since this is quite urgent. https://github.com/coala/documentation/issues/173

[2016-10-10 10:31] #168 closed

[2016-10-10 10:31] Adrianzatreanu commented on #172
since this doesnt have a PR yet, im closing this in favor of opening an issue that holds all broken links since this is quite urgent. https://github.com/coala/documentation/issues/173

[2016-10-10 10:31] #172 closed

[2016-10-10 10:32] Dayfiri commented on #173
Can you assign me ?

[2016-10-10 10:34] Adrianzatreanu commented on #173
No, this is quite urgent and wanted as many people encounter those links and I want to do it quite fast so we dont encounter any more problems with newcomers. Sorry!

[2016-10-10 10:35] ventris commented on #169
If this is not classified as newcomer please assign me to it.

[2016-10-10 10:35] nayangupta824 commented on #173
i can do

[2016-10-10 10:38] Dayfiri commented on #173
Ok no problem.

[2016-10-10 10:41] Adrianzatreanu commented on #169
it is super easy and apparently being worked on by @sudoankit

[2016-10-10 11:14] nayangupta824 commented on #173
i made a PR please check

[2016-10-10 11:21] Adrianzatreanu commented on #173
I am already working on this, as I'm assigned, sorry for the inconvenience, please work on something unassigned.

[2016-10-10 11:26] Adrianzatreanu opened #175 "Add venv to be ignored by invalid links in coafile"

[2016-10-10 11:26] Dayfiri commented on #173
https://github.com/coala/documentation/pull/167

Here is what I did before.

[2016-10-10 11:50] Adrianzatreanu opened #177 "Add DS_Store"
The mac specific file should be included in .gitignore

[2016-10-10 12:05] #173 closed

[2016-10-10 12:05] #175 closed

[2016-10-10 12:05] #177 closed

[2016-10-10 13:03] Adrianzatreanu commented on #70
assigned

[2016-10-11 14:38] Asnelchristian opened #181 "Bears' configs"
It will be good to have a page ( or maybe we should just do this under `writing bears` docs) that explain how to name settings, with some common examples.

[2016-10-11 14:45] aptrishu commented on #70
Should I just remove some of the examples ? Its true there are so many examples for each glob regex (which are getting obvious by the end). So, it seems verbose.

[2016-10-12 19:23] #164 closed

[2016-10-12 19:38] Makman2 opened #182 "Newcomers_Guide.rst: Remove double \n"
There are two empty lines in that file, should be corrected to only a single one.

[2016-10-12 19:42] Makman2 opened #183 "Newcomers_Guide.rst: Rephrase note"
Imo it should also contain something in the direction of "you are improving yourself doing this" :+1:

[2016-10-12 19:48] Makman2 opened #184 "Newcomers_Guide.rst: work load -> workload"
*workload* is a legal word.

[2016-10-13 08:09] AdiChat commented on #184
I would like to be assigned this as a part of [picking up an issue](https://github.com/coala/documentation/blob/master/Developers/Newcomers_Guide.rst#step-3-picking-up-an-issue).

[2016-10-13 09:22] sils commented on #99
Yes! @beatrix-bodo will like this :)

You'll have to configure it properly so the navigation is rendered
correctly, that didn't work for me. THere's a makefile somewhere with which
you can build the docs to test it so it'll be more than a oneliner.

[2016-10-13 09:32] sils commented on #70
yes, just examples that help the user should be there

[2016-10-13 09:39] sils commented on #184
@AdiChat there you go!

[2016-10-13 13:53] Dayfiri commented on #183
Assign me please :)

[2016-10-13 14:11] sils commented on #183
Hey,

you have done two newcomer issues and it seems you're well acquainted with the workflow! That's awesome :)

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you can now dive into whatever you want. Let us kn

[2016-10-13 14:13] Dayfiri commented on #183
@sils Ok thanks for the info. I will do that in the future 👍

[2016-10-13 14:17] sils commented on #183
See coala.io/low there should be plenty of easy stuff to go on with

[2016-10-13 15:54] Mariatta commented on #99
Cool, I'm familiar with how to build Sphinx docs.
I'll try to work on this in the weekend 😃
I'll follow up here if I have questions. Thanks!

[2016-10-13 16:42] AdiChat commented on #184
Consider unassigning me this issue. I have understood the workflow and am thinking against documentation PR for some reason. I have been active on GitHub for quite some time and would like to keep this open for newcomers. Hopefully, you will understand my situation. Thanks.

[2016-10-13 20:32] Makman2 commented on #184
huh but it's completely okay that we merge your PR :O
that's part of the process imo, but okay if you want ...

if you reconsider just write here^^

[2016-10-14 06:59] amrandahvur commented on #182
Please Assign me this

[2016-10-14 07:01] amrandahvur commented on #184
Please assign me this if @AdiChat isnt working on it

[2016-10-14 15:11] aptrishu commented on #72
I would like to be assigned.

[2016-10-14 15:19] krisananthu commented on #101
I'd like to take up this bug.

[2016-10-14 17:32] aptrishu commented on #72
Something like this ?

{Tag-file or module name/optional}: {Summarize the changes made in commit in less than 50 characters,should not end with a period, capitalize properly}
{blank line}
{commit body - should describe the commit properly in less than 70 characters, focus on what and why rather than how you did it.}
{blank line}
{Fixes/Closes "reference of the issue, URL" }

Use Imperative mood in

[2016-10-14 17:46] Makman2 commented on #182
@amrandahvur
As we are running out of `difficulty/newcomer` issues and you've already done one, please consider to take a `difficulty/low` issue, you are mostly aware of our review process :) These issues also involve a bit programming :D

[2016-10-14 18:05] Makman2 commented on #72
But that's not an abstract, that's just a reference :) Pack that into some sentences so we can put that directly below the title :)

[2016-10-14 18:06] Makman2 commented on #101
here you go :)

[2016-10-14 18:19] aptrishu commented on #72
But as the issue says some people won't go through the whole page, they'll just read the abstract so if I'll keep the abstract shorter than this then they won't get the commit structure. Can you show me how should I do this ? that would be of much help. :)

[2016-10-14 18:27] amrandahvur commented on #182
@Makman2 Sure, I have a small question though, Do you guys have a guide for issues marked with difficulty/low ? In other words, considering that you guys have a large code base, how do i actually comprehend that and start contributing on lower ones ? Is the documentation sufficient ?

[2016-10-14 18:29] #184 closed

[2016-10-14 21:42] Makman2 commented on #72
Yeah short sentences, just some piece of "code" misses some context :)
Just a little bit introduction :+1:

[2016-10-14 23:21] jayvdb opened #193 "Be more forceful about using branches"
http://coala.readthedocs.io/en/latest/Developers/Git_Basics.html#creating-a-new-branch currently says

I think the document should explain why using "master" is a very bad idea, and more importantly include a "make sure you are not using master" check at every step of the process.

Also, it would be helpful to provide examples of useful branch naming schemes instead of `branchname`.  Some common s

[2016-10-15 14:44] amrandahvur commented on #182
Sure, I will try my hands on those :)

[2016-10-16 09:11] Dayfiri commented on #113
I'm confused how in [FAQ](https://github.com/coala/documentation/blob/master/Help/FAQ.rst#id1) there is under `How do I get started with Coala`, a link which leads from FAQ back to same FAQ. What is the purpose of that link then ?

[2016-10-16 09:24] sils commented on #113
just browse the docs in http://docs.coala.io/en/latest/Help/FAQ.html

[2016-10-16 11:34] Adrianzatreanu opened #197 "Mention new newcomer process"

[2016-10-16 11:36] #182 closed

[2016-10-16 18:48] Akki356 commented on #183
Please Assign me this :)

[2016-10-16 18:51] Adrianzatreanu commented on #183
hey first please accept the invitation, join us on gitter! https://gitter.im/coala/coala

[2016-10-16 20:26] Akki356 commented on #44
Do i need to add that code the to all the rst files ?

[2016-10-17 14:33] #99 closed

[2016-10-17 17:11] Adrianzatreanu opened #201 "Mention docs link in the readme"
The link to the actual docs is nowhere to be found in this repo, we need to mention it in the readme!!!

[2016-10-17 17:27] Mariatta commented on #201
I can work on this :)

[2016-10-17 17:50] Nosferatul commented on #201
Sure!

[2016-10-18 06:45] #201 closed

[2016-10-18 15:12] sils opened #203 "Design Feedback on the Docs"
Thanks to @Mariatta we can now style our own docs! Yeah!

Let's have some design ideas on how we can make the docs even better! I know @fneu probably has some proposals. Maintainers: when you have an idea, please *edit* this comment and add it to the cecklist below and *in addition* leave a comment elaborating on it so everybody gets mail notifications.

@Mariatta would you be interested in tweaki

[2016-10-18 15:14] sils commented on #203
Maybe we can have some colors and our logo somewhere? Ideas on that? We need a coala color scheme...

[2016-10-18 17:36] Mariatta commented on #203
Thanks @sils I'd love to help with this.

[2016-10-18 17:43] #197 closed

[2016-10-18 19:43] arush0311 commented on #63
Can I take this?

[2016-10-18 19:54] Nosferatul commented on #63
Go head @arush0311 ! 👍

[2016-10-18 20:00] arush0311 commented on #63
Can you tell me what `Get_dependencies`, `new_deps` is?

[2016-10-18 20:07] Nosferatul commented on #63
You should rewrite something in `Writing_Bear.rst` from `Developers` dir. @Adrianzatreanu should tell you more about it

[2016-10-18 23:53] Mariatta commented on #203
If you can provide the logo file I can easily add it to the sidebar, such feature is already supported.
Here's a sample site that uses the logo http://www.fabfile.org/
Thanks :)

[2016-10-19 09:08] sils commented on #203
![coala_color2](https://cloud.githubusercontent.com/assets/5716520/19512469/56138baa-95ec-11e6-9ccf-a645c1b667a9.png)

we have an svg in coala/artwork if the resolution isn't high enough

[2016-10-19 09:22] #22 closed

[2016-10-19 09:43] arush0311 opened #204 "use :attr: instead of :meth: in Writing_Bears"

[2016-10-19 09:54] #204 closed

[2016-10-19 09:56] arush0311 commented on #63
@Adrianzatreanu  @sils Is it the same as https://github.com/coala/documentation/issues/22. As I have updated `bears depending on other bears` there

[2016-10-19 09:59] sils commented on #63
@arush0311 I think you solved it, does the grep for Get_dependencies turn up anything? That was the old name before BEAR_DEPS

[2016-10-19 13:26] nsgonultas opened #206 "pylint option issue on Linter Bears page"
On the page about [Linter Bears](https://docs.coala.io/en/latest/Developers/Writing_Linter_Bears.html), all return statements of `create_argument` functions are wrong.
This is what they look like now:
[code]
But pylint doesn't have an option called `--msg_template`. It must be `--msg-template` instead.
Wrong lines must be corrected like this:
[code]

[2016-10-19 16:12] aptrishu commented on #72
I'm not getting it. Please show me like how should I do it ? I'm not seeing any way to keep it short.

[2016-10-19 21:49] Makman2 commented on #72
Nvm, push your commit(s), then we'll see :)

[2016-10-20 11:08] Adrianzatreanu commented on #72
imo this takes like 5-10mins to read and its very carefully explained. im for closing this issue, we dont need a quick reference, it wont be that quick and to make sense :/

[2016-10-20 11:11] virresh commented on #206
Hello, I'd like to take up on this issue. I think I can fix it by changing the .rst file.

[2016-10-20 12:24] sils commented on #72
IMO having like a checklist on top with the most common issues could help
us save some time. Like

- I have no space before colon
- I have exactly one space after it
- The word after the colon starts with an upper case letter
...

Then we could just write "read the f*** checklist" :)

[2016-10-20 12:25] sils commented on #206
Yours it is!

[2016-10-20 12:35] aptrishu commented on #72
So what should be format of the quick reference ?
Like
a commit example at the top.
and then checklist ?
or what ?

[2016-10-20 17:26] #206 closed

[2016-10-21 10:57] Makman2 commented on #72
I'm also getting confused now. Not far below we have some quick reference, and a checklist directly on top breaks context imo. @sils could you elaborate?

[2016-10-21 13:24] aptrishu commented on #30
I'm not clear which part needs to be explained. Should I explain what is docker or CI over there. because commands written over there are pretty straight forward.

[2016-10-22 08:57] Nosferatul commented on #30
Hmm, maybe we can explain in details what a docker is and how it's helping our development process? I'm not so familiar with docker

[2016-10-22 09:50] coala-bot opened #213 "Check out prose.io for documentation editing"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=580b36475af5969e7eed23d5) by @sils

[2016-10-22 09:50] coala-bot opened #214 "Check out GitBook as alternative for readthedocs"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=580b365456121b9c7eac05a7) by @sils

[2016-10-22 16:53] Mariatta commented on #203
**Logo**
How big of a logo do you want it to be?
Bigger?
<img width="429" alt="screen shot 2016-10-22 at 9 42 58 am" src="https://cloud.githubusercontent.com/assets/5844587/19620936/12b6adcc-983c-11e6-9d0a-7910b2c155b0.png">

Smaller?
<img width="369" alt="screen shot 2016-10-22 at 9 43 13 am" src="https://cloud.githubusercontent.com/assets/5844587/19620937/12b6f1b0-983c-11e6-96bc-e4eca9d1618e.png

[2016-10-24 05:23] rowmatrix commented on #46
@sils @Adrianzatreanu  I don't think this is a good fit for me, someone else should take over.

[2016-10-24 07:46] sils commented on #46
@rowmatrix thanks, maybe I'll fix this up keeping you as author of the commit because your stuff seems to be rather close to whats needed.

[2016-10-24 11:17] sils commented on #203
I think giving it the full width of the navigation would be the sane thing to do

[2016-10-24 16:38] Akki356 commented on #151
please assign me to this issue :)

[2016-10-24 17:19] sils commented on #151
@anant3110 still workig on this?

[2016-10-25 04:30] Mariatta opened #216 "Add logo to docs"
sub task of #203

[2016-10-25 04:35] Mariatta commented on #203
Thanks, I added the logo. Please check it out when you can.

[2016-10-25 04:35] Mariatta commented on #203
in #217

[2016-10-25 18:18] anant3110 commented on #151
Yes

Anant Sharna
2016129
IIIT Delhi (ECE)
On 24 Oct 2016 22:49, "Lasse Schuirmann" <notifications@github.com> wrote:

[2016-10-25 20:44] aptrishu opened #219 "Add a guideline to newcomers guide"
Add a guideline to not to delete comments on Github because it makes things hard for other developers to follow on that project.

[2016-10-25 21:45] aptrishu opened #221 "Add cobot explanation for review"
People ask for review in the gitter channel, which is quite difficult to handle for maintainers.
It should explain them how review process works.

[2016-10-25 21:47] sils commented on #221
you know that cobot is on gitlab? https://gitlab.com/coala/cobot/

[2016-10-25 21:52] aptrishu commented on #221
Yes, I know that so should make a PR there?

[2016-10-25 22:01] #219 closed

[2016-10-25 22:01] sils commented on #221
well... yes. Also file the issue there (or don't file an issue, that's fine too)

[2016-10-25 22:01] #221 closed

[2016-10-26 12:55] coala-bot opened #222 "Add checklist from gitmate comment to newcomers guide"
As suggested in https://github.com/coala/coala-bears/issues/25#issuecomment-256336931

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5810a7d30a2d07ff1190d691) by @sils

[2016-10-26 12:56] sils commented on #222
CC @kerstin

[2016-10-26 13:17] kerstin commented on #222
Related: maybe it would make sense to also add a `CONTRIBUTING` file to the repository? See [GitHub's explanation](https://github.com/blog/1184-contributing-guidelines) of what that does.

It wouldn't have to duplicate all the info from the Newcomers Guide but could contain e.g. the Gitmate checklist and then link to the Newcomers Guide or similar.

[2016-10-27 19:57] coala-bot opened #223 "Define how aspects and settings should be named"
This should go into the documentation.
- An aspect should just talk about a property of something, not qualifying it. Don't name it `TooLong` but `Length`
- Then give it tastes, e.g. `Metadata.CommitMessage.Shortlog.Length` can have a taste named `max_shortlog_length`

About tastes:
- Do not use "allow" or "check", aspects can be turned on or off but tastes should change behaviour.
- For bool: use

[2016-10-28 13:28] Adrianzatreanu opened #224 "Writing_Bears.rst: Name the bear ``HelloWorld.py``"
It says the bear should be stored at ``This bear is stored at ./bears/HelloWorldBear``, when
actually it should be with .py, so change it to ``This bear is stored at ./bears/HelloWorldBear.py``

[2016-10-28 13:31] Adrianzatreanu opened #225 "Use --flush-cache when running helloworldbear"
In Writing_bears.rst it says you should run ``coala -f src/*.c -d bears -b HelloWorldBear -L DEBUG``, when actually you need to flush your cache because you already ran it with SpaceConsistencyBear before, so change the command to ``coala -f src/*.c -d bears -b HelloWorldBear -L DEBUG --flush-cache``

[2016-10-28 13:31] stefanbalas commented on #224
I want to assignt to this issue.

[2016-10-28 13:45] drjod commented on #225
Hi, I luv to work on that

[2016-10-28 14:05] SaskiaKeil opened #226 "Add prominent documentation for coala-ci and coala-json"
I found no documentation or hint, that you can use coala-ci and coala-json instead of pure coala to get better formatted coala output.

Please add in a suitable place or guide me in the right direction, if it already exists.

[2016-10-28 14:08] sils commented on #226
I think this should go in the tutorial as well as right after installation or so, any other suggestions on wher it should go? We should also put it in the help.

[2016-10-28 14:23] yash-nisar commented on #29
Apologies for the delay.
This is what I'm planning to cover stepwise for the first video. Am I on the right track ? Do I incorporate any changes ? CC @adtac

![git_basics_1](https://cloud.githubusercontent.com/assets/14862976/19809727/278fd10e-9d48-11e6-9702-1116df04a093.png)

[2016-10-28 14:29] yash-nisar commented on #193
difficulty/low

[2016-10-28 14:38] #224 closed

[2016-10-28 15:07] Lars-H commented on #141
I want to fix this.

[2016-10-28 15:37] Adrianzatreanu opened #232 "Fix typo in Writing_bears"
At the communicating with the user section, on the first line it says "Lets", when it should be "Let's", and this should be fixed.

[2016-10-28 15:41] Adrianzatreanu opened #233 "Add period in bulleted list"
At the Communicating with the User section of Writing_Bears.rst, the bullet list has one member which ends with a full stop, and one that doesnt. i think both the members should end with a full stop

[2016-10-28 15:48] Adrianzatreanu opened #234 "Mention the change in "Getting started with coala""
So after running in the Getting started with coala file the commands:

cd coala-tutorial
coala --files=src/\*.c --bears=SpaceConsistencyBear --save

and the bear shows the problem, it is unclear to some people where the space inconsistency was. i think its helpful to add here an explanation to where exactly the problem was (today some people didnt notice the space after #include <> so they thought

[2016-10-28 15:50] #225 closed

[2016-10-29 02:45] AbdealiJK commented on #222
Numpy does this cool thing where when you make a PR there is some text auto filled in the description of the PR and it has a checklist. Do it there please ! (I think it's better than CONTRIBUTING)

[2016-10-29 02:48] AbdealiJK commented on #132
But you can't run CLI commands in Jupyter.
I don't get this.
Is this the "How to use coala" ? or "How to write a Bear" ?

Writing a bear makes sense as that involves Python.
Using coala may not make sense, as you'd have to tell users to do `coala.main(["-b", "BearName", etc.])` OR `subprocess.call(["coala", "-b", "BearName", etc.])`and weird things like that which is confusing

[2016-10-29 05:58] yash-nisar commented on #29
@adtac @AbdealiJK  Is this okay ? Does it seem to be cluttered ?

[2016-10-29 06:08] adtac commented on #29
@yash-nisar IMO it seems a little cluttered, yes. While it is necessary, I find the large amount of text distracting. Maybe asciinema's not the best idea? Maybe a proper video with audio is the best for a comprehensive git tutorial? Not sure.

[2016-10-29 06:11] yash-nisar commented on #29
So should I try to make it concise or are we keeping this on hold ? It will no longer be comprehensive if I try to cover only the main points. What say ? @adtac

[2016-10-29 06:14] adtac commented on #29
I'm not sure, make sure to ask other for their input on this too :) This will become the go-to resource on git later, so we should make sure it's proper, helpful, and concise.

[2016-10-29 09:21] sils opened #237 "Cannot install coala on Ubuntu"
_From @amelzer on October 29, 2016 8:59_

### I was trying to install coala on Ubuntu and failed

# Steps to Reproduce

1. While on `14.04.1-Ubuntu` using  `Python 3.4.3`, `pip 1.5.4 (python 3.4)` run `pip3 install coala`

# Actual Results
Coala installation fails with:

    Downloading/unpacking coala
    Downloading coala-0.8.1-py3-none-any.whl (169kB): 169kB downloaded
    Cleaning up...

    E

[2016-10-29 09:21] sils commented on #237
_From @amelzer on October 29, 2016 9:17_

Upgrading to `pip 8.1.2` solved the issue.

Are the minimum requirements for Python and Pip already documented somewhere? If not, it may be a way to improve the docs. :)

[2016-10-29 09:21] sils commented on #237
Hey, we have this listed in the FAQ at least somewhere and it's a well known issue (as it affects all debian people), would you mind putting the info in the documentation at places where you'd expect them?

[2016-10-29 09:23] sils commented on #222
nice! Yes! Yes!

[2016-10-29 09:28] amelzer commented on #237
I will take a look where a good spot in the documentation might be. I would expect it in the README als well, to be honest.

[2016-10-29 09:55] sils commented on #237
Yep, I also added a note to the website somewhere at some point in time. should be definitely in readme

[2016-10-29 10:04] amelzer commented on #237
Okay, working on that now. Please assign me, if you have time :)

[2016-10-29 10:05] sils commented on #237
sure @amelzer , are all of you at coala.io/chat btw.?

[2016-10-29 10:07] amelzer commented on #237
- [ ] Add info to README.md in coala repository
- [ ] Add info to Documentation in documentation repository

[2016-10-29 10:22] mei-li commented on #234
Can I get assigned this issue?

[2016-10-29 10:24] sils opened #239 "Newcomer guide should invite users to solve difficulty/low issues as well"
_From @justuswilhelm on October 29, 2016 7:27_

Lasse suggested this and I agree. Devs that are already familiar with how OSS contribution works can already start hacking on difficulty/low issues!

_Copied from original issue: coala/coala#2916_

[2016-10-29 10:24] sils commented on #239
_From @justuswilhelm on October 29, 2016 10:20_

Perhaps this issue should be in the documentation repository...

[2016-10-29 10:31] kerstin commented on #222
@AbdealiJK What's nice about the CONTRIBUTING file is that it sits at the root of the repo, so even if you are not involved in making issues or PRs yet, you will immediately see it when you have (even a casual) look at the repo's contents, so even before reading the README. And according to GitHub's info, it is also automatically linked from Issues, not just PR.

Maybe the two could be combined so

[2016-10-29 11:35] AbdealiJK commented on #222
Hey, so CONTRIBUTING and what I mentioned about the pull request template can co-exist.
https://github.com/owncloud/core/blob/master/.github/PULL_REQUEST_TEMPLATE.md is how owncloud does their pull request template. One of the checklist items is to read the CONTRIBUTING.md

Try looking at the PRs there or creating a new PR this template is there in all of them including the checklist.

[2016-10-29 12:15] mei-li commented on #234
@Adrianzatreanu I have a suggestion here, but I didn't use a git diff, because it doesn't display more information than coala printout does already, it is actually the same.

[2016-10-29 12:16] sils commented on #234
@mei-li I still didn't see you in the organization, did you accept the invitation?

[2016-10-29 12:17] mei-li commented on #234
@sils ups sorry just did now

[2016-10-29 12:19] sils commented on #234
@mei-li there you go. Did you ask for assignment on any other issues?

[2016-10-29 12:32] mei-li commented on #234
@sils yes but it is already merged

[2016-10-29 12:33] mei-li commented on #234
@sils that one https://github.com/coala/coala/issues/2915

[2016-10-29 13:32] #234 closed

[2016-10-29 14:24] jayvdb opened #242 "Review.rst enumerated list syntax problem"
[code]

The blocks in `5.` are not indented, so it thinks `6.` is a new list.

[2016-10-29 15:41] AbdealiJK commented on #29
I agree with @sils 's comment on gitter that it may be a good idea to ave a screencast (with audio) and to maybe even make it a youtube video :)

[2016-10-29 17:13] lcrossan commented on #232
Hey! I fixed this in https://github.com/coala/documentation/pull/243. Let me know what else you need from me :)

[2016-10-29 18:04] #237 closed

[2016-10-30 06:40] charlesBak commented on #242
hi @jayvdb can you please explain the issue?

[2016-10-30 07:07] jayvdb opened #246 "coala_as_Git_Hook: Title underline too short"
[code]

[2016-10-30 07:08] jayvdb opened #247 "Development_Setup: Hyperlink target "dev-notes" is not referenced"
[code]

[2016-10-30 07:11] jayvdb opened #248 "Writing Good Commits: missing blank lines"
[code]

The above error is misleading.  The problem is that an extra blank line is needed.

[2016-10-30 07:13] jayvdb commented on #242
@charlesBak , please look at the relevant section of the file, and try to fix the syntax.  You may need to read about the syntax of reStructuredSyntax to understand the problem.

[2016-10-30 09:10] underyx opened #250 "Newcomers_Guide: a missing space is breaking inline code formatting"
The line that says

doesn't format `difficulty/low` properly cause of a missing space.

difficulty/newcomer

[2016-10-30 09:14] underyx opened #251 "Newcomers_Guide: Add a note that the newcomer issues link only works if you're logged in to GitHub"
difficulty/newcomer

[2016-10-30 09:24] Scapogo commented on #251
Hello, can I take of this issue?

[2016-10-30 09:28] underyx commented on #251
Sure thing, glad to have you here! :dancers:

[2016-10-30 09:31] chauffer opened #252 "Docs: Add short links on the pages that have them"
Some presentation had direct links to the newcomer guide.

We have some "URL shortener":

https://coala.io/newcomer -> http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html

https://coala.io/new -> https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acoala+label%3Adifficulty%2Fnewcomer++no%3Aassignee

etc...

We should add the URL shortened link on the page getting short

[2016-10-30 09:43] chauffer opened #254 "MAC_Hints: `OSX`, `MAC` should be `macOS`"
http://docs.coala.io/en/latest/Help/MAC_Hints.html

[2016-10-30 09:46] Huge opened #255 "The video-demo at coala.io (home page) dont seem to show the whole output of the tool"
See word highlighted, should be _needed_, I think. :)

![selection_077](https://cloud.githubusercontent.com/assets/111648/19835647/9197f31a-9e8d-11e6-9255-c34a84dbd11d.png)

[2016-10-30 09:46] chauffer opened #256 "Users/Install.rst: `OSX` -> `macOS`"
difficulty/newcomer

[2016-10-30 09:47] chauffer commented on #256
thank gitmate

[2016-10-30 09:47] sils commented on #255
Are you sure? We do want a new video anyway, see https://github.com/coala/website/issues/59 - this should be reported upstream unless we actually have a typo in the string in our code :P

[2016-10-30 10:24] #251 closed

[2016-10-30 10:31] charlesBak commented on #252
hi @chauffer can you explain what need be done here?

[2016-10-30 10:35] Scapogo commented on #250
I can probably do this one.

[2016-10-30 10:35] underyx commented on #250
Alrighty!

[2016-10-30 10:41] chauffer commented on #252
I've added some more explanation for the issue.

You have done a few newcomer issues and it seems you're well acquainted with the workflow! That's awesome :)

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you c

[2016-10-30 10:55] #250 closed

[2016-10-30 11:21] charlesBak commented on #252
@chauffer  i can do this.

[2016-10-30 11:22] Adrianzatreanu opened #259 "Add info for installing Java"
If you install coala and you dont have java, and then you install it, you need to restart your shell for it to work to recogznie you have java installed :) needs to be added in the docs somewhere

[2016-10-30 11:23] Gouravchawla commented on #31
I apologize for the delay but here is what I came up with based on the scikit's PR template. I welcome suggestions on its improvement.

PR Template:

## Description
[Tell us about your new feature, improvement, or fix! If relevant, please supplement the PR with images.]

## Checklist
[It's fine to submit PRs which are a work in progress! But before they are merged, all PRs should provide:]
- [ ] C

[2016-10-30 11:29] underyx commented on #31
As far as I know, you can use comments in markdown, actually, so instead of

[code]

we could have

[code]

which doesn't need to be deleted by the reporter.

[2016-10-30 11:35] Gouravchawla commented on #31
Ok, i'll turn that into comments. The checklist would still need to be removed though, isn't it?

[2016-10-30 11:41] coala-bot opened #260 "In user tutorial add link to coala.io/languages"
Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=5815dc50482c168b22cf7a64) by @sims1253

[2016-10-30 13:43] Adrianzatreanu opened #262 "Documentation: Current page's link in sidebar should be highlighted on coala.readthedocs.io"
_From @beatrix-bodo on October 30, 2016 12:42_

On http://coala.readthedocs.io the current page's link is not highlighted in the sidebar so when someone wants to click on the next page, it's difficult to find what page they are on currently.

_Copied from original issue: coala/coala#2925_

[2016-10-30 13:43] Adrianzatreanu commented on #262
_From @sils on October 30, 2016 12:54_

Thanks so much, good point. @Mariatta you had a master issue to track further design suggestions somewhere, right? That sounds like something that shuold be easy to add as well.

[2016-10-30 16:55] sils commented on #256
huh, this has been fixed by @charlesBak - maybe something wrong with the issue link

[2016-10-30 16:55] #256 closed

[2016-10-30 16:57] charlesBak commented on #256
@sils have i done something wrong?

[2016-10-30 17:03] sils commented on #256
hEY @charlesBak someone else was just faster and there were two pull requests for this issue. Usually we like people to get an assignment to avoid this but none of you two got one which is why this happened :/

[2016-10-30 17:07] charlesBak commented on #256
@sils i have got some help in the chat room on how do the PR since then, i hope ill do a good one soon enough.

[2016-10-30 22:06] sils commented on #256
@charlesBak :+1: sorry that we didn't catch this earlier

[2016-10-30 22:11] #233 closed

[2016-10-31 02:09] #216 closed

[2016-10-31 04:06] yash-nisar commented on #239
@sils There are 2 instances of the following Note:

What about replacing one Note with the following ?

[2016-10-31 07:08] jayvdb commented on #239
Experienced devs often dont know how to write good patches.

IMO, rather than jumping to low tasks, IMO experienced devs should jump to reviewing some patches first.  Then they are working beside other reviewers, and will pick up some rules they were not aware of.

[2016-10-31 07:15] yash-nisar commented on #239
@jayvdb I completely agree with you. How about renaming the issue to

and then we can move on to a difficulty/low issue.

[2016-10-31 08:03] Adrianzatreanu commented on #239
I've happened to see even experienced devs that struggled with rebases and stuff, so it might not be wise to ask them to start with low.

However, if im not mistaken, we have a PR open that changed the newcomers guide a little and expressed what a newcomer needs to do, quite nicely, and im not sure if it is merged, cuz if it isnt, i think you should wait until it is :)

[2016-10-31 08:10] yash-nisar commented on #239
Sure !

[2016-10-31 08:22] coala-bot opened #265 "Add review "confirmation" policy to review docs"
yes, that's the policy. Sometimes people want to "check off" items they have addressed while working on it, recommendation is to use thumbs up

difficulty newcomers, see the discussion

Opened via [gitter](https://gitter.im/coala/coala/?at=5816ff620e25dbfa117d4375) by @sils

[2016-10-31 09:19] Adrianzatreanu opened #266 "Add metadata attributes in writing_linter_bears docs"

[2016-10-31 09:59] #266 closed

[2016-10-31 11:15] plaindocs opened #268 "How to configure MarkdownBear"
It really isn't clear how to configure bears. I'm trying to configure the MarkdownBear, which is a remark thing, but while remark picks up a `.remarkrc` coala just wipes the files if I try to use it.

[2016-10-31 11:23] hit023 commented on #259
@aachiritoaei Could you please give a sample of a commit message for an addition to documentation?

[2016-10-31 11:42] coala-bot opened #270 "Make some QA like troubleshooting guide for newcomer PRs, like oshitgit.com"
Thanks for this idea o @amelzer

Opened via [gitter](https://gitter.im/coala/coala/?at=58172e0b8ed1c0ff5c492a10) by @sils

[2016-10-31 16:44] Mariatta commented on #262
The master issue mentioned by @sils is #203

[2016-11-01 04:00] AbdealiJK commented on #268
True. Are there auto generated  docs for each bear ?

@plaindocs Until then if you do `coala --show-details --show-bears --no-config -b PEP8Bear` this would give you information about the configs and other things about the bear

[2016-11-01 11:02] NiklasMM opened #271 "Missing documentation on how to document a bear"
As a newbie who is writing his first bear, I'm missing some guidance on how to document a bear.
The `Writing a Bear` guide should probably include this or it should be it's own section, so `Writing Linter Bears` can link to it too.

[2016-11-01 19:56] plaindocs commented on #268
Right, that shows me what options are available, but not *actually* how to use them. I dug around a bit in the remark docs, and it wasn't quite gelling.

I had a valid `.remarkrc` file which remark was picking up but coala was just wiping the file.

[2016-11-02 11:57] Makman2 commented on #268
coala is wiping the file? This shouldn't happen actually. Maybe `remark` does it itself?

About using the settings: You are aware of our .coafile which is our main configuration file? You just specify the setting there:
[code]

[2016-11-02 12:55] plaindocs commented on #268
haha, omg, I was not aware that you'd integrated the settings in the `.coafile`, I thought they were `remark` settings only. I'll make a PR for the MarkdownBear README.

[2016-11-02 16:50] plaindocs commented on #268
Looks like the `https://github.com/coala/bear-docs/blob/master/docs/MarkdownBear.rst` is generated? Is there anywhere I can add free text?

[2016-11-02 17:19] sils commented on #268
@plaindocs add it at the coala-bears repository directly in the bear, the docs are generated from the documentation comment.

[2016-11-02 17:23] sils commented on #268
@plaindocs if you have any feedback for us, including what we just discussed about, you can fill it in at coala.io/usability - we'll definitely look at it.

[2016-11-02 18:18] plaindocs commented on #268
Great. We're meeting on Saturday in Berlin anyway I think. :-)

[2016-11-02 18:22] sils commented on #268
Ah nice, seeing forward to meet you on 12th then!

[2016-11-03 16:45] apoorvkhattar commented on #246
assign this issue

[2016-11-04 09:33] hwmrocker opened #272 "add documentation how to use the annontation bear as a dependency"
I don't have the time to do it myself, but i want to give you what i build during the pycon.

[code]

[2016-11-04 09:34] sils commented on #272
it makes all your strings upper case?

[2016-11-04 09:36] sils commented on #272
didn't you work on this quoting thing or was that someone else? What is not working, what could have gone better?

[2016-11-04 09:44] hwmrocker commented on #272
yes, i wanted to the strings quotation stuff, but there are still some open questions when i need to consider.

- other languages like c use `'` for single chars and `"` for strings
- how are strings  like `r'test\foo'`, `b'bla'`, `u'täst'` or `s'test'` treated?
- how to add a sane language specific config

this code gives you the single line words including the quotes.
But i didn't check if the a

[2016-11-04 09:45] sils commented on #272
I'm pretty sure it just ignores rusb and such

[2016-11-04 09:47] hwmrocker commented on #272
in this case, this needed to be checked in the bear if we are processing python code

[2016-11-04 12:48] sils commented on #272
this mght be interesting to @underyx

[2016-11-04 14:46] #72 closed

[2016-11-05 19:15] #260 closed

[2016-11-05 21:34] andreidinu commented on #254
Hi,
I would like to be assigned to solve this issue.

[2016-11-06 13:03] #254 closed

[2016-11-07 06:04] arjunsinghy96 commented on #247
Hello @jayvdb. Please assign me this issue.

[2016-11-07 09:25] arjunsinghy96 commented on #247
Dear @sils @jayvdb , I have created a pull request for this issue which also contains a rectification of a minor typo in ./Users/Tutorials. But the pull request is created as #276 . How do I refer to this issue.

[2016-11-07 09:34] sils commented on #247
see coala.io/commits , add a closes note

[2016-11-08 13:10] #262 closed

[2016-11-08 13:16] coala-bot opened #278 "Add hint to use coala-json and coala-format at index page"
difficulty low (or maybe even newcomerish but I want this done properly ;))

Opened via [gitter](https://gitter.im/coala/coala/?at=5821d02ae462097a30228bd3) by @sils

[2016-11-08 13:17] sils commented on #203
@Mariatta can we scale the logo to full width?

[2016-11-08 22:22] #247 closed

[2016-11-08 22:24] sils commented on #151
Unassigning as per own request

[2016-11-09 09:51] abhishekbundela commented on #113
Hey @sils. Assign this issue to me.

[2016-11-09 10:04] sils commented on #113
can you try the `cobot assign <issue url>` command on chat for me to see if it works?

[2016-11-09 10:09] sils commented on #113
Hi,

please don't ping me personally for such things. Everyone can do them - and almost everyone pings me. If you don't address a person specifically you'll likely get help faster from other people!

(Don't worry, this is not a problem but keeping things general is usually a good policy :))

[2016-11-09 13:53] meetmangukiya commented on #36
I guess this has been done now :thinking: with api.coala.io ?

[2016-11-09 14:17] sils commented on #36
we have to check if the current doc is sufficient and link to it

[2016-11-10 06:02] Mariatta opened #281 "Move navigation column to the right"
It was mentioned in gitter chat sometime ago that the navigation column should be on the right.

something like this?
<img width="953" alt="screen shot 2016-11-09 at 10 02 23 pm" src="https://cloud.githubusercontent.com/assets/5844587/20166228/376f9904-a6c8-11e6-8e76-633860b52789.png">

[2016-11-10 06:39] jayvdb opened #283 "Enable LanguageToolBear on this repository"
https://www.languagetool.org/

This is an alternative to https://github.com/coala/documentation/pull/244 , and it does seem to have good support for markup languages.

[2016-11-10 11:13] coala-bot opened #284 "FAQ: Add Q'n'A to "What is a bear anyway""
That's somehow missing :/

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5824563cc2f2cf7275f29c40) by @sils

[2016-11-10 11:13] coala-bot opened #285 "FAQ: Add ToC"
Adding a ToC in RST should be simple, right?

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5824565865485ebc67799488) by @sils

[2016-11-10 11:14] coala-bot opened #286 "FAQ: Move content from wiki to the docs"
move all content from https://github.com/coala/coala/wiki/FAQ to http://docs.coala.io/en/latest/Help/FAQ.html and empty the page containing only a pointer to the "official" docs one

@Adrianzatreanu volunteered to do this already :)

Opened via [gitter](https://gitter.im/coala/coala/?at=58245679e097df757593472c) by @sils

[2016-11-10 11:15] coala-bot opened #287 "Update the Getting In Touch page"
that should be updated IMO

dfficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=582456c045c9e3eb431eb1de) by @sils

[2016-11-10 11:39] coala-bot opened #289 "FAQ: Compress "What does coala do (for me)?""
This is too long and should be written shorter and more concise.

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58245c71df5ae966453c1415) by @sils

[2016-11-10 11:39] #286 closed

[2016-11-10 11:41] coala-bot opened #290 "coala.io/commits elaborate on why we enforce length"
Our explanations aren't really good, we should add stuff as described at https://bugzilla.gnome.org/show_bug.cgi?id=756311#c88 , I think that's better

Opened via [gitter](https://gitter.im/coala/coala/?at=58245cd1df5ae966453c15fb) by @sils

[2016-11-10 17:35] Mariatta opened #291 "Resize the logo width"
Logo in documentation navigation should be bigger and be as wide as the navigation column.

[2016-11-11 14:49] abhishekbundela commented on #113
I added some hyperlinks. Tell me if anything needs to be done.

[2016-11-12 12:07] coala-bot opened #292 "Make the split between dev docs (developing for coala) and user docs (using coala) clearer"
reportd by @plaindocs in person

Opened via [gitter](https://gitter.im/coala/coala/?at=5827061ce462097a303c933f) by @sils

[2016-11-12 12:21] coala-bot opened #293 "Make the structure better visible"
Related to coala/documentation#292 , as discussed with @plaindocs
We might want to consider switching theme back to default rtd, CC @Mariatta
￼

Opened via [gitter](https://gitter.im/coala/coala/?at=5827095745c9e3eb432b73c3) by @sils

[2016-11-12 12:51] #291 closed

[2016-11-12 13:28] abhishekbundela commented on #113
Please close PR.

[2016-11-12 14:30] sils commented on #113
What do you want? :/

[2016-11-12 14:36] coala-bot opened #294 "Explain to install coala-bears locally to check that bear is installed correctly"
in the writing bears guide

difficulty low @arjunsinghy96

Opened via [gitter](https://gitter.im/coala/coala/?at=582728ef6cb7207630697424) by @sils

[2016-11-12 16:03] meetmangukiya commented on #113
You can close a PR **you** opened, yourself @abhishekbundela

[2016-11-12 16:47] abhishekbundela commented on #113
ohh sorry, I mean please merge PR.

[2016-11-12 16:47] abhishekbundela commented on #113
I was thinking something. My mistake.

[2016-11-12 17:33] Cygnus32 commented on #284
Assign me this :).

[2016-11-12 17:35] Cygnus32 commented on #285
Can someone please explain the issue, a little bit more :P

[2016-11-12 17:46] Cygnus32 commented on #246
Can you please highlight how much should the proper length be, thanks

[2016-11-12 21:25] sils commented on #285
Would be nice to have a table of contents in the FAQ page

[2016-11-13 13:26] Warewolf96 commented on #289
Please assign this to me..

[2016-11-13 13:30] Warewolf96 commented on #285
I can do this, assign this to me.

[2016-11-13 15:53] Adrianzatreanu commented on #289
@Warewolf96 you are already assigned to another newcomer issue https://github.com/coala/documentation/issues/285

[2016-11-13 16:08] Cygnus32 commented on #193
assign this to me please :)

[2016-11-13 17:37] sils commented on #289
but this is important, assigning @Warewolf96

[2016-11-13 17:43] Warewolf96 commented on #289
ok, I'm on it...

[2016-11-13 19:57] coala-bot opened #300 "Manual installation from source docs are *WRONG*"
Apparently something was confused there, it tells people to install with `--pre` which is not at all from source.

difficulty low , someone should really look at this! Importance high

Opened via [gitter](https://gitter.im/coala/coala/?at=5828c58de462097a30446346) by @sils

[2016-11-13 19:57] coala-bot opened #301 "Newcomer guide should tell people to become "developer"s"
See discussion above. difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5828c5a3e462097a304463df) by @sils

[2016-11-14 07:49] Warewolf96 commented on #285
First, I'll try to resolve #289 so that updated FAQ can have TOC otherwise there will be different contents in two issues.

[2016-11-14 13:30] Nosferatul opened #302 "Update Bear_Installation_Tool"
Remove `--` from all `cib` commands

[2016-11-14 14:55] sils commented on #272
we probably want to just link to the quotation bear and make a minimal example

[2016-11-14 14:58] sils commented on #272
quotation bear PR: https://github.com/coala/coala-bears/pull/992/

[2016-11-14 17:47] #70 closed

[2016-11-15 12:45] coala-bot opened #303 "create page about cobot"
Opened via [gitter](https://gitter.im/coala/coala/?at=582b0350bd2f135f1a1e3c5c) by @jayvdb

[2016-11-15 12:53] coala-bot opened #304 "rename Writing_Bears to Writing_Native_Bears"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=582b055fe462097a305092c0) by @jayvdb

[2016-11-15 12:54] sils commented on #304
Careful with that, we have a lot of links pointing to that, @chauffer will have to edit coala.io/writingbears shortcut (or tell me how to do it, it seems the config has moved or something)

[2016-11-15 13:18] jayvdb commented on #304
There should be a link checker on the config file, where-ever it is ;-)

[2016-11-15 13:19] jayvdb commented on #304
however, more importantly, there should be a redirect from the old page name to the new page name.

[2016-11-15 13:51] coala-bot opened #305 "C++ code on Developers/External_Bears has unbalanced braces"
Opened via [gitter](https://gitter.im/coala/coala/?at=582b12d565485ebc679b0741) by @jayvdb

[2016-11-15 13:55] sils commented on #304
AFAIK we can't do redirects on readthedocs, we do have the coala.io shortlinks that are set up for that purpose: when a URL changes we can change where it points to.

Link checker should be rst aware, InvalidLinkBear only works for already published resources. Not sure we have a bear for that.

[2016-11-15 17:55] Mariatta commented on #281
Closing this because we want to keep the navigation on the left.

[2016-11-15 17:55] #281 closed

[2016-11-15 18:23] Mariatta commented on #292
Sounds good.
Maybe docs.coala.io can be kept as coala user's guide
and we can have another url for Coala Dev Guide, which is for coala developers and contributors.
Will this require a new repo to be created?

[2016-11-15 19:02] sils commented on #292
yeah guess so, that's probably same - as a short term solution, we could just make the headings better visible and move the dev docs below the "Help" section and maybe make like well visible separators between them in the nav?

[2016-11-17 09:45] #294 closed

[2016-11-17 16:10] alexmstancu commented on #302
I would like to fix this issue :)

[2016-11-17 16:30] sils commented on #302
@alexmstancu yours it is :) welcome!

[2016-11-18 09:47] #302 closed

[2016-11-18 12:51] akshatnitd commented on #305
@jayvdb Please assign it to me

[2016-11-18 13:39] coala-bot opened #308 "Developers/Writing_Good_Commits should say 72 characters per line. difficulty/newcomer"
Opened via [gitter](https://gitter.im/coala/coala/?at=582f0476004785313cbfc8eb) by @jayvdb

[2016-11-18 14:10] #305 closed

[2016-11-18 15:23] akshatnitd commented on #308
Please assign me this

[2016-11-18 16:19] #308 closed

[2016-11-18 17:06] rahul-kumi commented on #301
hey, I would like to work on this issue, can i be assigned to it.

[2016-11-18 23:31] Kevchen commented on #284
So this adding it to the Help/FAQ file right?

[2016-11-18 23:33] sils commented on #284
yes

[2016-11-19 01:16] coala-bot opened #310 "Developers/Writing_Good_Commits: replace imperative tense with present tense imperative mood"
imperative tense doesnt exist, and some languages have imperatives in non-present tense.  Maybe link to https://en.wikipedia.org/wiki/Imperative_mood

Opened via [gitter](https://gitter.im/coala/coala/?at=582fa7f9e712c9a1188536c0) by @jayvdb

[2016-11-19 06:17] Kevchen commented on #284
I can do this

[2016-11-19 09:12] sils commented on #284
cool! :)

[2016-11-19 09:14] coala-bot opened #312 "Recommend newcomers to start with a low difficulty issue"
I think that's more statisfying for both sides. Let's phase out newcomer issues and see how it goes?

Opened via [gitter](https://gitter.im/coala/coala/?at=5830180a238757566cc6b020) by @sils

[2016-11-19 13:10] sergiuiso commented on #304
I would like to work on this

[2016-11-19 13:22] CristianPopa96 commented on #246
I would like to work on it.

[2016-11-19 13:30] Adrianzatreanu commented on #21
unblocked as we have api.coala.io, ping @rishus23

[2016-11-19 13:30] Adrianzatreanu commented on #50
unassigning due to inactivity

[2016-11-19 13:30] Adrianzatreanu commented on #118
unassigning due to inactivity

[2016-11-19 13:31] Adrianzatreanu commented on #149
unassigning due to inactivity

[2016-11-19 13:34] ioanavoica commented on #149
i want to be assigned

[2016-11-19 13:36] DumAdrian commented on #118
i want to be assigned

[2016-11-19 13:50] cristinabuciu commented on #265
I would like to work on this

[2016-11-19 13:58] rrungureanu commented on #259
Assign me this issue, please.

[2016-11-19 14:02] MihneaVorovenci commented on #301
Assign me this issue.

[2016-11-19 14:08] WoWClaudiu commented on #259
I would like to work on it

[2016-11-19 14:13] Adrianzatreanu commented on #101
unassigning due to inactivity

[2016-11-19 14:14] Adrianzatreanu commented on #148
unassigning due to inactivity

[2016-11-19 14:15] Adrianzatreanu commented on #183
unassigning due to inactivity

[2016-11-19 14:16] #232 closed

[2016-11-19 14:16] sils commented on #301
this issue is already taken @MihneaVorovenci

[2016-11-19 14:17] Adrianzatreanu commented on #252
unassigning due to inactivity

[2016-11-19 14:22] DumAdrian commented on #278
so i have to put an alert in index page saying: "use coala-json and coala-format" at index page(this one:http://docs.coala.io/en/latest/index.html) ?

[2016-11-19 14:29] #118 closed

[2016-11-19 14:31] DumAdrian commented on #278
i want to be assigned

[2016-11-19 14:32] MihneaVorovenci commented on #183
Can I be assigned on this issue?

[2016-11-19 14:45] OctavianGuzu commented on #151
Add me this issue !

[2016-11-19 14:45] ionutzzu12 commented on #252
i want to be assigned, please

[2016-11-19 14:49] OctavianGuzu commented on #259
Assign me this issue !

[2016-11-19 14:52] ioanavoica commented on #300
i want to be assigned

[2016-11-19 14:53] mihai-burduselu commented on #242
Assign me this!

[2016-11-19 15:00] OctavianGuzu commented on #148
Assign me to this issue, please!

[2016-11-19 15:17] Adrianzatreanu commented on #242
hey @mihai-burduselu you have not accepted our invitation, please check your mail ( i cannot assign you )

[2016-11-19 15:21] mihai-burduselu commented on #242
done

[2016-11-19 16:25] krisananthu commented on #101
ok

On Sat, Nov 19, 2016 at 9:13 AM, Zatreanu Adrian-Gabriel <
notifications@github.com> wrote:

--
Thanks,
Anantha Krishnan.P.T.A
CSE Student
Amrita University <http://www.amrita.edu>
Blog <http://krisananthu.wordpress.com>| GitHub
<https://github.com/krisananthu>

[2016-11-19 18:07] aptrishu commented on #21
@Adrianzatreanu I'm @rishus23  :P .

[2016-11-19 19:27] Makman2 commented on #151
@OctavianGuzu you got already one assigned :)

[2016-11-21 17:58] coala-bot opened #325 "Add dev doc about what python features to read up on"
- decorators
- classes of course
- Mixins
- Metaclasses (for the language stuff)

...?

Opened via [gitter](https://gitter.im/coala/coala/?at=583335c0c790e0ec5613b777) by @sils

[2016-11-22 17:25] coala-bot opened #326 "change coala-ci to coala --ci etc"
importance high difficulty low affects also coala-format, coala-json

Opened via [gitter](https://gitter.im/coala/coala/?at=58347f737f83e6c9771d4428) by @sils

[2016-11-22 17:41] sils commented on #326
actually we should wait with this until coala, coala-bears and the docker image are released for coala 0.9

[2016-11-24 16:19] coala-bot opened #327 "Bump up the documentation to 0.9 release as well"
Opened via [gitter](https://gitter.im/coala/coala/?at=58371314b9016e421493a410) by @meetmangukiya

[2016-11-24 16:20] meetmangukiya commented on #327
coala.io docs seems to be at 0.8 or so the title says

[2016-11-25 01:44] aptrishu opened #328 "Discuss about `generate_config()` method in `Writing Linter Bears` tutorial."

[2016-11-25 06:21] Mixih opened #329 "Users/coala_as_Git_Hook.rst:9: (WARNING/2) Title underline too short."

[2016-11-25 06:22] Mixih opened #330 "Users/Glob_Patterns.rst:62: (ERROR/3) Malformed table."

[2016-11-25 06:22] Mixih opened #331 "Developers/Writing_Good_Commits.rst:139: (INFO/1) Possible title underline, too short for the title."

[2016-11-25 06:22] Mixih opened #332 "Developers/Development_Setup.rst:1: (INFO/1) Hyperlink target "dev-notes" is not referenced."

[2016-11-25 06:23] Mixih opened #333 "Developers/Review.rst:2: (INFO/1) Enumerated list start value not ordinal-1: "6" (ordinal 6)"

[2016-11-25 06:32] #333 closed

[2016-11-25 06:32] Mixih commented on #333
don't think this is actually an issue as far as I can tell

[2016-11-25 06:54] Mixih opened #334 "(linter problem) Unknown interpreted text role"
Some more of these, probably because rst-lint doesn’t know we have customizations. Is the role file missing?
[code]

[2016-11-25 07:12] Mixih commented on #332
not a issue either

[2016-11-25 07:12] #332 closed

[2016-11-25 15:00] yash-nisar commented on #29
I think I won't be able to do this since I don't have a good quality microphone. Can I be unassigned ?

[2016-11-25 15:48] sils commented on #29
@yash-nisar even just having a script would be nice. I can record any audio you need, we need a "director" and also someone who makes video material.

[2016-11-25 15:54] yash-nisar commented on #29
I can do the screencast part. I completely agree with you. A "script" and a director would be a must have in this case. So should I prepare the script and the screencast ?

[2016-11-25 15:57] sils commented on #29
sure, let's make a wiki page at coala/coala somewhere describing what
should be spoken and what's happening?

[2016-11-25 16:02] yash-nisar commented on #29
Sounds good. Should I make one ?

[2016-11-25 16:06] sils commented on #29
please

[2016-11-25 16:28] yash-nisar commented on #29
Before proceeding with the wiki page, can we discuss the contents of the page ?

[2016-11-25 16:30] sils commented on #29
that's your task to figure out, write a script :(

[2016-11-25 16:48] yash-nisar commented on #29
Checklist :

- [ ]  Screencast : How to make a contribution: (Clone, create branch, edit file, commit, push, possibly also add how to make a PR if it's not ascii cinema)

- [ ]  Screencast : How to modify my last commit / modify my commit message / modify my earlier (not last) commit

- [ ]  Screencast : How to rebase

Also, the scripts for these will be written by me. Should I get started with th

[2016-11-25 16:51] sils commented on #29
oh while were at it, can we also make one for the frontpage showing off coala with some text that explains what it is and so on?

[2016-11-25 16:52] yash-nisar commented on #29
Regarding the wiki page,

should be "images" taken at regular intervals from the screencast ?

will include the script ?

Am I right ?

[2016-11-25 16:56] yash-nisar commented on #29
We already have an asciinema on our homepage. Do you think we should add a video too ?

[2016-11-25 17:03] sils commented on #29
yes the asciinema is outdated, a proper video will be way better.

there's no need to confirm things you already know ;)

[2016-11-25 17:04] aptrishu commented on #29
So, you'll be working in it? @yash-nisar I'll assign you. :)

[2016-11-25 17:05] yash-nisar commented on #29
Sure @aptrishu . I misinterpret things quite often @sils :laughing:

[2016-11-25 17:51] yash-nisar commented on #312
There is already an issue for this https://github.com/coala/documentation/issues/239 @sils

[2016-11-25 18:07] sils commented on #312
closing then as dupe

[2016-11-25 18:07] #312 closed

[2016-11-26 14:56] yash-nisar commented on #300
@ioanavoica Still on it ? Since this issue is associated with importance/high, I would recommend you to resolve it as soon as possible. :smile:

[2016-11-26 15:07] yash-nisar commented on #287
IMO, the page is pretty neat with all the required information @Adrianzatreanu @sils . What are the changes that you propose ?

[2016-11-26 15:24] yash-nisar commented on #327
Can you mention the instance where it states "0.8" ?

[2016-11-26 16:12] meetmangukiya commented on #327
docs.coala.io in title

[2016-11-26 22:41] #113 closed

[2016-11-27 15:40] coala-bot opened #336 "Let's move *everything* from our developers documentation to api.coala.io"
Opened via [gitter](https://gitter.im/coala/coala/?at=583afe5f1dec193f14f73389) by @sils

[2016-11-27 15:41] coala-bot opened #337 "Change website theme"
Though it looks comfy, headers and paragraphs (especially the overview in the sidebar) are hardly readable and distinguishable, we should change that^^

Opened via [gitter](https://gitter.im/coala/coala/?at=583afec48255fe6b76d4b5d5) by @Makman2

[2016-11-27 15:51] Makman2 commented on #328
This is described in `Linter Bears - Advanced` :+1:
(It disappeared until now, the link in the toctree was wrong, but this is fixed)

[2016-11-27 15:51] #328 closed

[2016-11-30 19:53] Mariatta commented on #337
I guess somewhat related to https://github.com/coala/documentation/issues/293

Do we want to revert back to sphinx_rtd_theme ?
Maybe agogo theme could work too, I think that's what Python official docs use.

I have some time later this evening, I can try experimenting with these two themes.

[2016-11-30 21:41] Makman2 commented on #337
@Mariatta cool :D :+1:

[2016-11-30 22:06] Mariatta commented on #336
So, basically copy coala/documentation/Developers/* and into coala/coala/docs/Developers/* ?
:)

[2016-11-30 22:15] Makman2 commented on #336
It's more about integrating the tutorials into the actual API documentation, so we don't need separate tutorials. At least as few as possible.

[2016-11-30 22:18] sils commented on #336
yep, and make a proper index page for the api docs, linking everything
together properly so you can navigate it

[2016-12-03 13:47] #336 closed

[2016-12-03 19:07] hemangsk commented on #331
Hey @Mixih , I'm new to Coala 😃  looking forward to getting involved with awesome community at coala.
I just noticed that Developer docs have been moved to the main repo https://github.com/coala/coala.

I would like to solve this issue, will there be a new issue created in the coala/coala repo same as this one?

Thanks

[2016-12-03 19:39] Mariatta commented on #303
I assume this is for the Developers section?

[2016-12-03 19:42] Mariatta commented on #292
I think this can be closed.
We have another ticket to track the theme change at #337

[2016-12-03 20:02] Mariatta commented on #32
I think this can be closed?

[2016-12-03 20:29] Mixih opened #341 "Advise newcomers to use branches instead of master in the "newcomer's guide" page"
Recently, I have seen quite a few people who patch coala from their master branch. This is a recipe for losing changes and screwing up rebases(basically disaster). We should probably advise them not to in the newcomers guide.

[2016-12-03 20:45] Mixih opened #342 "Add link to api docs in toc where the developer information used to be"
Right now, we still have the "for developers" sidebar heading. It might be nice to add a link to the api docs there so people wills till be able to find the dev docs.

[2016-12-04 02:29] Mixih commented on #331
@hemangsk Yes, this will need to be moved. Hey, welcome to this project! To get started, goto the gitter and say hello to everyone there. They'll add you to the org which will let me assign you to an issue!

[2016-12-04 02:31] Mixih commented on #32
@Mariatta yes, I agree. All of these things are in the git docs. Thanks for triaging!
To the rest: A separate issue should be raised if there are still contributing issues.
Closing this issue as it seems resolved.

[2016-12-04 02:31] #32 closed

[2016-12-04 02:33] Mixih commented on #331
This issue was moved to coala/coala#3139

[2016-12-04 02:33] #331 closed

[2016-12-04 06:07] Mariatta commented on #342
That's my mistake 😓 I'll get this fixed.

[2016-12-04 10:08] #292 closed

[2016-12-04 13:20] jayvdb commented on #341
We were working on an "PR auto-close" if the PR had branch name "master".
https://gitlab.com/gitmate/IGitt/merge_requests/36 was done to support this.
@sils, what is the next step?

I have manually done the PR close here : https://github.com/coala/coala-html/pull/101#issuecomment-264702835

[2016-12-04 15:01] Mixih commented on #10
@Adrianzatreanu Is this issue still relevant?

[2016-12-04 15:02] Mixih commented on #20
This issue was moved to coala/coala#3145

[2016-12-04 15:02] #20 closed

[2016-12-04 15:04] Mixih commented on #36
This issue was moved to coala/coala#3146

[2016-12-04 15:04] #36 closed

[2016-12-04 15:49] #342 closed

[2016-12-04 16:06] jayvdb commented on #341
OK, I found it : https://gitlab.com/gitmate/gitmate/issues/86

[2016-12-04 16:21] Mixih commented on #341
This issue was moved to coala/coala#3148

[2016-12-04 16:21] #341 closed

[2016-12-05 12:16] sils opened #344 "Add tox setup page"
We should have one doc page that explains how to set up coala in tox properly.

[2016-12-05 12:56] sils commented on #278
a more elaborate description is needed, if you're unsure what to write, please read up on what this is or pick another issue. We usually don't file issues for someone just copy and pasting something into our code, we could do that ourselves. Have you done a newcomer issue already?

[2016-12-05 13:01] DumAdrian commented on #278
Yes, I have done a newcomer issue.I guess someone has to unassign me for this issue so i can pick another issue.

[2016-12-05 13:03] sils commented on #278
no issue, thanks for your initiative anyway!

[2016-12-07 19:02] Mixih opened #345 "Update FAQ"
There is no coala-ci binary anymore, it's a command line flag now

in section `What are those things failing/passing on my Pull Request?`

I don't think we use scrutinizer anymore

[2016-12-08 01:36] jayvdb commented on #326
coala 0.9 is released.  This is ready to roll.

[2016-12-10 12:27] Mariatta opened #346 "Upgrade to Sphinx 1.4.9"
coala/coala is upgrading their Sphinx version to 1.4.9
https://github.com/coala/coala/issues/3200

The same should be done here.

[2016-12-10 14:21] #330 closed

[2016-12-11 20:40] skarode96 commented on #293
I would like to work on this !

[2016-12-11 20:55] Makman2 commented on #293
duplicate of https://github.com/coala/documentation/issues/337

[2016-12-11 20:55] #293 closed

[2016-12-11 21:02] skarode96 commented on #285
@Warewolf96 are you still working on this  ?  can I work on the
same problem ?

[2016-12-12 03:25] Warewolf96 commented on #285
i am working on another issue about the same file, once that gets merged then i'll update this issue, as if i do something now it will just create a two different images of the same file...

[2016-12-12 04:16] coala-bot opened #348 "Docker CI should cache results to only check modified files"
Also needs testing.

Opened via [gitter](https://gitter.im/coala/coala/?at=584e2487c29531ac5d4fe35c) by @jayvdb

[2016-12-12 04:41] Mariatta commented on #325
This issue was moved to coala/coala#3225

[2016-12-12 04:41] #325 closed

[2016-12-12 04:41] Mariatta commented on #310
This issue was moved to coala/coala#3226

[2016-12-12 04:41] #310 closed

[2016-12-12 04:42] Mariatta commented on #304
This issue was moved to coala/coala#3227

[2016-12-12 04:42] #304 closed

[2016-12-12 04:42] Mariatta commented on #303
This issue was moved to coala/coala#3228

[2016-12-12 04:42] #303 closed

[2016-12-12 04:43] Mariatta commented on #301
This issue was moved to coala/coala#3229

[2016-12-12 04:43] #301 closed

[2016-12-12 07:04] skarode96 commented on #285
ok cool ! @Warewolf96

[2016-12-12 17:18] Abhisek- opened #349 "Fix Links for Developers section"
Fix all the links for the Developer section in the following files

* Help/FAQ.rst
* Users/Install.rst
* Users/Tutorial.rst

[2016-12-12 20:03] #349 closed

[2016-12-13 07:53] andreiraduta1101 commented on #21
Can I be assigned?

[2016-12-13 08:03] aptrishu commented on #21
Assigned.. :+1:

[2016-12-13 09:45] andreiraduta1101 commented on #21
The tutorial about linter posted doesn't work..

What is to be resolve for this issues clearly?

[2016-12-13 09:48] Nosferatul commented on #21
check https://api.coala.io/en/latest/, I believe you should add it on the page

[2016-12-14 04:37] Mariatta commented on #290
This issue was moved to coala/coala#3244

[2016-12-14 04:37] #290 closed

[2016-12-14 04:38] Mariatta commented on #271
This issue was moved to coala/coala#3245

[2016-12-14 04:38] #271 closed

[2016-12-14 04:38] Mariatta commented on #270
This issue was moved to coala/coala#3246

[2016-12-14 04:38] #270 closed

[2016-12-14 04:40] Mariatta commented on #265
This issue was moved to coala/coala#3247

[2016-12-14 04:40] #265 closed

[2016-12-14 04:40] Mariatta commented on #248
This issue was moved to coala/coala#3248

[2016-12-14 04:40] #248 closed

[2016-12-14 04:41] Mariatta commented on #242
This issue was moved to coala/coala#3249

[2016-12-14 04:41] #242 closed

[2016-12-14 04:49] Mariatta commented on #239
This issue was moved to coala/coala#3250

[2016-12-14 04:49] #239 closed

[2016-12-14 04:49] Mariatta commented on #222
This issue was moved to coala/coala#3251

[2016-12-14 04:49] #222 closed

[2016-12-14 04:50] Mariatta commented on #214
This issue was moved to coala/coala#3252

[2016-12-14 04:50] #214 closed

[2016-12-14 04:51] Mariatta commented on #193
This issue was moved to coala/coala#3253

[2016-12-14 04:51] #193 closed

[2016-12-14 04:52] Mariatta commented on #183
This issue was moved to coala/coala#3254

[2016-12-14 04:52] #183 closed

[2016-12-14 04:52] Mariatta commented on #181
This issue was moved to coala/coala#3255

[2016-12-14 04:52] #181 closed

[2016-12-14 04:52] Mariatta commented on #169
This issue was moved to coala/coala#3256

[2016-12-14 04:52] #169 closed

[2016-12-14 04:52] Mariatta commented on #151
This issue was moved to coala/coala#3257

[2016-12-14 04:52] #151 closed

[2016-12-14 04:53] Mariatta commented on #150
This issue was moved to coala/coala#3258

[2016-12-14 04:53] #150 closed

[2016-12-14 04:53] Mariatta commented on #149
This issue was moved to coala/coala#3259

[2016-12-14 04:53] #149 closed

[2016-12-14 04:53] Mariatta commented on #148
This issue was moved to coala/coala#3260

[2016-12-14 04:53] #148 closed

[2016-12-14 04:55] Mariatta commented on #141
This issue was moved to coala/coala#3261

[2016-12-14 04:55] #141 closed

[2016-12-14 04:55] Mariatta commented on #106
This issue was moved to coala/coala#3262

[2016-12-14 04:55] #106 closed

[2016-12-14 04:57] Mariatta commented on #101
This issue was moved to coala/coala#3263

[2016-12-14 04:57] #101 closed

[2016-12-14 04:59] Mariatta commented on #47
This issue was moved to coala/coala#3264

[2016-12-14 04:59] #47 closed

[2016-12-14 04:59] Mariatta commented on #46
This issue was moved to coala/coala#3265

[2016-12-14 04:59] #46 closed

[2016-12-14 04:59] Mariatta commented on #38
This issue was moved to coala/coala#3266

[2016-12-14 04:59] #38 closed

[2016-12-14 05:01] Mariatta commented on #29
This issue was moved to coala/coala#3267

[2016-12-14 05:01] #29 closed

[2016-12-14 05:03] Mariatta commented on #10
Hmm... I think we already have API docs..

I'm closing this. Feel free to reopen if you disagree :)

[2016-12-14 05:03] #10 closed

[2016-12-15 08:06] shrutishrm512 commented on #326
`coala-format` also need to be changed as `coala --format` and same with as coala-json .
as in file DefaultArgParser.py is given as like that
`
mode_group.add_argument(
        '--json', const=True, action='store_const',
        help='mode in which coala will display output as json')

    mode_group.add_argument(
        '--format', const=True, nargs='?', metavar='STR',
        help='output result

[2016-12-15 18:27] shrutishrm512 commented on #326
I would like to work on this issue. Please assign me!

[2016-12-16 07:23] shrutishrm512 commented on #326
coala-format also need to be changed as coala --format and same with as coala-json ?

[2016-12-16 10:17] sils commented on #326
yes

[2016-12-17 09:48] #21 closed

[2016-12-17 10:49] coala-bot opened #358 "Add bash alias to docker docs"
alias coala="docker run -ti -v \`pwd\`:/app --workdir=/app coala/base coala"

Opened via [gitter](https://gitter.im/coala/coala/?at=5855183ae7bdfe4e2965d894) by @sils

[2016-12-17 11:00] alexandru-georgescu commented on #358
Hi,
I would like to be assigned here.

[2016-12-17 11:33] lucianperju commented on #329
I want to work on it.

[2016-12-17 11:42] sils commented on #50
Ok this issue is badly described and outdated. I'm truly sorry :/

[2016-12-17 11:42] #50 closed

[2016-12-17 13:09] coala-bot opened #362 "Code block isn't rendered correctly"
The code block on http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-4-creating-a-fork-and-testing-your-changes isn't renderedproperly, that's probably rather simple to fix - difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58553906c895451b75e9672c) by @sils

[2016-12-17 13:24] userzimmermann commented on #132
@meetmangukiya @sils We should do this in conjunction with https://github.com/coala/bearship
I will construct the ship ASAP :)

[2016-12-17 13:31] #362 closed

[2016-12-17 16:46] BrateS commented on #2
this is deprecated, should be closed

[2016-12-17 17:55] Makman2 commented on #2
One or two are deprecated, but we still have some:
https://github.com/coala/coala/blob/master/setup.py#L103

[2016-12-17 17:56] coala-bot opened #364 "Move install from source documentation to the coala repository"
To the developer setup page or somethin'

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58557c647a3f79ef5d6ae7ce) by @sils

[2016-12-17 20:52] Mixih commented on #300
#363 has solved this issue. It was not commit tagged so rultor didn't autoclose.
RESOLVED

[2016-12-17 20:52] #300 closed

[2016-12-17 23:49] Mixih commented on #364
Currently, installing from source is in the user docs. Users do not need to be installing from source as the have the `pip3 install coala-bears --pre` option which gives them the bleeding edge. So the task list is:

1. Move the install from git to the developer setup docs. (the one currently there is incorrect and is quite wrong)
2. Remove the install from git from the user docs and replace with a

[2016-12-17 23:52] OVlad commented on #364
I would like to work on it. :)

[2016-12-18 11:30] andreiraduta1101 commented on #287
What to update or to improve?

[2016-12-18 12:25] RohanVB opened #366 "Add 'noqa' to documentation"

[2016-12-18 13:41] #40 closed

[2016-12-18 13:50] coala-bot opened #368 "Add link to coala.io/help somewhere"
I think users wll want to know about that. Let's add a link in places where it makes sense?

Opened via [gitter](https://gitter.im/coala/coala/?at=58569414c895451b75ef23e3) by @sils

[2016-12-20 03:26] Mixih commented on #334
NVM, if it works, why mess with it?

[2016-12-20 03:26] #334 closed

[2016-12-20 06:15] adtac commented on #50
Meh, I don't even remember anything about this :D

Plus coalang has changed a lot since, so I'm not sure if this issue is even relevant still.

[2016-12-20 11:32] sils commented on #50
yeah @userzimmermann wanted to add some "model" to the new Languages so they can be type checked and we can (and should) add descriptions

[2016-12-20 11:33] Shade5 commented on #368
Can you assign me to this?

[2016-12-20 11:34] sils commented on #368
there you go

[2016-12-20 11:37] Shade5 commented on #368
Thanks, but I'm not clear on what I should do

[2016-12-20 11:40] sils commented on #368
part of the task is to figure out what to do, this is not a university
excercise, right? It's important to figure out how we can improve the docs
and I think this page is useful to the users if mentioned in the right
places.

[2016-12-20 11:51] Shade5 commented on #368
How about in the "Continuing the Journey" section of
http://docs.coala.io/en/latest/Users/Tutorial.html
on "**coala -h**"  ?

[2016-12-20 13:39] Shade5 commented on #368
Please review this pull request

https://github.com/coala/documentation/pull/369

[2016-12-20 21:17] #366 closed

[2016-12-21 15:56] #326 closed

[2016-12-22 20:12] coala-bot opened #371 "Glob_Patterns: sections \* and \*\* should not be escaped"
http://docs.coala.io/en/latest/Users/Glob_Patterns.html#id3 is currently a section heading labeled `\*`.  It should be just `*`
difficultly/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=585c33bc7a3f79ef5d8d5a13) by @jayvdb

[2016-12-24 17:02] Adrianzatreanu commented on #259
@rrungureanu any news :) ?

[2016-12-25 17:52] sils commented on #252
we have a lot of those by now. @ionutzzu12 you don't seem to be working on this.

[2016-12-26 13:11] userzimmermann commented on #50
And **userzimmermann** will do that modeling soon!

[2016-12-27 00:53] #371 closed

[2016-12-27 14:16] dracarys09 commented on #345
@Mixih in the second question 'scrutinizer' part should be removed ?
I think the answer to the first question is already corrected...

[2016-12-28 23:05] #364 closed

[2016-12-28 23:25] #368 closed

[2016-12-29 05:43] shrutishrm512 commented on #213
This issue basically concerns about adding infromation that we can edit our documents using prose.io in the file ?

[2016-12-29 09:52] sils commented on #213
@shrutishrm512 well we have no idea how useful prose.io is for us and how exactly we can use it so primarily the task is to figure out if it's something that can help us and if so in which way

[2016-12-30 10:02] #278 closed

[2016-12-30 18:31] coala-bot opened #376 "Remove all scrutinizer references from docs"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=5866a7ec9d4cc4fc535af165) by @sims1253

[2016-12-31 16:26] andreidinu opened #377 "Change coala-json into coala --json"
Changes should be done into the bottom note: [](url)https://api.coala.io/en/latest/Developers/External_Bears.html

[2016-12-31 16:41] #377 closed

[2016-12-31 16:55] andreidinu commented on #377
Moved to the right repo. (coala/coala)

[2017-01-02 05:37] sils opened #378 "Docker docs: Mention a thing about gitlab setup"
We already have some instructions about gitlab-ci and this one is important: https://gitlab.com/gitlab-com/support-forum/issues/1025#note_20715380

We should have that in the docs.

[2017-01-02 08:43] jayvdb opened #379 "Add CircleCI to Users/Docker_Image"
Users/Docker_Image currently provides configuration for GitLab CI and Travis CI.

Circle CI should also be added.
See https://circleci.com/docs/docker/

[2017-01-03 06:35] vijeth-aradhya commented on #379
@jayvdb I would like to take up this issue.
Just to clear things out, I just have to add docker for `services` and the script for `tests` right? ( in the `Running tests in a container` section in the above link )

[2017-01-04 02:38] Warewolf96 commented on #289
@sils as I'm not able to do this the right way, please revoke me from this issue... Thanks

[2017-01-04 06:42] Mariatta commented on #376
Exactly what is needed here?
What do you mean by 'scrutinizer'?

[2017-01-04 07:47] sils commented on #289
@Warewolf96 please note that it's very normal that a PR makes many iterations, it was the same for me when I started, lots of small things to improve and lots of things to learn. It's not about how good you are but about how good you can become - you're very much welcome in our community and we're here to help you! Ping us if you want to get assigned again.

[2017-01-04 14:34] sims1253 commented on #376
@Mixih This was your idea

[2017-01-04 15:01] Mixih commented on #345
yep the first one has been fixed, so only one left is to kill off any scrutinizer references if they are present, if they are all gone, then ping me to close this

[2017-01-04 15:02] Mixih commented on #345
unassigned per request

[2017-01-04 15:04] jayvdb commented on #345
Scrutinizer is https://github.com/coala/documentation/issues/376

[2017-01-04 15:06] dracarys09 commented on #345
there is already an isses for Scrutinizer as @jayvdb  mentioned... There is no need for this one... We should just close it...

CC @Mixih

[2017-01-04 15:10] jayvdb commented on #30
It would also be helpful to link to instructions on installing docker, and then also ensure the reader knows that `docker run ...` could blow their internet bandwidth for the month ... ;-)

[2017-01-05 03:31] Mixih commented on #345
agreed, closed

[2017-01-05 03:31] #345 closed

[2017-01-05 07:05] coala-bot opened #382 "Add info on letting e.g. travis CI autopatch your repo"
FOSSASIA does this: https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/.travis.yml and https://github.com/fossasia/gci16.fossasia.org/blob/gh-pages/scripts/coala_patch.sh

Check that out and make some guidelines so other users can do that as well :) difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=586df052af6b364a2931c18b) by @sils

[2017-01-05 16:07] abit2 opened #383 "Error in documentation/Help/MAC_Hints.rst"
https://github.com/coala/documentation/blob/master/Help/MAC_Hints.rst#4-virtualenvwrapper-with-python-3
it should be which instead of where in -
# #Get Python3 path (python3_pth)
$ where python3

[2017-01-05 18:48] shrutishrm512 commented on #34
This information can be added in Users/Tutorial.rst file like by giving example:
`coala --show-bears --filter-by-language C python`
or by giving separate heading and explaining in it like `Show bears Information` part in the Tutorial.rst file.
Is this way correct ?

[2017-01-05 21:08] #379 closed

[2017-01-06 17:27] adtac commented on #34
I like the idea of modifying the default example in Users/Tutorial.rst to have C and Python. This way we don't use too much extra space (and add redundant examples), but still convey the message across.

[2017-01-06 17:56] shrutishrm512 commented on #34
yes, sure ! @adtac I can add one more example for multi languages mentioning in command.

[2017-01-06 17:58] adtac commented on #34
No, *modify* the existing one. That should be a good example of both - how you can get the bear list with `--show-bears` and that you can give multiple languages. There's no need for another example.

[2017-01-06 18:09] shrutishrm512 commented on #34
okay! thanks @adtac :+1:

[2017-01-09 07:13] #34 closed

[2017-01-09 10:26] sils opened #386 "Add link to bash/zsh autocompletion in installation guide"
difficulty newcomer

Some sentence and a link to the page which explains how to setup autocompletion would be helping users looking for that.

[2017-01-11 00:15] ujdcodr commented on #289
Hi, I would like to take up this issue.

[2017-01-11 00:36] ujdcodr commented on #289
@sils Any particular restrictions(word/line limit) on "how concise" it should be?

[2017-01-11 08:15] sils commented on #289
@ujdcodr not at all, go for whatever you think is best to read for the users

[2017-01-11 15:21] Naereen opened #388 "Bash autocompletion for coala does not add anything?"
Hi,

I followed the instructions [about autocompletion](https://docs.coala.io/en/latest/Users/Shell_Autocompletion.html), with latest versions of `coala` and `argcomplete`, and [updated](https://bitbucket.org/lbesson/bin/commits/886cfca#L.bashrcT422) my `.bashrc` as suggested, but absolutely nothing has changed: the autocompletion for `coala` command line program is not loaded (on the same shell o

[2017-01-11 15:21] Naereen commented on #388
Note: this issue could possibly be for [coala/coala](https://github.com/coala/coala) repository instead.

[2017-01-11 17:37] sils commented on #388
Hm I have spoken with someone somewhen with the same issue but I wasn't able to reproduce it yet...

[2017-01-12 10:13] Naereen commented on #388
I think a possible explanation is that the script `/usr/local/bin/coala` (result of `$(which coala)`) is only 5-line long, and does not contain for itself the calls to the `argparse` module. So maybe that's why the `argcomplete` script fails to generate completion for it?

If you think that could be it, I will find the "complete" `coala` script and call `register-python-argcomplete` on it, to see

[2017-01-12 10:47] sils commented on #388
Don't think so, as it works for others...

The coala script is generated, it imports a main method and runs it. This is needed because those scripts are a bit platform dependent, Windows greets.

[2017-01-12 14:22] sils commented on #388
@Naereen indeed it doesn't work with bash for me as well :/ with ZSH it works fine, that's what I use normally. I'm currenlty checking https://pypi.python.org/pypi/argcomplete for what we're doing wrong.

[2017-01-12 14:27] Naereen commented on #388
OK. Thanks for trying. Please tell me if I can be of any help.

[2017-01-12 15:06] vedantrathore commented on #386
@sils can I work on it? Also where should I read more about bash/zsh autocompletion?

[2017-01-12 15:07] adtac commented on #386
@vedantrathore sure, assigned you :+1:

Google is your friend ;)

[2017-01-12 23:47] #346 closed

[2017-01-13 06:38] coala-bot opened #392 "Add a note about the ubuntu coala package to the installation guide"
There's a coala package in ubuntu. That's not us. If people have that they're confused. We should warn them.

Someone who was confused by this should pick this up so he knows where he looked for information!

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=587875fccbcb281770634b71) by @sils

[2017-01-14 08:43] #289 closed

[2017-01-14 11:29] coala-bot opened #395 "Example at https://coala.readthedocs.io/en/stable/Users/Tutorials/Tutorial.html#show-bears-information is incorrect"
The current example just lists all bears.

Opened via [gitter](https://gitter.im/coala/coala/?at=587a0b856c1635643c29d04c) by @Shade5

[2017-01-14 16:32] AGZ98 commented on #378
Can I be added to this issue? Also, how do I edit the documentation?

[2017-01-14 16:44] aptrishu commented on #378
Sure @AGZ98
See - https://github.com/coala/documentation/blob/master/Users/Docker_Image.rst

[2017-01-14 17:04] dracarys09 opened #396 "Modify PylintTutorialBear description"
https://coala.readthedocs.io/en/stable/Users/Tutorials/Linter_Bears.html#finished-bear
https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html

"Check for codings standards" should be "Checks for coding standards"

[2017-01-15 11:07] SiddharthKumar02 commented on #396
I would like to get assigned to this

[2017-01-15 12:02] yash-nisar commented on #395
@Shade5 This has been taken care of in https://github.com/yash-nisar/documentation/blob/master/Users/Tutorial.rst#show-bears-information
Also, I have created a new issue for some minor changes https://github.com/coala/coala/issues/3561
Can we close this ?

[2017-01-15 12:16] Shade5 commented on #395
But it's still listing all bears

[2017-01-15 14:57] RohanVB commented on #285
@Warewolf96 still working on this? You can always ask for help on gitter if required :)

[2017-01-15 14:59] RohanVB commented on #246
@CristianPopa96 still working on this? You can always ask for help on gitter if required :)

[2017-01-15 17:18] yash-nisar commented on #395
Yes, and IMO `--show-description` does not give all the information as quoted in the bullet points. Further, I feel that `--bears=SpaceConsistencyBear` is unnecessary when we're listing the details of all the bears. So, I plan to change `--show-description` to `--show-details` for which I have opened a new issue. :smile: I feel we can close this issue as all the things will be taken care of in htt

[2017-01-16 03:27] jayvdb commented on #396
https://coala.readthedocs.io/en/stable/Users/Tutorials/Linter_Bears.html#finished-bear -- this file doesnt exist any more.  It was moved to the documentation repository https://github.com/coala/coala/commits/master/docs/Users/Tutorials/Linter_Bears.rst , and then ... disappeared. ;-)

[2017-01-16 03:29] jayvdb commented on #396
It appears three times in the file.
[code]

[2017-01-16 07:08] Shade5 commented on #395
Alright :+1:

[2017-01-16 09:56] yash-nisar commented on #395
Can we close this @Shade5 ?

[2017-01-16 09:57] yash-nisar opened #397 "Update Show bears' information"
`--show-description` does not give a large amount of information as specified in the bullets. Also replacing it with `--show-details` and adding a few points that `--show-details` covers would be a good idea.

[2017-01-16 10:03] Shade5 commented on #395
I'm trying, cobot has to do it. There is no option to do so

[2017-01-16 10:19] yash-nisar commented on #395
No problem. :)

[2017-01-19 10:31] arush0311 opened #398 "using imperative tense in commit messages"
I think a lot of people make mistake of not using imperative tense in commits messages..
I think we should add the following in writing good commit messages

[code]
It helped me a lot. :D

[2017-01-19 10:52] yash-nisar commented on #395
@Shade5 Isn't there a button of 'Close issue' at the bottom of this page ?

[2017-01-19 12:35] Shade5 commented on #395
Nope, I think only cobot can close it as it opened it

[2017-01-20 08:17] marian-ald commented on #287
@Adrianzatreanu, I hope you see this :)

[2017-01-20 09:33] Adrianzatreanu commented on #287
This issue isnt opened by me, but ill take a look a bit later and tell you if it neede anything from my point of view :)

[2017-01-20 10:07] Adrianzatreanu commented on #287
Nope, i feel like the issue is redundant as the page is quite neat. If @sils feels like there is any kind of improvement, im awaiting his comments here, as, apparently, his issue-opening skills arent quite there yet.

[2017-01-20 10:23] sils commented on #287
ok

[2017-01-20 10:23] #287 closed

[2017-01-20 12:22] yash-nisar commented on #395
@Makman2 @sils Can we close this issue ? Another issue has been filed for this https://github.com/coala/documentation/issues/397

[2017-01-20 12:23] sils commented on #395
ok, dupe

[2017-01-20 12:23] #395 closed

[2017-01-21 12:58] #396 closed

[2017-01-22 17:24] thotayashwanth123 commented on #386
Hi, I want to assign this issue.

[2017-01-24 09:57] #397 closed

[2017-01-29 08:55] SiddharthKumar02 commented on #223
@sils Should this be added in the Tutorial.rst file in the documentation?

[2017-01-29 11:47] SiddharthKumar02 commented on #223
@sils Should I create a new "Aspects and settings" file in the documentation? Because I can't seem to find a relevant file in the documentation to add these changes

[2017-01-30 06:10] vaishnavm217 commented on #392
i would like to work on this.
can anyone direct me?

[2017-01-30 09:33] #383 closed

[2017-01-30 13:15] jayvdb commented on #392
Do you use Ubuntu?
If not, it is better to let someone else do it.

On Mon, 30 Jan 2017 17:10 Vaishnav Murali <notifications@github.com> wrote:

i would like to work on this.
can anyone direct me?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/coala/documentation/issues/392#issuecomment-275986866>,
or mute th

[2017-01-30 14:12] vaishnavm217 commented on #392
@jayvdb i have used ubuntu, just i don't use it frequently. BTW is the file i need to change https://github.com/coala/coala/blob/master/README.rst or anywhere else?

[2017-01-30 14:36] vaishnavm217 commented on #392
just adding statement for "**do not use apt command for installing coala**" is enough or anything more is needed?

[2017-01-31 22:01] #376 closed

[2017-02-01 09:50] coala-bot opened #404 "coala.io/tutorial: remove the --filter-by-language stuff"
rather tell people to use http://coala.io/#!/languages instead

Opened via [gitter](https://gitter.im/coala/coala/?at=5891af75c0f28dd8626d33b2) by @sils

[2017-02-01 09:51] coala-bot opened #405 "coala.io/tutorial: remove https://docs.coala.io/en/latest/Users/Tutorial.html#show-bears-information"
this is all visible on the website, the tutorial should contain more relevant info, less noise so I'd remove that section completely

Opened via [gitter](https://gitter.im/coala/coala/?at=5891afbce836bf7010b93171) by @sils

[2017-02-01 09:52] coala-bot opened #406 "coala.io/tutorial: introduce people to coala --ci and mention the other binaries incl. coala-html"
those are super important

Opened via [gitter](https://gitter.im/coala/coala/?at=5891afdce836bf7010b93337) by @sils

[2017-02-01 09:54] coala-bot opened #407 "coala.io/tutorial: Don't mention bear kinds"
"There are two kinds of bears:" this is totally irrelevant for the user

Opened via [gitter](https://gitter.im/coala/coala/?at=5891b049c0f28dd8626d373c) by @sils

[2017-02-01 09:55] coala-bot opened #408 "coala.io/tutorial update installation insttructions"
"(Installation is actually not required but it’s more convenient and recommended.)" let's remove that. also link to coala.io/install

Opened via [gitter](https://gitter.im/coala/coala/?at=5891b095c0f28dd8626d3992) by @sils

[2017-02-01 19:20] #404 closed

[2017-02-01 19:20] #405 closed

[2017-02-01 19:20] #406 closed

[2017-02-01 19:20] #407 closed

[2017-02-01 19:20] #408 closed

[2017-02-02 17:27] Adrianzatreanu commented on #30
@aptrishu still on this? long time no activity on this issue

[2017-02-02 17:27] Adrianzatreanu commented on #31
is this still needed?

[2017-02-02 17:27] Adrianzatreanu commented on #203
ping on this :D

[2017-02-02 17:29] Adrianzatreanu commented on #272
is this still needed now that we have quotes bear or?

[2017-02-02 18:37] aptrishu commented on #30
Damn! I'm assigned to it.. Sorry, I'm much busy with core.

[2017-02-02 19:05] Mariatta commented on #203
Hmm... I think the docs look fine as it is..
So I think it should just be closed.

What do you think? :)

[2017-02-02 20:19] sils commented on #31
yes we should ideally replace the gitmate autoresponse with good PR
templates everywhere

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 2 February 2017 at 18:27, Zatreanu Adrian-Gabriel <
notifications@github.com> wrote:

[2017-02-02 20:20] sils commented on #272
we still need docs for the annotationbear but it shouldn't be in this repo
but rather right in the doc comment of the bears

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 2 February 2017 at 18:29, Zatreanu Adrian-Gabriel <
notifications@github.com> wrote:

[2017-02-18 08:12] #285 closed

[2017-02-24 16:42] coala-bot opened #417 "Update year in the footer"
In the footer presently it is ```©2016, The coala Developers```.
 difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58b06284f1a33b627544f149) by @hemangsk

[2017-02-25 10:58] coala-bot opened #418 "Add better commit message rules"
See the .coafile in the coala and coala-bears repos
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58b163697ceae5376a3920f0) by @jayvdb

[2017-02-26 09:56] saurabhmarpadge commented on #417
@hemangsk, which repo is it?

[2017-02-26 10:03] hemangsk commented on #417
Hey @saurabhmarpadge , you can use ```git grep``` to search something(using regex) in a git repo. Doing that will give show you files where that particular thing is, then you can proceed on with modifying it. 👍

[2017-02-26 10:03] hemangsk commented on #417
Its source code is this repository.

[2017-02-27 21:59] stephenbhope commented on #44
This an account level settings on Read the Docs:

Read the Docs has native support for Google Analytics. You can enable it by:
Going to Admin > Advanced Settings in your project.
Fill in the Analytics code heading with your Google Tracking ID (UA-76769778-2)

[2017-02-28 01:56] Techievena commented on #223
@SiddharthKumar02 Are you still working on this issue? :smile:

[2017-02-28 09:25] sils commented on #44
Works, nice! @stephenbhope thanks a lot!

[2017-02-28 09:25] #44 closed

[2017-02-28 22:43] all3fox commented on #388
For me autocompletion does *not* work for *both* global install and virtual environment install with bash `4.4.12`, argcomplete `1.8.2` and coala `0.10.0`.

When I switch to zsh, autocompletion works for global install but does *not* work, when I install everything in a virtual environment. My zsh is `5.3.1`

Personally, I find it strange that for me there is no autocompletion in virtual environme

[2017-02-28 23:27] all3fox commented on #388
Ok. Here is what works for me now:

Bash `4.4.12`
----------------

Turns out, https://github.com/kislyuk/argcomplete packs a script called `register-python-autcomplete`. I ran:

[code]

and pasted the output of this script into my `.bashrc` instead of the line

`eval "$(register-python-argcomplete my-awesome-script.py)"`

recommeneded by docs of both projects (coala and argcomplete)

After that,

[2017-03-01 01:54] #417 closed

[2017-03-01 04:16] SanketDG commented on #246
Related issue: https://github.com/myint/rstcheck/issues/23

PR fix: https://github.com/myint/rstcheck/pull/24

Close once merged in.

[2017-03-01 08:06] coala-bot opened #423 "Add import coding style instructions in `Codestyle.rst`"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58b680e7f1a33b6275644a9a) by @satwikkansal

[2017-03-01 09:03] all3fox commented on #386
Looks like the users' guide already has a link to `argcomplete`, look here just under the `pip install argcomplete` lline: https://docs.coala.io/en/latest/Users/Shell_Autocompletion.html

Do you want the newcomers' guide to duplicate that? I would disagree: it's not really essential for newcomers, is it? It could also become an obstacle because it's tricky to make it work, see #388

Suggesting to

[2017-03-01 10:26] Naereen commented on #388
Now it works, by using your trick. :clap:

Instead of changing a `.bashrc` file, [I added](https://bitbucket.org/lbesson/bin/commits/f414249) the response of `register-python-argcomplete --shell bash coala` as a `coala.bash_completion` file, in my `~/.bash_completion.d/` folder.

Thanks @all3fox for following up on this issue. (it's OK to close it now?)

[2017-03-01 12:04] dushyantRathore commented on #423
I would like to work on this.

[2017-03-01 12:27] satwikkansal commented on #423
@dushyantRathore Actually I just realized that `Codestyle.rst` is part of `coala/docs`, I'll create similar issue in `coala`. For now closing this issue.

[2017-03-01 12:41] #423 closed

[2017-03-01 15:07] all3fox commented on #388
cobot assign me

cobot mark newcomer

[2017-03-01 15:09] Naereen commented on #388
OK.
I don't know what script is that, the only one I have is `register-python-argcomplete`, not `register-python-autocomplete` (and even the latest version has no `auto..`)

[2017-03-01 15:11] all3fox commented on #388
sry, sry, I am on the go right now, did not check the script name. Nevermind, we will take care of the issue from here, thanks )

[2017-03-01 16:57] jayvdb commented on #423
@satwikkansal , did you create the new issue?

[2017-03-01 17:34] satwikkansal commented on #423
@jayvdb Sorry for the delay. Also it'd be nice if you can comment on the new issue regarding what exactly is allowed and what not.

New Issue:
https://github.com/coala/coala/issues/3821

[2017-03-02 13:38] SanketDG commented on #329
duplicate of https://github.com/coala/documentation/issues/246

[2017-03-02 13:39] #329 closed

[2017-03-02 13:41] SanketDG commented on #246
Fixed in https://github.com/myint/rstcheck/commit/8387d6e0fb6770a4d9743d5dbcf84bf1b4c3bf83

[2017-03-02 13:41] #246 closed

[2017-03-03 06:06] sagark123 commented on #378
Can I work on this issue??

[2017-03-03 14:52] #392 closed

[2017-03-04 05:39] jayvdb opened #425 "Clarify Ubuntu clang installation"
On Ubuntu trusty, [libclang1](http://packages.ubuntu.com/trusty/libclang1) is version 3.4, which is correct.

The current information about libclang1 should very clearly say it only applies to Ubuntu trusty.

However, on precise, and on xenial and later, libclang1 is not version 3.4.  On Xenial it is 3.8, which doesnt work with coala.  And there is no Ubuntu xenial package which is 3.4.

On xenial

[2017-03-04 15:40] gaurav1911 commented on #425
@jayvdb This can be resolved by making symbolic link:

`ln -s /usr/lib/llvm-3.8/lib/libclang.so.1 libclang.so `

This resolves the error: "Please ensure that your python bindings are compatible with your libclang.so version." when executing py.test

[2017-03-05 03:34] jayvdb commented on #252
This hasnt been done.

This is requesting that pages like https://docs.coala.io/en/latest/Users/Tutorial.html mention that its short url is "http://coala.io/tutorial"

[2017-03-05 21:58] gaurav1911 commented on #425
@jayvdb what changes should i make in documentation now??

[2017-03-05 22:13] jayvdb commented on #252
I think adding the first shortlink is a "low" difficulty, as it involves a bit of design.
Once the first is merged, then others can be newcomer.

[2017-03-05 22:33] jayvdb commented on #425
@gaurav1911 , I believe that if you use llvm-3.8, the error is "python: undefined symbol: clang_annotateTokens. Please ensure that your python bindings are compatible with your libclang.so version."

See https://travis-ci.org/jayvdb/coala/jobs/208011572

If you can prove that llvm-3.8 works with coala, I will be very happy.

[2017-03-06 02:06] gaurav1911 commented on #425
@jayvdb llvm-3.8 works with coala :smile:
See: https://travis-ci.org/gaurav1911/coala/jobs/208049364

[2017-03-06 03:32] jayvdb commented on #425
Make it happen https://github.com/coala/coala/issues/3854

[2017-03-10 09:49] #388 closed

[2017-03-13 14:24] sils commented on #223
unassigning due to inactivity

[2017-03-18 09:00] Udayan12167 opened #428 "New section inheritance documentation."
`default` section is deprecated and section inheritance is implemented.

[2017-03-19 00:38] MikeinRealLife commented on #378
Looks like it didn't get done?  I'll do it.

[2017-03-19 18:04] RohanVB opened #429 "Some people don't use homebrew; include other installation methods for macOSX"
https://docs.coala.io/en/latest/Users/Install.html#using-coala-with-docker

Like for clang ` xcode-select --install` would get the job done aswell since Apple's development tools are all built on LLVM, and clang is part of Xcode (Apple's development tools).

[2017-03-20 06:25] EverWinter23 commented on #223
So, where should I add this information?

[2017-03-20 10:24] sils commented on #223
I guess putting it on api.coala.io would be good, i.e. in the devdocs of the API

[2017-03-23 14:20] coala-bot opened #430 "Add a doc telling people to always rebase before pushing their stuffs"
Opened via [gitter](https://gitter.im/coala/coala/?at=58d3d9b4b809ca5f4a74c892) by @Asnelchristian

[2017-03-28 13:17] saurabhraj1896 commented on #386
can i work on this issue?

[2017-03-31 22:34] userzimmermann commented on #223
I changed *settings* --> *tastes* in the issue summary and hope that this change will also happen soon to https://github.com/coala/cEPs/issues/67 :)

[2017-04-04 19:35] #386 closed

[2017-04-05 00:56] supergr35 commented on #398
Wrong repo, this is for coala user documentation.

By the way, the second one isn't actually in the imperative mood, if it was it would be `Strip the whitespaces in language string`

[2017-04-05 01:26] Mixih opened #432 "Enable RST linting bears on this repo"
Currently, this repository is not being linted for rst problems. Please enable both reSTLintBear and RSTCheckBear. There are probably issues with the rst which need fixing first. Please spawn newcomer sub-issues for each one found, or fix them yourself.

[2017-04-05 01:32] supergr35 opened #433 "Install.rst: Fix incorrect link syntax"
Under the `Using coala with Docker` header, and under the `Windows` section, there is a faulty link. This looks like it's using markdown format rather than RST format. The sentence is also grammatically incorrect. difficulty/newcomer

[2017-04-08 17:42] coala-bot opened #435 "bear native tutorial: update to new logging"
not self..... it should use default builtin logging right?

Opened via [gitter](https://gitter.im/coala/coala/?at=58e921198fcce56b20e21eac) by @sils

[2017-04-12 17:24] Techievena commented on #223
@EverWinter23 Please continue your work on this PR. We really need to have solid definitions of `aspects` and `tastes` for removing all kind of discrepancies while implementing aspects in coala.

[2017-05-04 00:26] yukiisbored opened #436 "Update coala banner on README"
The banner on [coala/coala](https://github.com/coala/coala) has changed into a more modern look to match the new website. I think the same thing should be done as well on this repository for uniformity.

[2017-05-07 11:35] mridubhatnagar commented on #432
Hey, I went through
1)http://docs.coala.io/en/latest/Users/Tutorial.html .
2) Went through .coafile

Can you guide me how to proceed further. So that I can make some progress and help in resolving this issue.

[2017-05-07 14:31] Mixih commented on #432
see the rst section int he main coala repo for some inspiration. You probably want both reSTLintBEar and RSTCheckBEar.

[2017-05-08 10:58] mridubhatnagar commented on #432
Went through .coafile in the main coala repo. Seems reSTLintBear is already present in .coafile.
do I just need to add RSTCheckBear.
And files=docs/**/.rst .

[2017-05-08 12:28] mridubhatnagar commented on #432
Please can someone look into this commit. And tell me regarding the needful changes before I raise a final PR. Changes other than the newline that needs to be added.

[2017-05-09 01:04] jayvdb commented on #432
@Mixih , @mridubhatnagar , @SanketDG , in light of https://github.com/coala/coala-bears/issues/1716 , why do we want to enable both reSTLintBear and RSTCheckBear.  What advantages are their for using reSTLintBear ?  Does it show errors that RSTCheckBear doesnt show?

RSTCheckBear already solves these problems ( https://github.com/myint/rstcheck/issues/1 ) with [config](https://github.com/myint/rst

[2017-05-09 07:31] SanketDG commented on #432
@jayvdb I just ran stuff on two bears, and it looks like `rstcheck` has sphinx support by default, so it reports none of those, there is not even config file needed!

@mridubhatnagar please remove reSTLintBear and only use RSTCheckBear :+1:

[2017-05-09 08:48] mridubhatnagar commented on #432
Sure, Thanks . Shall do it by today.

[2017-05-09 13:30] mridubhatnagar commented on #432
If I keep just the RSTCheckBear. Title underline too short error stems up. Even after changing the length of underline. I am using python 3.4.2.

[2017-05-09 16:48] mridubhatnagar commented on #435
Can someone elaborate this issue please?

[2017-05-09 18:08] mridubhatnagar commented on #430
A newcomer label can be added onto this one I guess.

[2017-05-10 05:19] #432 closed

[2017-05-12 09:32] #398 closed

[2017-05-13 05:06] jayvdb commented on #428
I think this was mostly done in https://github.com/coala/documentation/pull/437 .

[2017-05-13 09:20] #433 closed

[2017-05-13 09:49] jayvdb commented on #433
Interesting that rstcheck doesnt report this as an error.  So I have raised https://github.com/myint/rstcheck/issues/32

[2017-05-31 21:14] Makman2 opened #442 "FAQ: "Can I Use coala in my Continuous Integration?" - Include exit-codes link"
Currently it states:

We should link to the exit code page so someone can immediately find it. Especially googling "coala exit codes" has given me the FAQ as a first hit.

The exit codes can be found in `Users/Exit_Codes.rst` in this repo and the webpage is currently residing here on our website: https://docs.coala.io/en/latest/Users/Exit_Codes.html

[2017-06-06 07:10] AnishHota commented on #442
I will like to work on the issue. This will be my first PR,if i could do it correctly.

[2017-06-14 12:08] latacz-io opened #446 "Writing a coala Configuration File (coafile and coarc) doesnt show what can actually be used within the coafile"
[Writing a coala Configuration File (coafile and coarc)](http://docs.coala.io/en/latest/Users/coafile.html#) describes only the structure of the coafile. Which is confusing, because the title suggest, that the page will teach you how to write the coafile.

So when the user finished read the above page, the user knows how to structure the file, but doesnt know which setting he can actually use, etc

[2017-06-14 15:43] Makman2 commented on #446
Good point actually :+1:

[2017-06-15 04:43] coala-bot opened #447 "Installation of bears requires libxml2"
This dependency was introduced by recently added bears which use Python package `lxml`.
Installing lxml from pypi requires libxml2 headers, which are typically not found on Windows.
This is going to be a major problem until coala/coala-bears#1000 is fixed.
Temporarily, we can improve good instructions for Windows users on how to install lxml.
difficulty/low

Opened via [gitter](https://gitter.im/c