[2017-06-15 05:00] mind-warrior commented on #447
1. started here : https://coala.io/#!/getinvolved
2. Next  here http://api.coala.io/en/latest/Developers/Newcomers_Guide.html
3. Confused between what action to take next : https://coala.io/install & http://coala.io/devsetup
4. Then went here http://docs.coala.io/en/latest/Users/Install.html
5. Followed recommendation to install coala,coala-bears inside virtual-env
6. installed virtual-env,pip
7.

[2017-06-18 00:33] coala-bot opened #448 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945ca5d6462d8493c224171) by @Monal5031

[2017-06-26 04:28] #448 closed

[2017-06-28 09:53] mridubhatnagar commented on #428
@Udayan12167 @Mixih can you please have a look at the PR.

[2017-06-28 10:10] meetmangukiya commented on #428
I think @Mixih has already done this during the release

[2017-06-28 11:09] mridubhatnagar commented on #428
@meetmangukiya this was an open issue so I took it up. And raised a PR. Should we close this?

[2017-06-28 14:04] mridubhatnagar commented on #446
In the starting of http://docs.coala.io/en/latest/Users/coafile.html# there is already a link referencing to  http://docs.coala.io/en/latest/Users/Tutorial.html.

[2017-06-28 18:06] seven-binoche commented on #446
@mridubhatnagar you're right. Which is why I added the link only at the end.

[2017-07-02 14:52] #442 closed

[2017-07-10 04:31] refeed opened #452 "Check repository for unarchived links using MementoBear"
Unarchived links can be a problem if the site goes down and we can't see the site anymore. We can use MementoBear to handle this problem, it detects unarchived links, and we can submit them to an internet archive service like archive.org to fix the problem.

[2017-07-10 10:40] co-robo opened #453 "test issue"
Opened by @meetmangukiya

[2017-07-10 10:40] #453 closed

[2017-07-10 17:17] #428 closed

[2017-07-11 17:43] co-robo opened #454 "assigining an issue The description for assigning an issue to yourself in the newcomers guide is a bit ambiguous about where to leave a comment. Newcomers leave a comment on the issue on github rather than gitter for the assignment of the issue"
Opened by @vaibhavgarg11

[2017-07-11 17:48] vaibhavgarg11 commented on #454
I messed up with creating this issue by adding the description in the title. Can someone please fix this or close this

[2017-07-12 05:27] vaibhavgarg11 commented on #454
@meetmangukiya please add the label difficulty/newcomer for this issue

[2017-07-12 05:29] jayvdb commented on #454
@meetmangukiya , dont we want newcomers to use the bot?

[2017-07-12 06:11] meetmangukiya commented on #454
Yes, we want them to.

[2017-07-12 07:39] SanketDG commented on #454
I am not sure if this should be there in the first place, since we want to automate much as possible.

[2017-07-13 07:27] vaibhavgarg11 commented on #454
@SanketDG that was what I was talking about, from what I've obsereved people leave comments on the issues on github in order to be assinged that issue instead of using corobo on gitter. The notes below these articles do make it clear how to assign a issue to yourself but this paragraph creates a ambiguity

[2017-07-15 13:58] ramoska commented on #447
We need to resolve https://github.com/coala/coala-bears/issues/1000 first, since lxml dependency:
- is not so easy to install (you need libxml2 and libxslt1 installed before)
- is only required by one Bear
- issue will be almost solved by solving https://github.com/coala/coala-bears/issues/1000

After blocking issue is solved we can update documentation how to install optional pip packages.

[2017-07-15 14:49] jayvdb commented on #447
This is a documentation task to explain lxml.  It valid even after coala/coala-bears#1000, as installing lxml on Windows is not easy, as it often depends on `libxml` development files.

[2017-07-16 08:27] #446 closed

[2017-07-31 15:35] jayvdb opened #458 "Add CI"
This repo should have CI, preventing junk / rot / etc.

[2017-07-31 15:44] jayvdb commented on #71
This file was removed, along with d-bus.

[2017-07-31 15:44] #71 closed

[2017-07-31 16:23] #458 closed

[2017-08-02 13:56] Bala1718 commented on #430
Can I solve this issue?

[2017-08-09 18:59] zaidurrehman commented on #430
should this instruction be updated in the newcomer's guide or somewhere else?

[2017-08-12 19:03] #327 closed

[2017-08-25 08:11] meetmangukiya opened #463 "Use algolia docsearch"

[2017-08-25 08:11] meetmangukiya commented on #463
xref discussion : https://github.com/coala/meta/issues/91

[2017-08-27 08:34] naman1901 opened #465 "Disambiguation in "Closes xyz" vs "Fixes xyz""
I think the docs need to be clearer as to when to use Fixes and when to use Closes. Whenever I use one, someone asks me to change to the other. As a result, I had to change the verb multiple times on the same issue. I feel that much of the community itself isn't very clear about this usage. This needs to be discussed.

[2017-08-27 14:56] Makman2 commented on #465
Quoting from https://github.com/coala/coala-bears/pull/1767#issuecomment-325202707

Bugs are defined as code-problems, like "a function shall not throw an exception when I give 3 as input". Everything else aren't bugs :)

Though for newcomers, the main guideline is: If an issue is labeled as a `bug`, use `Fixes XXXX`. If it's not labeled as `bug`, use `Closes`.

So yeah let's clarify docs with tha

[2017-08-27 14:57] naman1901 commented on #465
Thanks! Appreciate your time :D
On 27-Aug-2017 8:26 PM, "Mischa Krüger" <notifications@github.com> wrote:

[2017-08-28 22:04] #463 closed

[2017-08-31 20:35] susg commented on #252
hi, can you explain how to put the shorturl in that page ?

[2017-09-03 22:51] HarshKhatore commented on #465
@naman1901 Could you please guide me on this? I am a newcomer.

[2017-09-04 16:00] Makman2 commented on #465
Yes :+1:

[2017-09-04 17:44] HarshKhatore commented on #465
@Makman2 How should I approach this issue and where to find the required file?

[2017-09-04 18:07] Makman2 commented on #465
Explain when to use `Fixes` vs `Closes` better (see above) in the according part of the newcomers guide. The according doc file is at https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst

[2017-09-05 05:29] HarshKhatore commented on #465
I was thinking of replacing 'fix' in the document with 'resolve' and keeping the 'close' word as they are at the places they appear, in the document. And, then specify how to mention 'Closes xyz' or 'Fixes xyz' in the pull request section. Would that be good? @Makman2 @naman1901

[2017-09-05 06:11] HarshKhatore commented on #454
This is a newcomers issue, please assign a label to it, so that it can be worked upon.

[2017-09-05 13:20] Makman2 commented on #465
Not sure what you mean, however you can just do what you think is best and open a PR, then I can see what you have in mind :)

[2017-09-08 18:42] HarshKhatore commented on #454
@meetmangukiya So, for this issue, I just need to make changes in [https://api.coala.io/en/latest/Developers/Newcomers_Guide.html](url) ?

[2017-09-12 22:48] susg commented on #252
hi @chauffer and @jayvdb, can you please explain where and how to put the shorturl in the page ?

[2017-10-04 12:10] RaiVaibhav commented on #465
@Makman2 @naman1901 can i work on this??issue sir , one more thing sir why travis and circle CI,failed on documentation

[2017-10-04 14:07] Makman2 commented on #465
@RaiVaibhav as you see the issue is already assigned :)

[2017-10-04 14:10] RaiVaibhav commented on #465
@Makman2 as  last updated 26 days ago so i asked

[2017-10-04 14:11] Makman2 commented on #465
yeah in this case the PR wasn't reviewed further, I'm doing that right now. Let's see what happens now :)
Feel free to take another issue :)

[2017-10-04 14:14] RaiVaibhav commented on #465
@Makman2  sir i want to make some change on @HarshKhatore commit, as i can see the things he added will not get displayed as we want it to be

[2017-10-04 14:15] Makman2 commented on #465
if he's not responding now in a few days, I'll reassign the issue to you :) Until then we should let him work on it again himself. But if you have ideas on how to explicitly improve things, feel free to drop comments at the PR :+1:

[2017-10-04 15:40] Makman2 commented on #430
Newcomers guide :+1:

[2017-10-04 15:40] Makman2 commented on #430
However, reassigning due to inactivity.

[2017-10-04 16:46] HarshKhatore commented on #465
Ya @RaiVaibhav, if you have any suggestions, I am eager to listen to them :)

[2017-10-12 15:40] Divya063 commented on #382
Hi, I would like to work on this.

[2017-10-12 15:44] Divya063 commented on #226
I would like to work on this

[2017-10-16 16:32] RaiVaibhav opened #469 "Fix the orientation of `COALA ` name on home page"
While opening the page [coala home](https://coala.io/#/home) using phone , orientation of name 'COALA' is like `COAL` rather then `COALA`

[2017-10-16 21:30] RaiVaibhav commented on #259
@stephenbhope  are you still working on this

[2017-10-16 21:32] RaiVaibhav commented on #284
@kshitijkg01  are you still working on this

[2017-10-16 21:36] kshitijkg01 commented on #284
Nope. I tried to remove this assignment from my account but was unable to

[2017-10-16 21:42] RaiVaibhav commented on #33
@kshitijkg01  are you working on this ??

[2017-10-16 22:04] kshitijkg01 commented on #33
Nope

[2017-10-17 23:47] Makman2 commented on #284
Only maintainers can remove assignments :) However, done :+1:

[2017-10-19 19:14] soumya-ranjan7 commented on #382
@Divya063 Are you still working on it?

[2017-10-20 08:51] nvzard commented on #452
What happened to this issue? Is it solved yet?

[2017-10-21 21:54] acashmkj commented on #30
@aptrishu @Adrianzatreanu can you please review my PR

[2017-10-22 02:19] rpanczer commented on #452
@nvzard @meetmangukiya @refeed Mind if I pick this one up? I need a difficulty/low and this has been stale for over 2 months?

[2017-10-22 04:54] refeed commented on #452
I'm sorry, this issue is actually intended to test MementoBear in production, but MementoBear itself needs more optimizations until it stable. So I think I'll keep this one for me until MementoBear stable and ready to use, I still working on MementoBear..

[2017-10-23 10:31] RaiVaibhav commented on #469
@Makman2  can you please label this issue as either newcomer or incitives/gci

[2017-10-23 10:58] RaiVaibhav commented on #33
@Adrianzatreanu  please update the link used for reference in this issue

[2017-10-24 16:19] #30 closed

[2017-10-25 15:05] blazeu opened #471 "JS dependencies will not install correctly"
http://docs.coala.io/en/latest/Users/Install.html#js-dependencies states that you run `npm install -g` to install JS dependencies, however that only installs the coala-bears globally (which is useless) not each of the dependencies stated in package.json (e.g. eslint).

[2017-10-25 15:26] blazeu commented on #471
The solution might be to add `node_modules` inside the project to PATH and also set NODE_PATH like in https://github.com/coala/docker-coala-base/blob/master/Dockerfile#L10-L11

But I think this might create a conflict between packages installed by coala and the user.

OR

Just install the dependencies interactively.
e.g. when coala is missing something, ask the user to install it, this requires fi

[2017-10-25 16:04] co-robo opened #472 "Add ISSUE_TEMPALTE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala`for reference.
label: initiative/gci
Opened by @Monal5031 at [gitter/coala/gci](https://gitter.im/coala/gci?at=59f0b61dd6c36fca31965685)

[2017-10-26 06:54] RaiVaibhav commented on #469
Fix it, comment/show the changes by using screenshot

[2017-10-28 07:13] RaiVaibhav commented on #472
Mainainers add label `initiative/gci`

[2017-10-28 07:15] RaiVaibhav commented on #382
Add label `initiates/gci`

[2017-10-29 10:41] Adrianzatreanu commented on #418
@tabias deassigning due to very long inactivity on issue

[2017-10-30 13:04] co-robo opened #477 "Document that the docker does not support Python 2 analysis"
See also coala/docker-coala-base#244
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59f723670cef4fed2ebc8aad)

[2017-10-31 16:59] nvzard opened #478 "Detect and prevent spelling errors in documentation"
Use a coala bear to detect spelling mistakes in current documentation , and prevent them from re-occurring by improving the `.coafile`.

[2017-10-31 18:06] ayush1999 commented on #477
@jayvdb  @Makman2 I'd like to work on this. Can you please tell me which documentation file is this issue talking about? :)

[2017-10-31 19:45] Makman2 opened #480 "Document default_coafile"
From https://github.com/coala/coala/issues/3388:

[2017-10-31 19:46] Makman2 commented on #480
The docs already mention the `default_coafile`, however right now only its existence is mentioned.

[2017-10-31 19:47] newbazz commented on #480
Ok so I sud make a new PR on this repo right

[2017-10-31 19:51] newbazz commented on #480
which file btw :P

[2017-10-31 20:01] Makman2 commented on #478
In that case we should also have a bear that detects spelling mistakes, so we have at least some spell checks ;)

[2017-10-31 20:22] Makman2 commented on #480
Yes :+1:

[2017-11-01 03:57] nvzard commented on #478
Yeah, that's a good idea. Should I propose a spellchecker bear? Please mark this issue as initiative/gci

[2017-11-01 05:46] satwikkansal commented on #478
Yeah, otherwise manually going through the documentation to detect mistakes would be a boring task I feel.

[2017-11-01 13:22] #94 closed

[2017-11-01 16:15] Makman2 commented on #478
@nvzard Some bears for markdown and others do have spellcheck modules, so we might not have to write a new bear :+1:

[2017-11-02 00:48] jayvdb opened #482 "Copyright violation in Users/Docker_Image.rst"
https://github.com/coala/documentation/pull/470 merged a bunch of text which is from https://opensource.com/resources/what-docker (and snippets appearing in various sources such as https://github.com/kecorbin/sevt-devops-intro ?, which is [unlicensed](https://github.com/kecorbin/sevt-devops-intro/issues/5) , https://opensourceforu.com/2017/10/glimpse-microservices-docker-kubernetes/ , etc), and re

[2017-11-02 00:57] jayvdb opened #483 "Relicense documentation as CC-BY-SA"
Same as https://github.com/coala/projects/issues/393 , AGPL isnt very good for text, and is a border-line problem when copying CC-BY-SA text from other websites, as occurred in https://github.com/coala/documentation/issues/482.

[2017-11-02 01:08] jayvdb commented on #482
I think it is/was a good idea to copy from https://opensource.com/resources/what-docker  . It certainly doesnt make sense to write our own "what is docker" from scratch.  The intention was good.   The alternative is to only link to that resource.

Unfortunately there is a bit of work to be done to make our copy of https://opensource.com/resources/what-docker legal.  We need to comply with the CC-B

[2017-11-03 07:28] charugupta07 commented on #472
I would like to work on this

[2017-11-03 07:33] Monal5031 commented on #472
@charugupta07 This issue is reserved for gci students, if you want to contribute to coala please go through the newcomers guide it will help you know everything you need to know for contributing. Also please look for issues which are not labelled `initiatives/gci`

[2017-11-03 08:17] jayvdb commented on #478
This is about using a spelling checking bear.  We have them.

[2017-11-03 08:40] Passionatecricketer commented on #477
This is issue is still opened?

[2017-11-03 08:45] ayush1999 commented on #477
@Passionatecricketer I've already opened a PR which might be merged soon, as all work is already done. Please find some other issue to work on :)

[2017-11-03 10:51] RaiVaibhav commented on #469
Move to https://github.com/coala/coalaCSS/issues/25

[2017-11-03 10:51] #469 closed

[2017-11-03 11:33] yashasingh commented on #436
@yukiisbored I would like to work on this issue.

[2017-11-04 00:53] Makman2 commented on #483
Would be okay with me :+1:

[2017-11-04 01:15] co-robo opened #486 "pip install not needed with docker image"
http://docs.coala.io/en/latest/Users/Docker_Image.html#coala-on-gitlab-ci mentions invoking `pip install ..`.
This line is not necessary
difficulty/newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59fd149919147ac323190f77)

[2017-11-04 04:42] yukiisbored commented on #436
@yashasingh Hey, head over to our gitter chat and ask @co-robo to assign yourself to this issue by doing `corobo assign <issue link>`. Have fun!

[2017-11-04 04:47] co-robo opened #487 "Improve newcomers guide to recommend verifying the bug exists before being assigned"
difficulty/newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59fd46630cef4fed2ebcc62a)

[2017-11-05 04:17] #436 closed

[2017-11-05 14:01] #477 closed

[2017-11-07 06:53] starlord1311 commented on #465
i am new to open source. can someone help me with what to do in this issue?

[2017-11-09 10:53] vipuldcoder commented on #486
Docker_image.rst: remove pip install instruction #486

[2017-11-09 20:34] newbazz commented on #486
Refer to the above commits @vipuldcoder

[2017-11-09 23:05] #418 closed

[2017-11-09 23:44] Makman2 commented on #465
If you don't understand roughly what has to be done, it's better to pick another issue :)

[2017-11-11 01:49] prashant0598 opened #492 "FAQ.rst: "ask us!" link not working"
The ask us link in FAQ.rst is not working and showing a 404 error.
label:initiatives/gci

[2017-11-11 15:13] newbazz commented on #49
I would like to work on this issue.

[2017-11-12 23:20] Makman2 commented on #492
Seems it's relatively linking...

[2017-11-13 02:55] zhongLxyz commented on #226
In the 'Hint' section of this [page](http://coala.readthedocs.io/en/latest/), there is a mentioning of using --json to format the output. I am not sure if this is what you are talking about? Also, right above the 'Hint' section, it also mentioned the --ci argument.

But I still feel like this information is a bit hidden being mentioned on this page only. New users may not find this hint on the pag

[2017-11-14 03:37] jayvdb commented on #259
Unassigned per https://github.com/coala/documentation/pull/420#issuecomment-344136654

[2017-11-14 03:40] jayvdb commented on #259
Is this problem still accurately described ?

Wont coala-bears installation fail if java is not installed?  the `language-check` installer checks if java is installed ...??

[2017-11-15 19:34] Makman2 commented on #259
Doesn't this depend also on the OS/package how properly it sets up environment?

[2017-11-15 23:34] Makman2 commented on #226
The coala entrypoints `coala-json` and `coala-format` are deprecated in favor of the `--json` and `--format` flags.

Not sure what's best, but just try it ;)

[2017-11-17 09:06] newbazz commented on #478
![image](https://user-images.githubusercontent.com/25884863/32939176-b42a9604-cba4-11e7-8c10-de13194fbeb8.png)
Shouldnt it be `on the internet`.

[2017-11-17 09:34] newbazz commented on #33
@RaiVaibhav are you gonna work on this?

[2017-11-17 11:01] RaiVaibhav commented on #33
@newbazz  no go on, but the link provided in description is `page do not exists`, If you get the problem :tada:

[2017-11-17 15:46] Makman2 commented on #478
I think both is okay^^

[2017-11-17 19:30] #480 closed

[2017-11-21 15:55] yashovardhanagrawal commented on #471
I think I can work on this.. @blazeu I have to write something like
`export NODE_PATH='yourdir'/node_modules`
at the starting of `package.json`

but the `PATH` will be different for different machines... isn't it?

[2017-11-21 16:14] mamat-rahmat opened #495 "Bears reference link in docs are deprecated"
Bears reference link in docs are pointing to https://github.com/coala/bear-docs/blob/master/README.rst that marked as deprecated. We need to update those to https://coala.io/#/languages.

 label:difficulty/newcomer

[2017-11-21 16:42] blazeu commented on #471
You can't run that inside a .json file.

I don't think you understand this.

[2017-11-21 17:31] #495 closed

[2017-11-21 19:49] yashovardhanagrawal commented on #471
we have to provide environment variables NODE_PATH and PATH these values so we have to make a process.env file?

[2017-11-22 03:37] jayvdb opened #498 "Coding style configurations"
Users want to know whether coala will enforce a specific widely used style guideline.

We should have a documentation about each of these style guidelines, and tell them which bears will do the job.
Currently most of the bears are not preset style oriented, so the documentation page would need to describe a sample `.coafile` which achieves roughly what the guideline recommends.

e.g. read one of t

[2017-11-23 17:52] jayvdb commented on #23
This has been achieved via several means.

[2017-11-23 17:52] #23 closed

[2017-11-23 18:20] jayvdb commented on #33
@RaiVaibhav rather than talking about this, and pinging maintainers , surely you can find that page and then it can be mentioned here.  Problem is then solved.

[2017-11-23 18:23] jayvdb commented on #35
We should also ensure that `default_actions="*: ApplyPatchAction"` is properly documented.

[2017-11-23 18:59] jayvdb commented on #35
Assigning to a developer to get this closed before GCI.

[2017-11-23 19:34] jayvdb commented on #42
Hmm.

There should be a documentation page about `coala-quickstart`.
Assigning to get that started properly, and this extremely old issue closed.

[2017-11-23 19:47] jayvdb commented on #1
@shreyans800755 @abhsag24 , can you work out what is missing and where it should go, so that this request is actionable.

[2017-11-23 19:51] jayvdb commented on #2
Do we want these extra entry-points?

If not, then we dont want to document them?

Is there any functionality which can only be accessed by the extra entry-points?
We should create issues in the main repo to ensure everything can be done using `coala`, unless there is a very good reason it should be a separate entry point.

[2017-11-23 19:56] jayvdb commented on #5
@Monal5031 , can you investigate what is involved.  Is it a possible GCI task?  Do we have all the necessary content written?  Or is it too big?

[2017-11-23 19:58] jayvdb commented on #6
This issue is definitely in the wrong repo now, but lets do some analysis of it before moving it again.

[2017-11-23 20:33] shreyans800755 commented on #1
@abhsag24 Are you sure about this command ?

When I tried following command:
`coala -I -b ClangBear -B`
it gives list of names of all the bears.

I'm working on other PR which can print details only for the selected bears using option `--bears`.
Ref https://github.com/coala/coala/pull/4832.

[2017-11-23 20:34] Monal5031 commented on #5
Yeah, this can be a GCI task but is it okay to have a PR over dash repo and count it as a GCI task? , also it requires info on how to generate the docs.

A sample is given there on how to contribute the doc https://github.com/Kapeli/Dash-User-Contributions/tree/master/Sample_Docset
According to the sample doc I think we have all the necessary things
- [x] Author
- [x] Instruction to generate the d

[2017-11-24 00:36] co-robo opened #499 "coafile.rst: Fix bad setting example codeblock markup"
difficulty/newcomer
Opened by @mamat-rahmat at [Gitter](https://gitter.im/coala/coala?at=5a17699571ad3f87362236cb)

[2017-11-24 10:27] satwikkansal commented on #42
So a page explaining what coala-quickstart does at http://docs.coala.io (i.e. [here](https://github.com/coala/documentation/tree/master/Users)? I think that's a good idea, most people don't use quickstart because they aren't aware of it.

[2017-11-25 23:18] 0x48piraj commented on #499
**I want to do it!**

BTW, @co-robo Are you talking about :

[section1] # setting1 is inherited setting2 = 2

[2017-11-26 01:11] mamat-rahmat commented on #499
Yes, exactly

[2017-11-26 01:12] 0x48piraj commented on #499
Got it :sunglasses:

[2017-11-27 04:40] jayvdb commented on #492
http://docs.coala.io/en/latest/Help/FAQ.html

[2017-11-27 05:01] jayvdb commented on #487
note the newcomers guide is in the coala/coala repository.

[2017-11-27 05:02] jayvdb commented on #487
@AGZain , I am unassigning you so our Google Code-in participants can do this.

[2017-11-27 05:04] jayvdb commented on #487
(Invalid as the issue is in the wrong repository)

[2017-11-27 05:06] jayvdb commented on #435
The bear tutorial example code is probably showing users to use the old logging system.  It should describe how to use `logging.`

[2017-11-27 05:11] jayvdb commented on #465
Marking as invalid, because this issue is in the wrong repository.
And low, as it requires someone who has done a few patches before they could properly do this issue.

[2017-11-27 05:13] jayvdb commented on #454
Marking as invalid, only because this issue is in the wrong repository -- that doesnt matter ; it can be fixed with a link to here.

[2017-11-27 05:26] jayvdb commented on #378
@hemangsk @sils , are we using the `.gitlab-ce.yml`  `DOCKER_DRIVER: overlay` setting in any of our repos ?  If so, can you add a link to that issue as an example.

https://gitlab.com/gitlab-com/support-forum/issues/1025#note_20715380
says to use

[code]

But
https://docs.gitlab.com/ce/ci/docker/using_docker_build.html#use-driver-per-project
says to use

[code]

[2017-11-27 19:22] Makman2 commented on #2
Don't think so right now, so yeah let's rather merge every entrypoint into the main one :+1:

[2017-11-27 19:22] #2 closed

[2017-11-27 19:22] Makman2 commented on #2
Actually we also have now `--json` and `--format` options :+1: So maybe this issue got invalid anyway^^

[2017-11-27 19:26] Makman2 commented on #465
Hmm I think this issue is valid in this repo, this info should imo go into `Newcomers_Guide.rst`^^

[2017-11-28 21:10] realslimshanky opened #502 "Users/Install.rst: Installation guide for pipenv is required"
difficulty/newcomer
[pipenv](https://docs.pipenv.org/) is recommended by python.org and is a user-friendly tool to handle python virtual environment. Hence, it'll be helpful for the folks who're installing coala if we provide a quick guide to how they can work with pipenv to do so. I would also like to work on this issue myself.

[2017-11-29 06:24] co-robo opened #503 "PULL_REQUEST_TEMPLATE.md: Change cobot to corobo"
label: difficulty/newcomer initiatives/gci
Opened by @Vamshi99 at [Gitter](https://gitter.im/coala/corobo?at=5a1e52adffa3e37919d24f07)

[2017-11-29 17:39] mridubhatnagar opened #505 "Git_Basics.rst: Guideline for Git installation on windows"
How to install git in debian and MacOS is present as of now.
Should we give installation guidelines for windows as well?

[2017-11-30 13:39] mridubhatnagar commented on #505
Closing this task. As it is opened in the wrong repository.

[2017-11-30 13:39] #505 closed

[2017-12-01 07:33] hemangsk commented on #378
@jayvdb In coala/landing we are using this ```DOCKER_DRIVER: overlay```setting
coala/landing gitlab-ci.yml:  https://gitlab.com/coala/landing/blob/master/.gitlab-ci.yml#L6

[2017-12-02 09:01] athulpn commented on #492
I am new to open-source. Can i work with that? @prashant0598

[2017-12-02 18:12] Makman2 commented on #492
@athulpn please follow our [newcomer guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html) before starting to work on an issue ;) (especially get assigned)

[2017-12-04 14:30] realslimshanky commented on #492
I would like to help out fixing this issue. Sending a PR soon.

[2017-12-04 14:48] prnvdixit commented on #492
@realslimshanky This is a GCI issue - Are you in GCI? If so, then first claim the issue in GCI dashboard before starting to work on the issue :smile:

[2017-12-04 14:52] realslimshanky commented on #492
@prnvdixit sorry I'm not a GCI member. I'll look into other issues. Thanks

[2017-12-08 17:48] #358 closed

[2017-12-09 12:12] apsknight commented on #503
Please assign this issue to me.

[2017-12-09 12:19] Vamshi99 commented on #503
Ask in gitter or zulip chat

[2017-12-10 20:15] Makman2 commented on #503
@apsknight please don't start working on issues without assignment, we won't review relevant PRs.
Anyway, invitation is out, and please read our newcomer guide ;)

[2017-12-12 18:55] vedanshbhartia commented on #430
@Makman2 Can I also modify step 3 to include information about how to set upstream to coala's original repository instead of the fork?

[2017-12-13 17:43] Makman2 commented on #430
Uh maybe, not sure what step 3 is right now ;) But if it makes sense to you, do it and submit the PR ;)

[2017-12-16 16:43] prnvdixit commented on #465
This issue would also include changes from https://github.com/coala/coala/issues/4769#issuecomment-338540088 :wink:
Also, @Makman2, "Newcomer's guide.rst" and "Writing_Good_Commits.rst" are in [coala/coala](https://github.com/coala/coala/tree/master/docs/Developers) - Right? :smile:

[2017-12-16 19:10] Makman2 commented on #465
Oh indeed.

[2017-12-16 19:11] Makman2 commented on #465
Migrated to https://github.com/coala/coala/issues/4976

[2017-12-16 19:11] #465 closed

[2017-12-28 15:42] jayvdb commented on #259
Changing topic from "Add info for installation after you install java" to "Add info for installing Java"

[2017-12-28 15:44] jayvdb commented on #259
http://docs.coala.io/en/latest/Users/Install.html doesnt mention Java at all, and it should.

The coala bears that need Java can be found at https://github.com/coala/coala-bears/tree/master/bears/java

The scala bear also needs Java : https://github.com/coala/coala-bears/tree/master/bears/scala

[2018-01-08 04:02] anctartica opened #511 "Git_Basics.rst: Change formatting of code"
Under "pushing the commit" section, fix the formatting for the git status command

[2018-01-08 15:10] #511 closed

[2018-01-10 09:02] Kunalgarg2100 commented on #499
Can I take it up?

[2018-01-13 03:54] newbazz opened #513 "Sudo required while running coala/base using docker"
difficulty/newcomer

[2018-01-13 15:05] Aakarshak1 opened #514 "Unable to generate HTML document file"
I tried to generate html file using given instruction here :
https://github.com/coala/documentation
and got error

``Exception occurred:
  File "conf.py", line 20, in <module>
  from coalib.misc.Constants import VERSION
ImportError: No module named coalib.misc.Constants
The full traceback has been saved in /tmp/sphinx-err-_10BnE.log, if you want to report the issue to the developers.
Please also r

[2018-01-13 15:55] Prabhat-IIT commented on #514
I think extensions (or modules to document with autodoc) are in another directory.You can add those directories to `sys.path` in `conf.py`

[2018-01-13 21:16] Makman2 commented on #513
@newbazz what do you want to change specifically actually?

[2018-01-13 21:33] Prabhat-IIT commented on #513
I think newbazz wanted to change some command in documentation which requires `sudo` to be written but he has not mentioned where he want changes to be done!

[2018-01-13 21:35] Makman2 commented on #513
we should be always careful with `sudo` because it depends on the environment. Some don't even have `sudo` available, or they already have root rights. This really depends on the system^^

[2018-01-13 21:40] Prabhat-IIT commented on #513
Yup! you're right. Let newbazz clear what he wants then!

[2018-01-13 21:40] Makman2 commented on #513
And I think it's usually safe-explanatory to use root-rights if something is globally installed. And actually the usual docker installation involves to add a package repository, which forwards this problem to the package manager used.

[2018-01-14 04:49] newbazz commented on #513
@Makman2 while i was making a fresh install using docker image, it always gave some permission denied error and I then had to run it using `sudo` so i filed this issue ;P

[2018-01-14 14:15] Makman2 commented on #513
Don't we defer the docker installation instructions to the official docker documentation?

[2018-01-14 14:16] Makman2 commented on #513
And are you talking actually about running the `coala/base` image or installing docker itself?

[2018-01-14 14:21] newbazz commented on #513
running the coala/base image.

[2018-01-14 14:23] Makman2 commented on #513
That shouldn't be written in the docs with sudo. Usually users add their username to the docker group so they can access docker functionality without being root, this is very common.

I would vote for closing this issue as invalid, this highly depends on the user setup, and people should read the official docker docs.

@newbazz what do you think? ;)

[2018-01-14 14:25] newbazz commented on #513
@Makman2 yeah i agree in your view. I am than closing it.

[2018-01-14 14:25] newbazz commented on #513
Closing due to invalid issue.

[2018-01-14 14:25] #513 closed

[2018-01-14 14:50] Makman2 commented on #499
Unassigning due to inactivity.

[2018-01-14 15:00] Makman2 commented on #511
Why closed?

[2018-01-14 18:25] anctartica commented on #511
This should be under the main coala repository. Sorry for the confusion. I opened it here: https://github.com/coala/coala/issues/5061 @Makman2

[2018-01-14 18:38] anctartica opened #515 "Install.rst: Add note for virtualenv creation"
`virtualenv venv` command in [Installing coala Natively](http://docs.coala.io/en/latest/Users/Install.html) should be changed to `virtualenv venv -p $(which python3)`  along with the note

Refer to [development setup notes](https://api.coala.io/en/latest/Developers/Development_Setup.html) under using virtualenv section.

[2018-01-15 18:59] Makman2 commented on #515
How can you use `virtualenv` if you don't have it installed before?

[2018-01-15 19:10] anctartica commented on #515
Accidentally had the wrong command. Edited the `pip3 install virtualenv` to `virtualenv venv` in the issue description.

[2018-01-15 19:21] Makman2 commented on #515
There's also a note I just see:

Could you maybe point to the exact location where you want to change the command?

[2018-01-15 19:35] anctartica commented on #515
done!

[2018-01-16 08:48] mrsaicharan1 commented on #499
@co-robo  Can I take this issue up?

[2018-01-17 22:34] Kagamihime commented on #435
Hello,
I would like to be sure if the tutorial in question is in Writing_Native_Bears.rst on the coala/coala repo, please.

[2018-01-18 18:56] vibhanshuvaibhav opened #516 "index.rst: Grammatical Mistake"
There's a grammatical mistake in index.rst file at line 60. It says an `user-friendly interface` which should be changed to `a user-friendly interface`

[2018-01-18 20:09] diveshuttam commented on #515
Hey I would like to work on this issue.

[2018-01-20 11:47] diveshuttam commented on #515
HI @Makman2 ,
I have accepted the invitation. pls assign me to the issue. :smile:

[2018-01-20 20:48] Makman2 opened #518 "Document all available actions that can be used with `default_actions` setting"

[2018-01-21 16:02] Makman2 commented on #435
The file to modify resides in the `coala/coala` repository, issue has to be migrated.

[2018-01-21 16:03] Makman2 commented on #435
Migrated to https://github.com/coala/coala/issues/5101

[2018-01-21 16:03] #435 closed

[2018-01-21 18:38] duskybomb commented on #503
@Makman2 assign this to me!

[2018-01-21 19:55] Makman2 commented on #503
@duskybomb You already have a newcomer issue assigned :+1:

[2018-01-26 16:12] Uditgulati opened #523 "Correct the installation instructions for the coala docs"
To generate the documentation of coala it is given in the [Installation guide](http://docs.coala.io/en/latest/Users/Install.html#generating-documentation) notes to use ``make`` instead of ``python setup.py docs``. Later one is now the right way to build the documentation. Hence, it needs to be updated.

[2018-01-27 16:35] Makman2 commented on #523
@Uditgulati are you sure? I think in this case using `make` is correct, I see a `Makefile` in this repo^^

[2018-01-27 19:00] Uditgulati commented on #523
@Makman2   https://github.com/coala/coala/issues/5062 in this issue, it is given that it needs to be updated in this repo too.

[2018-01-27 19:32] Makman2 commented on #523
I guess this was a bit confusing:

Documentation generation is not part of a user-guide, it's technical documentation.

[2018-01-27 19:33] Makman2 commented on #523
And here it refers to the generation of the user-documentation itself (which lies also here).

[2018-01-28 07:40] Uditgulati commented on #523
Yup, ``make`` is to be used here. Is there any modification required in this repo regarding this issue https://github.com/coala/coala/issues/5062?

[2018-01-28 15:27] Makman2 commented on #523
I guess no :)

[2018-01-28 15:27] #523 closed

[2018-01-28 20:16] #515 closed

[2018-02-06 00:57] siersod-utopian opened #526 "Translation of Coala Documentation into spanish language"
Greetings Coala Team!

 I would like to help translating the documentation of Coala available at http://docs.coala.io/en/latest/ into spanish language. In order to do so, I  have a couple of questions.

Should I make a new branch called Spanish and do the translation from there? or how would it be more convenient to have this translation?

Thanks in advance for your answer.

[2018-02-07 05:29] pavankrishna13 commented on #499
I want to work on this issue. Can I get assigned?

[2018-02-07 14:39] michaelizer opened #527 "Documentation: Translation into Spanish Language"
Hello, I would love to contribute by translating all the documentation available into Spanish so people limited by the language can still involve in the project with no problems. Let me know what do you think?

By the way, should I make a new branch named ''Spanish translations'' or something?

Thank you in advance and keep up the good work!

[2018-02-08 19:43] Makman2 commented on #499
You both already have newcomer issues assigned, so please continue with a `difficulty/low` one ;)

[2018-02-09 20:02] Makman2 commented on #527
@michaelizer hi :) Thanks for your offer :)
Please don't start yet, this has to be discussed. We regularly change parts inside our docs, so once we have an official translation it should be kept alive and up-to-date as long as possible :+1: We once had translations for the core tool `coala` itself, but we abandoned it because it was unmaintainable for us (missing translations, many languages, ...)

[2018-02-09 20:04] Makman2 commented on #527
Oh this actually seems to be a duplicate of https://github.com/coala/documentation/issues/526

[2018-02-09 20:04] #527 closed

[2018-02-09 20:05] Makman2 commented on #526
Quoting from the issue I've seen first:

We really appreciate your offer, but like you read, we have to discuss this :)

[2018-02-10 14:42] michaelizer commented on #527
Thank you Makman2, let me know when you have discussed this. Sorry for the Issue duplication

[2018-02-12 22:08] nemaniarjun opened #529 "Update `Review` Docs"
http://api.coala.io/en/latest/Developers/Review.html

A lot of policy has been changed, that has not been reflected in the docs.
The ones I know of currently are:
[ ] Ack is now supposed to be done by maintainers only, other should use "Looks good" or "LGTM" (Lets get this merged)
[ ] We are not using rultor anymore.

[2018-02-13 05:42] kushagra189 commented on #516
is the issue still open?

[2018-02-13 10:34] virenparmar opened #530 "Documentation: Translate into Hindi, Gujarati Language"
Translate Documentation into Hindi, Gujarati Language, so Most of Gujarati, Hindi People can use it well

[2018-02-13 10:47] Makman2 opened #531 "Document `min_severity` setting"
Missing documentation caused the confusion in https://github.com/coala/coala/issues/4102 :)

[2018-02-13 11:01] Makman2 commented on #516
It will be merged soon, so please pick a different issue :)

[2018-02-13 11:10] Makman2 commented on #530
Thanks for your proposal. This goes into this direction though:

https://github.com/coala/documentation/issues/526#issuecomment-364548839

But as our community is mainly made up of Indian people, this maintenance burden can be borne.

[2018-02-13 11:18] virenparmar commented on #530
should i translate that documentation in Hindi, Gujarati Language?

[2018-02-13 12:23] virenparmar commented on #530
ok, :)

[2018-02-13 17:06] Naveenaidu commented on #499
I want to work on this issue. Can i get assigned to it?

[2018-02-13 18:49] Naveenaidu commented on #499
#532 Can you please review the PR. Please let me know, if i have to make changes to it.

[2018-02-14 12:06] Makman2 commented on #447
Unassigned per personal request.

[2018-02-14 18:53] himanshu1603 commented on #529
@nemaniarjun can I take up this issue?

[2018-02-15 07:41] nemaniarjun commented on #529
Sure a maintainer will be here to assign you soon, or ask on gitter :)

[2018-02-15 13:14] Makman2 commented on #529
Please accept the org invite @himanshu1603 , then you can be assigned.

[2018-02-15 18:34] nityeshaga opened #535 "Update the Getting Started tutorial"
Quite a lot of changes were made to the coala CLI in [this GSOC 2017 project](https://projects.coala.io/#/projects?project=improve_the_coala_cli&lang=en). These include but are probably not limited to:

* Use letters instead of numbers for selecting actions.
* 2 new courses of action when one the bears find a problem in the code-
  * Show Applied (P)atches
  * (G)enerate patches

Thus, the Getting

[2018-02-15 18:35] nityeshaga commented on #535
cc @yukiisbored @Adrianzatreanu

[2018-02-17 14:51] nityeshaga commented on #535
cc project mentors- @yukiisbored @Adrianzatreanu

[2018-02-17 14:58] nityeshaga commented on #535
I would like to work on this issue. Can I please be assigned?

[2018-02-20 07:42] monsij commented on #529
Can I be assigned this issue @Makman2 due to user inactivity?

[2018-02-22 20:37] Mariatta opened #538 "The example in coala as git pre-commit hook should not have $ sign"
In http://docs.coala.io/en/latest/Users/coala_as_Git_Hook.html#pre-commit-hooks, the example file:
[code]

The $ in front of each lines should be removed.

[2018-02-22 20:53] Makman2 commented on #538
Yeah this is bad...

[2018-02-24 13:11] Makman2 opened #541 "master build: netlify breaks"
https://app.netlify.com/sites/coala-documentation/deploys/5a9163e4df99532cade5d04b

[2018-02-24 13:14] Makman2 commented on #541
`3.6.2` is an invalid version specified according to docs: https://www.netlify.com/docs/build-settings/

[2018-02-24 15:10] #541 closed

[2018-02-26 20:45] #538 closed

[2018-02-28 14:35] alphadose opened #543 "Change dependency installation source in Install.rst"
The command to install dependencies should be ```pip install -r requirements.txt```
instead of ```pip install -r docs-requirements.txt```

[2018-03-10 03:20] #503 closed

[2018-03-10 03:28] #516 closed

[2018-03-10 03:42] #223 closed

[2018-03-10 03:48] #502 closed

[2018-03-10 04:14] #35 closed

[2018-03-10 06:04] #492 closed

[2018-03-10 07:26] #543 closed

[2018-03-10 07:42] #499 closed

[2018-03-30 23:12] #482 closed

[2018-04-06 14:55] #514 closed

[2018-04-07 05:04] #529 closed

[2018-04-08 11:39] RaiVaibhav commented on #33
Correct link https://docs.coala.io/en/latest/Users/Tutorial.html#let-s-start

[2018-04-18 07:29] jayvdb commented on #6
Not sure how important this is.
If it is, re-open on meta, or something.

[2018-04-18 07:29] #6 closed

[2018-04-18 07:30] jayvdb commented on #31
Moved to https://github.com/coala/meta/issues/117

[2018-04-18 07:30] #31 closed

[2018-04-18 08:33] jayvdb commented on #535
@nityeshaga , are you still working on this one?

[2018-04-18 08:46] nityeshaga commented on #535
I am so sorry. I totally forgot about the issues assigned to me in this repo. :sweat: :
I will make a PR today itself.

[2018-04-18 09:17] nityeshaga commented on #535
According to my research, here is the list of changes that were made to the CLI since that project:
* [Use letters instead of numbers](https://gitlab.com/coala/GSoC-2017/issues/127) (*actually both are allowed in the current version of coala*)
* 2 new actions - `ShowAppliedPatches` and `GeneratePatches`
* [Allow chaining of actions in input](https://gitlab.com/coala/GSoC-2017/issues/129) (*chained

[2018-04-18 15:25] jayvdb commented on #42
A very basic page.  Just get the ball rolling.  Negotiate who does it.  We'll get it merged quick, and then create new issues for extra things that should be added.

[2018-04-18 15:56] palash25 commented on #42
A basic layout for the `quickstart.rst` could be
- Installation
- Features
- Usage

We can distribute these sections amongst ourselves @ishanSrt
Let me know if I have missed something.

[2018-04-18 17:29] RaiVaibhav commented on #472
Nope I don't think so, currently corobo is down so ask maintainers on [gitter](https://gitter.im/coala/coala) to get assigned on the issue.

[2018-04-18 17:33] jayvdb commented on #472
This will be done via https://github.com/coala/meta/issues/117

[2018-04-18 22:36] jayvdb commented on #430
ping @vedanshbhartia , a bit more effort.
Otherwise we close your PR and let someone else do it.

[2018-04-19 00:19] ishanSrt opened #548 "Heading severities colors not showing up on many pages"
eg..:
showing correctly on: https://api.coala.io/en/latest/Developers/Newcomers_Guide.html
not showing: http://docs.coala.io/en/latest/, http://docs.coala.io/en/latest/Users/Tutorial.html

[2018-04-19 07:43] ishanSrt opened #550 "too many NOTES headings"
after the bg color is added, its making the pages look too much blue, odd against the theme being used, either change the color to light grey or something or remove so many NOTES headings and add it under different paragraphs or sections

[2018-04-19 07:47] #42 closed

[2018-04-23 13:35] jayvdb opened #552 "Replace FAQ item about pull requests"
http://docs.coala.io/en/latest/Help/FAQ.html#what-are-those-things-failing-passing-on-my-pull-request

This should be a generic FAQ entry about "I need help contributing to coala" , directing them to http://api.coala.io

[2018-04-23 13:52] jayvdb opened #553 "Getting in Touch: Add CoC"
http://docs.coala.io/en/latest/Help/Getting_In_Touch.html

http://coala.io/coc

[2018-04-23 13:53] jayvdb opened #554 "FAQ: Add item about CoC"
http://docs.coala.io/en/latest/Help/FAQ.html

http://coala.io/coc

[2018-04-27 18:48] satya-vinay commented on #553
Can I work on this?

[2018-04-27 20:31] Makman2 commented on #553
@satya-vinay you already have a newcomer issue assigned ;)

[2018-04-29 05:21] #548 closed, assigned to nobody

[2018-05-01 03:58] PrajwalM2212 commented on #554
@jaydb Can this newcomer issue be assigned to me ?

[2018-05-02 03:55] #554 closed

[2018-05-04 17:56] PrajwalM2212 opened #556 "Use system_coafile instead of default_coafile in docs"
<img width="718" alt="screen shot 2018-05-04 at 10 05 43 pm" src="https://user-images.githubusercontent.com/30733262/39643418-576b0a02-4ff2-11e8-976b-cc465faefa69.png">

The `default_coafile` is deprecated and can be replaced by `system_coafile` .
http://docs.coala.io/en/latest/Users/coafile.html

[2018-05-05 01:28] #556 closed

[2018-05-09 18:14] prashantxc commented on #553
@Makman2 @jayvdb Can this be assigned to me? I am a newcomer.

[2018-05-10 06:36] virresh opened #559 "Add coala as hg hook"
Add instructions for Users for adding coala as an hg hook for the next release

[2018-06-20 03:52] chhabrabhishek commented on #553
I want this newcomer issue to be assigned to me. Can I work on it?

[2018-06-20 09:02] chhabrabhishek commented on #553
@jayvdb Hi! Do I have to give the COC reference of the coala website or do I give the direct reference of the github page?

[2018-06-20 14:38] jayvdb commented on #553
COC on the website

[2018-06-21 15:57] #553 closed

[2018-07-05 11:21] sarthakchakerverty commented on #284
Can you please assign this issue to me?

[2018-07-07 08:13] sarthakchakerverty commented on #552
@jayvdb Can you please assign this issue to me. Thanks.

[2018-07-19 06:49] #284 closed

[2018-07-20 12:07] MorTD commented on #447
I would like to work on this.
BTW, an easy fix that did the job for me was using: sudo apt-get install zlib1g-dev, and this was after installing libxml2 and libxslt1. This was ofcourse done on linux, but it's a VM, so I'll try to go ahead and tweak with this on my windows 10 computer to try and find a solution for win users.

[2018-09-10 07:11] jayvdb commented on #478
Problems with implementation at https://github.com/coala/coala/pull/4937 and a possible solution at https://gitlab.com/gitmate/open-source/gitmate-2/issues/240

[2018-09-18 13:04] aditya81070 commented on #518
I want to work on this issue.

[2018-09-18 13:05] aditya81070 commented on #518
@Makman2  please assign it to me

[2018-09-24 13:04] agrawalarpit14 opened #567 "Fix Grammar"
https://api.coala.io/en/latest/Developers/Writing_Native_Bears.html

Following sentence has grammatical mistakes-
Declare list of aspect it can fix and detected. Note that the aspect MUST be a leaf aspect. You can see list of supported aspect here https://github.com/coala/aspect-docs.

[2018-09-26 09:04] manigedit commented on #567
Can I take up the task. I am a totally beginner.

[2018-09-26 10:55] shikharvaish28 commented on #567
@manigedit You'll have to ask for it on our [gitter channel](https://gitter.im/coala/coala)

[2018-10-04 16:53] AprajitaSingh commented on #535
Is this issue still open? I would like to work on it

[2018-10-08 11:49] jayvdb commented on #252
@susg see the PR #5788 for an example.

If you are interested in doing these, let me know on gitter.

The list of redirects is at https://gitlab.com/coala/solar/shortlinks/blob/master/shortlinks.yml

[2018-10-11 08:42] AprajitaSingh commented on #567
If this issue is still unassigned, can i work on it?

[2018-10-11 08:42] jayvdb commented on #487
Moved to https://github.com/coala/coala/issues/5802

[2018-10-11 08:42] #487 closed

[2018-10-11 08:45] jayvdb commented on #567
Note that 'aspect' are a part of coala, so that is a noun.

https://github.com/coala/coala/tree/master/coalib/bearlib/aspects

[2018-10-11 09:12] jayvdb commented on #567
@AprajitaSingh , please also be aware that this issue is about documentation which resides in the https://github.com/coala/coala/ repository, not this one.

[2018-10-13 13:32] jayvdb opened #571 "Add slashes"
`Users/coafile.rst` refers to forward slashes and backslashes.

Add `(\)` and `(/)` after these as appropriate for people who dont immediately recognise which is which.

c.f. https://github.com/coala/documentation/pull/490

[2018-10-14 08:27] agrawalarpit14 opened #573 "Fix typo"
https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html

Under second example of writing a Good Commit Message:

`Closes https://github.com/coala/coala/issues/7971` --> `Fixes https://github.com/coala/coala/issues/4018`

[2018-10-15 00:02] blossomica commented on #573
@agrawalarpit14  - Good catch! I tried to make a fix for your issue.

[2018-10-15 00:05] jayvdb commented on #573
@blossomica , I've invited you to join the org.  See  https://coala.io/newcomer

[2018-10-15 00:13] blossomica commented on #573
@jayvdb - Thank you!

I thought that joining the org is for people interested in being long term contributors and I don't have the bandwidth for that right now, but I'll definitely take the time to look into what the document is saying in depth to understand what it entails.

[2018-10-15 00:20] #573 closed, assigned to nobody

[2018-10-15 07:39] #571 closed

[2018-10-15 09:35] ManthanKeim commented on #344
@jayvdb I want to work on this.

[2018-10-22 14:12] scls19fr opened #575 "Doc improvement - using coala with pre-commit"
Hello,

I think there is a room for doc improvement to show how to use coala with https://pre-commit.com/ https://github.com/pre-commit/pre-commit

Pinging @asottile

Kind regards

PS : from https://github.com/coala/coala/issues/5836

[2018-10-29 19:24] #259 closed

[2018-11-08 19:46] pydevsg commented on #430
Hi all, can I work on this issue as it seems to be inactive.

[2018-11-11 03:46] jayvdb commented on #382
This issue reserved for Google Code-in task [4866295498539008](https://codein.withgoogle.com/dashboard/tasks/4866295498539008).

[2018-11-11 06:19] jayvdb commented on #259
This issue reserved for Google Code-in task [4737907299450880](https://codein.withgoogle.com/dashboard/tasks/4737907299450880).

[2018-11-14 04:50] PandaBoi commented on #378
If the issue has been inactive could I be assigned the issue please

[2018-11-14 11:15] pydevsg commented on #1
I am willing to work on this issue
Can I be assigned this @jayvdb

[2018-11-27 11:52] nishantsharma09 commented on #454
Is this solved yet?

[2018-12-11 08:22] shashank-b opened #579 "Tutorial.rst: Correct grammatical error"
In Users/Tutorial.rst the following sentence can be improved to correct grammatical errors:

(This might be an appropriate issue for newcomers to work on.)

[2018-12-11 09:03] shashank-b opened #580 "FAQ.rst: Information about one test is missing"
In the section "What are those things failing/passing on my Pull Request?" in Help/FAQ.rst, only 6 out of the 7 tests have been mentioned.

Adding the missing test to the bulleted list or changing the contents of the section appropriately would fix this.

[2018-12-13 12:20] ar20603 commented on #580
Can i be assigned to fix this? I am new here. Also tell me how am i supposed to fix this? Should 7 be simply changed to 6 or if there is any point to add to the list?

[2018-12-15 04:48] shashank-b commented on #580
@ar20603, the maintainers would assign this to you and invite you to the organization soon. I'd suggest that you go through any previously opened PR in Coala. You'll be able to see the list of tests there.

[2018-12-16 22:21] jayvdb opened #581 "Update sample travis.yml"
The example travis.yml should be updated to be

[code]

[2018-12-17 10:39] bharatpurohit97 opened #582 "update year in license."
In the footer presently it is `©2017, The coala Developers`

[2018-12-22 03:39] anand372 commented on #582
Can I be issued this issue

[2018-12-23 08:43] jayantsudo24 commented on #582
Hello I am interested to pick up this issue <https://github.com/coala/documentation/issues/582> ,

[2018-12-23 09:00] jayantsudo24 commented on #579
Additional comma after time

just fine

[2018-12-23 09:49] jayantsudo24 commented on #582
Okay, actually corobo was down I don't know for some reason.. thanks for informing

[2018-12-23 19:40] jayantsudo24 commented on #581
Hello, get me assigned for this.

[2018-12-24 17:10] CalciumCat commented on #582
Hi :) Does thi still need fixing?

[2018-12-25 12:05] bharatpurohit97 commented on #582
@CalciumCat to work on any issue  you need to be `assigned` to the issue as mentioned in [Newcomers Guide](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html), and First you need to be a `member`, ping maintainers for invitation. Do not make PR before.

[2018-12-25 12:10] bharatpurohit97 commented on #582
@Jain-Aditya ask on channel to get `assigned`, and first you need to be member ask for invitation to maintainers as well.

[2019-01-03 18:13] sambhavkaul commented on #582
Hey, is this issue still open ? Can I work on it ?

[2019-01-06 05:34] budukhyash commented on #582
@sambhavkaul Yes this issue is open.Please contact here https://gitter.im/coala/coala to get it assigned.
Ping me if you need any help.

[2019-01-06 05:48] sambhavkaul commented on #582
@budukhyash I already did but no one responded. Thanks btw

[2019-01-06 05:55] budukhyash commented on #582
@sambhavkaul wait for the maintainers to come online.They will surely assign it to you

[2019-01-07 03:57] aliasgar12 commented on #580
Can I be assigned this issue ?

[2019-01-07 17:39] PHANTOM956 commented on #579
hey can i be assigned to this issue..???

[2019-01-08 02:56] aliasgar12 commented on #580
I went through few of the open pull request and found out that the following checks were missing from the FAQ list for the question "What are those things failing/passing on my Pull Request?"  -

1. continuous-integration/travis-ci/pr
2. deploy/netlify
3. review/gitmate/manual/pr

Please advise which ones need to be added. Also, since I am unaware of their functionalities, where can I get a proper

[2019-01-08 11:44] shashank-b commented on #579
@PHANTOM956 you might want to leave a text on the gitter channel.

[2019-01-08 16:34] rohanrajpal opened #588 "Improvement in the Installation guide ( Docker Part )"
I tried to install coala via Docker using the following guide:
https://docs.coala.io/en/latest/Users/Install.html

Not being familiar with Docker, I would have saved some time if a link for the following page was in the install via Docker section:
http://docs.coala.io/en/latest/Users/Docker_Image.html

@li-boxuan Migrated the issue here, thanks for helping !

[2019-01-09 08:55] shashank-b commented on #580
Hey @aliasgar12
Please work on `review/gitmate/manual/pr` for this PR, as it has none of the existing points cover anything remotely related to it.
For the description part, it is quite similar to `review/gitmate/manual` and you can get a clearer idea by looking at some unapproved and approved PRs and reading about the Review process. If you still have any questions, be sure to drop a message on t

[2019-01-09 09:01] shashank-b opened #589 "FAQ.rst: Two of the tests need to be changed."
In the section "What are those things failing/passing on my Pull Request?" in Help/FAQ.rst, the descriptions of `codecov/project` and `ci/circleCI` should be replaced by those of `continuous-integration/travis-ci/pr` and `deploy/netlify`.

[2019-01-09 16:42] aliasgar12 commented on #580
Thank you @shashank-b . I will let you know if I have anymore questions.

[2019-01-11 03:43] ironbatshashank commented on #589
I would like to work on this issue. Can somebody please assign me this.

[2019-01-13 12:18] uds5501 commented on #589
@shashank-b  I would love to take up this issue as a newcomer!

[2019-01-13 14:03] ironbatshashank commented on #589
@shashank-b Can you please elaborate the file location of continuous-integration/travis-ci/pr and deploy/netlify .

[2019-01-15 21:42] Anmolbansal1 commented on #581
@jayvdb can i work on this issue?

[2019-01-26 10:39] Anmolbansal1 commented on #581
![](https://github.trello.services/images/mini-trello-icon.png) [Project](https://trello.com/c/pIL6SNol/1-project)

[2019-01-31 05:47] #581 closed

[2019-02-01 12:34] sanchit48 opened #594 "Improvements in the README.rst"
- > This is the official documentation for coala, and it is online at https://docs.coala.io. The coala repository can be found here.

It should be kept clear that the Documentation is in the coala repository. So the line should be
   something like `The documentation resides in the coala repository which can be found here`

- > pip3 install -r requirements.txt

This command should be executed insi

[2019-02-02 11:04] 123vivekr commented on #579
Please assign this issue to me

[2019-02-03 08:33] jayvdb opened #595 "Fix external links which point to internal pages"
The following should all be using relative links to the internal page, like done in `coala_as_Git_Hook.rst`.

[code]

[2019-02-04 11:09] Gromy1211 commented on #595
Hi! Can I be assigned to this? (●'◡'●)

[2019-02-04 18:09] amitvampire commented on #595
Hello,I m new to coala and I want to work on this issue. So, @jayvdb can you please elaborate this issue ?

[2019-02-06 11:07] Gromy1211 commented on #595
Thx for inviting me!! Can I be assigned to this issue now? I am working on it.😉 Sorry for sending too much messages if it disturbs you.😰

[2019-02-06 15:44] jayvdb commented on #595
@amitvampire , follow https://coala.io/newcomer - only ask to be assigned to newcomer issues that you know how to solve. i.e. do not need assistance to understand the problem.

[2019-02-14 00:23] #595 closed

[2019-03-12 03:44] xurror commented on #594
I would like to work on this issue if it's not a newcomer issue

[2019-03-12 04:03] xurror commented on #588
Please assign me to this issue

[2019-03-12 05:07] xurror commented on #535
Please i would like to be assigned to this issue

[2019-03-15 12:04] theParadoxicalWizard commented on #589
can anybody please assign this to me?

[2019-03-23 12:20] dev-313 commented on #582
Can you please assign me this issue ?

[2019-04-01 13:29] xiaoluLucy814 commented on #589
Hey, I would like to work on this issue!

[2019-04-01 13:29] xiaoluLucy814 commented on #589
I would like to work on this issue!

[2019-05-31 07:25] kushthedude commented on #594
@KVGarg A `New Comers Issue` ,

[2019-06-15 19:24] PrajwalM2212 opened #597 "Add documentation on how to write configuration in TOML"

[2019-08-06 17:10] #597 closed

[2019-09-21 16:07] namdnguyen opened #600 "Add pipx installation method"
A great alternative to running coala in Docker or in a virtualenv environment is [pipx](https://pipxproject.github.io/pipx/). It lets you install python packages in an isolated environment, so you can use it without having to activate a virtual environment or installing directly in python.

pipx is great for CLI tools, so I use it for things like awscli, black, cookiecutter, pipenv, etc.

Coala do

[2019-10-07 14:13] espatatis commented on #588
I'd like to get this issue assigned.

[2019-10-07 14:14] espatatis commented on #594
I'd like to get this issue assigned.

[2019-11-26 17:47] arzoo14 commented on #579
@abhishalya
As u have guided me on the Gitter channel, I am working on this issue and will be submitting a PR soon.

[2019-12-10 15:01] Ifeanyijasper commented on #589
@shashank-b Please assign this issue to me.

[2019-12-11 00:14] Ifeanyijasper commented on #589
Please someone should assign this issue to me

[2019-12-14 03:53] viragumathe5 commented on #567
@AprajitaSingh, are you still working on this issue ??

[2020-03-18 13:43] ashwinpn commented on #589
take

[2020-04-14 04:27] shivaylamba opened #604 "Typos across Documentation"
Issue has been raised to fix issues in the documentation .
Already fixed in the PR #603

[2020-04-14 04:29] shivaylamba commented on #604
@Makman2 Please review

[2020-04-16 07:35] Chaitanyassr commented on #567
Looks like there is no PR made . Can i work on this issue.

[2020-05-13 13:20] atharvasune commented on #589
Is this issue still open, if yes i would like to work on it

[2020-08-28 06:06] swapniljha001 commented on #589
Is this issue resolved, yet?